template/trinity-partch-march/trinity-large-preview:free-cgo/row_146_update_3_template_20260311_020448.yaml
AWSTemplateFormatVersion: '2010-09-09'
Description: Automated Image Analysis Pipeline with S3, Lambda, Step Functions, Rekognition, and SNS

Parameters:
  PhoneNumber:
    Type: String
    Default: "+1234567890"
    Description: Phone number to receive SMS alerts (E.164 format)

Resources:
  LambdaExecutionRole:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
            Action: sts:AssumeRole
      ManagedPolicyArns:
        - arn:aws:iam::aws:policy/service-role/AWSLambdaBasicExecutionRole
      Policies:
        - PolicyName: RekognitionAccess
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - rekognition:DetectLabels
                Resource: '*'
        - PolicyName: S3Access
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - s3:GetObject
                Resource: !Sub 'arn:${AWS::Partition}:s3:::${ImageAnalysisBucket}/*'
        - PolicyName: SNSAccess
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - sns:Publish
                Resource: '*'

  ImageAnalysisLambda:
    Type: AWS::Lambda::Function
    Properties:
      Runtime: python3.12
      Handler: index.lambda_handler
      Code:
        ZipFile: |
          import json
          import boto3
          from botocore.exceptions import ClientError

          rekognition = boto3.client('rekognition')

          def lambda_handler(event, context):
              s3_bucket = event['Records'][0]['s3']['bucket']['name']
              s3_key = event['Records'][0]['s3']['object']['key']

              try:
                  response = rekognition.detect_labels(
                      Image={
                          'S3Object': {
                              'Bucket': s3_bucket,
                              'Name': s3_key
                          }
                      },
                      MaxLabels=10
                  )

                  contains_human = any(label['Name'].lower() == 'person' for label in response['Labels'])

                  return {
                      'statusCode': 200,
                      'body': json.dumps({
                          'containsHuman': contains_human,
                          'labels': [label['Name'] for label in response['Labels']]
                      })
                  }
              except ClientError as e:
                  return {
                      'statusCode': 500,
                      'body': json.dumps({'error': str(e)})
                  }
      Role: !GetAtt LambdaExecutionRole.Arn

  SendAlertLambda:
    Type: AWS::Lambda::Function
    Properties:
      Runtime: python3.12
      Handler: index.lambda_handler
      Code:
        ZipFile: |
          import json
          import boto3
          from botocore.exceptions import ClientError

          sns = boto3.client('sns')

          def lambda_handler(event, context):
              s3_bucket = event['s3Bucket']
              s3_key = event['s3Key']

              try:
                  message = f"Human detected in image: s3://{s3_bucket}/{s3_key}"
                  sns.publish(
                      PhoneNumber= '{{resolve:ssm-secure:/image-analysis/sms-number:1}}',
                      Message=message
                  )

                  return {
                      'statusCode': 200,
                      'body': json.dumps({'message': 'Alert sent successfully'})
                  }
              except ClientError as e:
                  return {
                      'statusCode': 500,
                      'body': json.dumps({'error': str(e)})
                  }
      Role: !GetAtt LambdaExecutionRole.Arn

  StepFunctionsRole:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: states.amazonaws.com
            Action: sts:AssumeRole
      ManagedPolicyArns:
        - arn:aws:iam::aws:policy/service-role/AWSLambdaRole
      Policies:
        - PolicyName: S3Access
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - s3:GetObject
                Resource: !Sub 'arn:${AWS::Partition}:s3:::${ImageAnalysisBucket}/*'

  ImageAnalysisStateMachine:
    Type: AWS::StepFunctions::StateMachine
    Properties:
      DefinitionString: !Sub |
        {
          "StartAt": "AnalyzeImage",
          "States": {
            "AnalyzeImage": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "${ImageAnalysisLambdaArn}",
                "Payload": {
                  "s3Bucket.$": "$.s3Bucket",
                  "s3Key.$": "$.s3Key"
                }
              },
              "ResultPath": "$.rekognitionResult",
              "Next": "CheckForHumans"
            },
            "CheckForHumans": {
              "Type": "Choice",
              "Choices": [
                {
                  "Variable": "$.rekognitionResult.containsHuman",
                  "BooleanEquals": true,
                  "Next": "SendAlert"
                }
              ],
              "Default": "End"
            },
            "SendAlert": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "${SendAlertLambdaArn}",
                "Payload": {
                  "s3Bucket.$": "$.s3Bucket",
                  "s3Key.$": "$.s3Key"
                }
              },
              "End": true
            },
            "End": {
              "Type": "Pass",
              "End": true
            }
          }
        }
      DefinitionSubstitutions:
        ImageAnalysisLambdaArn: !GetAtt ImageAnalysisLambda.Arn
        SendAlertLambdaArn: !GetAtt SendAlertLambda.Arn
      RoleArn: !GetAtt StepFunctionsRole.Arn

  ImageAnalysisBucket:
    Type: AWS::S3::Bucket
    Properties:
      NotificationConfiguration:
        LambdaConfigurations:
          - Event: s3:ObjectCreated:*
            Function: !GetAtt ImageAnalysisLambda.Arn

  ImageAnalysisBucketPolicy:
    Type: AWS::S3::BucketPolicy
    Properties:
      Bucket: !Ref ImageAnalysisBucket
      PolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal: '*'
            Action: s3:GetObject
            Resource: !Sub 'arn:${AWS::Partition}:s3:::${ImageAnalysisBucket}/*'

  SNSTopic:
    Type: AWS::SNS::Topic
    Properties:
      Subscription:
        - Endpoint: !Ref PhoneNumber
          Protocol: sms

Outputs:
  ImageAnalysisBucketName:
    Description: Name of the S3 bucket for image analysis
    Value: !Ref ImageAnalysisBucket
  StateMachineArn:
    Description: ARN of the Step Functions state machine
    Value: !Ref ImageAnalysisStateMachine