template/trinity-large-preview:free-sec-cgo-simple/row_140_update_2_template_20260330_094034.yaml
AWSTemplateFormatVersion: '2010-09-09'
Resources:
  CalculatorStateMachine:
    Type: AWS::StepFunctions::StateMachine
    Properties:
      StateMachineName: Calculator-StateMachine
      DefinitionString: |
        {
          "StartAt": "ChoiceState",
          "States": {
            "ChoiceState": {
              "Type": "Choice",
              "Choices": [
                {
                  "Variable": "$.operator",
                  "StringEquals": "add",
                  "Next": "Add"
                },
                {
                  "Variable": "$.operator",
                  "StringEquals": "subtract",
                  "Next": "Subtract"
                },
                {
                  "Variable": "$.operator",
                  "StringEquals": "multiply",
                  "Next": "Multiply"
                },
                {
                  "Variable": "$.operator",
                  "StringEquals": "divide",
                  "Next": "Divide"
                }
              ],
              "Default": "FailState"
            },
            "Add": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": {"Ref": "CalculatorFunction"},
                "Payload": {
                  "operator": "add",
                  "operands": "$.operands"
                }
              },
              "End": true
            },
            "Subtract": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": {"Ref": "CalculatorFunction"},
                "Payload": {
                  "operator": "subtract",
                  "operands": "$.operands"
                }
              },
              "End": true
            },
            "Multiply": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": {"Ref": "CalculatorFunction"},
                "Payload": {
                  "operator": "multiply",
                  "operands": "$.operands"
                }
              },
              "End": true
            },
            "Divide": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": {"Ref": "CalculatorFunction"},
                "Payload": {
                  "operator": "divide",
                  "operands": "$.operands"
                }
              },
              "End": true
            },
            "FailState": {
              "Type": "Fail",
              "Cause": "Unsupported operator",
              "Error": "UnsupportedOperator"
            }
          }
        }
      RoleArn: !GetAtt StepFunctionsRole.Arn

  CalculatorFunction:
    Type: AWS::Lambda::Function
    Properties:
      FunctionName: Calculator
      Runtime: python3.12
      Handler: index.handler
      Code:
        ZipFile: |
          import json
          def handler(event, context):
              operator = event.get('operator')
              operands = event.get('operands', [])
              if operator == 'add':
                  result = sum(operands)
              elif operator == 'subtract':
                  result = operands[0] - sum(operands[1:]) if len(operands) > 1 else operands[0]
              elif operator == 'multiply':
                  result = 1
                  for num in operands:
                      result *= num
              elif operator == 'divide':
                  if len(operands) < 2 or operands[1] == 0:
                      raise ValueError("Invalid operands for division")
                  result = operands[0] / operands[1]
              else:
                  raise ValueError("Unsupported operator")
              return {"result": result}
      Role: !GetAtt LambdaRole.Arn
      Timeout: 30
      MemorySize: 128
      Environment:
        Variables:
          NODE_ENV: production

  LambdaLogGroup:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName: !Sub "/aws/lambda/${CalculatorFunction}"
      RetentionInDays: 3

  StepFunctionsRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: StepFunctionsCalculatorRole
      AssumeRolePolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: Allow
            Principal:
              Service: states.amazonaws.com
            Action: sts:AssumeRole
      ManagedPolicyArns:
        - arn:aws:iam::aws:policy/service-role/AWSLambdaRole
      PermissionsBoundary: !Sub "arn:${AWS::Partition}:iam::${AWS::AccountId}:policy/LambdaPermissionsBoundary"

  LambdaRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: LambdaCalculatorRole
      AssumeRolePolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
            Action: sts:AssumeRole
      ManagedPolicyArns:
        - arn:aws:iam::aws:policy/service-role/AWSLambdaBasicExecutionRole
      PermissionsBoundary: !Sub "arn:${AWS::Partition}:iam::${AWS::AccountId}:policy/LambdaPermissionsBoundary"
      Policies:
        - PolicyName: LambdaPolicy
          PolicyDocument:
            Version: "2012-10-17"
            Statement:
              - Effect: Allow
                Action:
                  - logs:CreateLogGroup
                  - logs:CreateLogStream
                  - logs:PutLogEvents
                Resource: !Sub "arn:${AWS::Partition}:logs:${AWS::Region}:${AWS::AccountId}:log-group:/aws/lambda/${CalculatorFunction}:*"

Outputs:
  StateMachineArn:
    Description: Step Functions Calculator State Machine ARN
    Value: !Ref CalculatorStateMachine
  LambdaFunctionArn:
    Description: Calculator Lambda Function ARN
    Value: !GetAtt CalculatorFunction.Arn