template/deepseek-chat/row_140_update_1_template_20250510_151307.yaml
AWSTemplateFormatVersion: '2010-09-09'
Description: Serverless Calculator using Step Functions and Lambda

Resources:
  LambdaExecutionRole:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
            Action: sts:AssumeRole
      Path: /
      Policies:
        - PolicyName: LambdaBasicExecution
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - logs:CreateLogGroup
                  - logs:CreateLogStream
                  - logs:PutLogEvents
                Resource: arn:aws:logs:*:*:*

  StepFunctionsExecutionRole:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: states.amazonaws.com
            Action: sts:AssumeRole
      Path: /
      Policies:
        - PolicyName: InvokeLambda
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action: lambda:InvokeFunction
                Resource: !GetAtt CalculatorFunction.Arn

  CalculatorFunctionLogGroup:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName: !Sub /aws/lambda/${CalculatorFunction}
      RetentionInDays: 3

  CalculatorFunction:
    Type: AWS::Lambda::Function
    Properties:
      FunctionName: Calculator
      Handler: index.handler
      Runtime: python3.9
      Role: !GetAtt LambdaExecutionRole.Arn
      Code:
        ZipFile: |
          import json

          def handler(event, context):
              operator = event.get('operator')
              operands = event.get('operands', [])
              
              if not operator or not operands or len(operands) != 2:
                  raise ValueError("Invalid input: operator and two operands required")
              
              a, b = operands
              
              if operator == 'add':
                  result = a + b
              elif operator == 'subtract':
                  result = a - b
              elif operator == 'multiply':
                  result = a * b
              elif operator == 'divide':
                  if b == 0:
                      raise ValueError("Cannot divide by zero")
                  result = a / b
              else:
                  raise ValueError(f"Unsupported operator: {operator}")
              
              return {
                  'result': result,
                  'operation': f"{a} {operator} {b}",
                  'success': True
              }
      Timeout: 10
      MemorySize: 128

  CalculatorStateMachine:
    Type: AWS::StepFunctions::StateMachine
    Properties:
      StateMachineName: Calculator-StateMachine
      RoleArn: !GetAtt StepFunctionsExecutionRole.Arn
      DefinitionString: !Sub |
        {
          "Comment": "Serverless Calculator Workflow",
          "StartAt": "DetermineOperation",
          "States": {
            "DetermineOperation": {
              "Type": "Choice",
              "Choices": [
                {
                  "Variable": "$.operator",
                  "StringEquals": "add",
                  "Next": "AddOperation"
                },
                {
                  "Variable": "$.operator",
                  "StringEquals": "subtract",
                  "Next": "SubtractOperation"
                },
                {
                  "Variable": "$.operator",
                  "StringEquals": "multiply",
                  "Next": "MultiplyOperation"
                },
                {
                  "Variable": "$.operator",
                  "StringEquals": "divide",
                  "Next": "DivideOperation"
                }
              ],
              "Default": "UnsupportedOperation"
            },
            "AddOperation": {
              "Type": "Task",
              "Resource": "${CalculatorFunction.Arn}",
              "Parameters": {
                "operator": "add",
                "operands": "$.operands"
              },
              "End": true
            },
            "SubtractOperation": {
              "Type": "Task",
              "Resource": "${CalculatorFunction.Arn}",
              "Parameters": {
                "operator": "subtract",
                "operands": "$.operands"
              },
              "End": true
            },
            "MultiplyOperation": {
              "Type": "Task",
              "Resource": "${CalculatorFunction.Arn}",
              "Parameters": {
                "operator": "multiply",
                "operands": "$.operands"
              },
              "End": true
            },
            "DivideOperation": {
              "Type": "Task",
              "Resource": "${CalculatorFunction.Arn}",
              "Parameters": {
                "operator": "divide",
                "operands": "$.operands"
              },
              "End": true
            },
            "UnsupportedOperation": {
              "Type": "Fail",
              "Error": "UnsupportedOperator",
              "Cause": "The operator specified is not supported."
            }
          }
        }

Outputs:
  StateMachineARN:
    Description: ARN of the Calculator State Machine
    Value: !Ref CalculatorStateMachine
  LambdaFunctionARN:
    Description: ARN of the Calculator Lambda Function
    Value: !GetAtt CalculatorFunction.Arn
  LogGroupARN:
    Description: ARN of the CloudWatch Logs Group
    Value: !GetAtt CalculatorFunctionLogGroup.Arn