template/deepseek-reasoner/row_146_update_3_template_20250531_133628.yaml
AWSTemplateFormatVersion: '2010-09-09'
Description: Automated image analysis pipeline with human face detection and SMS alerts

Parameters:
  PhoneNumber:
    Type: String
    Description: E.164 format phone number for SMS alerts (e.g., +11234567890)

Resources:
  ImageBucket:
    Type: AWS::S3::Bucket
    Properties:
      BucketEncryption:
        ServerSideEncryptionConfiguration:
          - ServerSideEncryptionByDefault:
              SSEAlgorithm: AES256

  BucketNotification:
    Type: AWS::S3::BucketNotification
    Properties:
      Bucket: !Ref ImageBucket
      LambdaFunctionConfigurations:
        - Event: s3:ObjectCreated:*
          Function: !GetAtt TriggerLambda.Arn

  BucketPolicy:
    Type: AWS::S3::BucketPolicy
    Properties:
      Bucket: !Ref ImageBucket
      PolicyDocument:
        Statement:
          - Effect: Allow
            Principal: 
              Service: rekognition.amazonaws.com
            Action: s3:GetObject
            Resource: !Sub '${ImageBucket.Arn}/*'
            Condition:
              StringEquals:
                aws:SourceAccount: !Ref 'AWS::AccountId'

  TriggerLambdaRole:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
            Action: sts:AssumeRole
      ManagedPolicyArns:
        - arn:aws:iam::aws:policy/service-role/AWSLambdaBasicExecutionRole
      Policies:
        - PolicyName: StepFunctionsAccess
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action: states:StartExecution
                Resource: !GetAtt AnalysisStateMachine.Arn

  TriggerLambda:
    Type: AWS::Lambda::Function
    Properties:
      Runtime: python3.12
      Handler: index.handler
      Role: !GetAtt TriggerLambdaRole.Arn
      Timeout: 10
      Environment:
        Variables:
          STATE_MACHINE_ARN: !Ref AnalysisStateMachine
      Code:
        ZipFile: |
          import json
          import boto3
          import os
          def handler(event, context):
              sfn = boto3.client('stepfunctions')
              for record in event['Records']:
                  bucket = record['s3']['bucket']['name']
                  key = record['s3']['object']['key']
                  sfn.start_execution(
                      stateMachineArn=os.environ['STATE_MACHINE_ARN'],
                      input=json.dumps({'bucket': bucket, 'key': key})
                  )

  S3TriggerPermission:
    Type: AWS::Lambda::Permission
    Properties:
      Action: lambda:InvokeFunction
      FunctionName: !GetAtt TriggerLambda.Arn
      Principal: s3.amazonaws.com
      SourceArn: !GetAtt ImageBucket.Arn

  FaceDetectionLambdaRole:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
            Action: sts:AssumeRole
      ManagedPolicyArns:
        - arn:aws:iam::aws:policy/service-role/AWSLambdaBasicExecutionRole
      Policies:
        - PolicyName: RekognitionS3Access
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action: rekognition:DetectFaces
                Resource: '*'
              - Effect: Allow
                Action: s3:GetObject
                Resource: !Sub '${ImageBucket.Arn}/*'

  FaceDetectionLambda:
    Type: AWS::Lambda::Function
    Properties:
      Runtime: python3.12
      Handler: index.handler
      Role: !GetAtt FaceDetectionLambdaRole.Arn
      Timeout: 30
      Code:
        ZipFile: |
          import json
          import boto3
          def handler(event, context):
              rekognition = boto3.client('rekognition')
              response = rekognition.detect_faces(
                  Image={'S3Object': {'Bucket': event['bucket'], 'Name': event['key']}},
                  Attributes=['ALL']
              )
              return {
                  'hasFaces': len(response['FaceDetails']) > 0,
                  'faceCount': len(response['FaceDetails'])
              }

  AlertTopic:
    Type: AWS::SNS::Topic
    Properties:
      Subscription:
        - Protocol: sms
          Endpoint: !Ref PhoneNumber

  AlertLambdaRole:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
            Action: sts:AssumeRole
      ManagedPolicyArns:
        - arn:aws:iam::aws:policy/service-role/AWSLambdaBasicExecutionRole
      Policies:
        - PolicyName: SNSPublish
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action: sns:Publish
                Resource: !Ref AlertTopic

  AlertLambda:
    Type: AWS::Lambda::Function
    Properties:
      Runtime: python3.12
      Handler: index.handler
      Role: !GetAtt AlertLambdaRole.Arn
      Timeout: 10
      Environment:
        Variables:
          TOPIC_ARN: !Ref AlertTopic
      Code:
        ZipFile: |
          import json
          import boto3
          import os
          def handler(event, context):
              sns = boto3.client('sns')
              message = f"Human face detected! {event['faceCount']} face(s) in image: s3://{event['bucket']}/{event['key']}"
              sns.publish(
                  TopicArn=os.environ['TOPIC_ARN'],
                  Message=message
              )

  StateMachineRole:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: states.amazonaws.com
            Action: sts:AssumeRole
      Policies:
        - PolicyName: LambdaInvoke
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action: lambda:InvokeFunction
                Resource: 
                  - !GetAtt FaceDetectionLambda.Arn
                  - !GetAtt AlertLambda.Arn

  AnalysisStateMachine:
    Type: AWS::StepFunctions::StateMachine
    Properties:
      RoleArn: !GetAtt StateMachineRole.Arn
      DefinitionString: 
        !Sub 
          - |
            {
              "StartAt": "DetectFaces",
              "States": {
                "DetectFaces": {
                  "Type": "Task",
                  "Resource": "arn:aws:states:::lambda:invoke",
                  "Parameters": {
                    "FunctionName": "${FaceDetectionLambdaArn}",
                    "Payload": {
                      "bucket.$": "$.bucket",
                      "key.$": "$.key"
                    }
                  },
                  "Next": "CheckForFaces"
                },
                "CheckForFaces": {
                  "Type": "Choice",
                  "Choices": [
                    {
                      "Variable": "$.Payload.hasFaces",
                      "BooleanEquals": true,
                      "Next": "SendAlert"
                    }
                  ],
                  "Default": "End"
                },
                "SendAlert": {
                  "Type": "Task",
                  "Resource": "arn:aws:states:::lambda:invoke",
                  "Parameters": {
                    "FunctionName": "${AlertLambdaArn}",
                    "Payload": {
                      "bucket.$": "$.bucket",
                      "key.$": "$.key",
                      "faceCount.$": "$.Payload.faceCount"
                    }
                  },
                  "End": true
                },
                "End": {
                  "Type": "Pass",
                  "End": true
                }
              }
            }
          - 
            FaceDetectionLambdaArn: !GetAtt FaceDetectionLambda.Arn
            AlertLambdaArn: !GetAtt AlertLambda.Arn

Outputs:
  BucketName:
    Value: !Ref ImageBucket
    Description: Name of the image upload bucket
  StateMachineARN:
    Value: !Ref AnalysisStateMachine
    Description: Step Functions State Machine ARN