template/deepseek-reasoner/row_146_update_9_template_20250531_135257.yaml
AWSTemplateFormatVersion: '2010-09-09'
Description: Automated image analysis pipeline with human face detection and SMS alerts

Parameters:
  PhoneNumber:
    Type: String
    Description: E.164 format phone number for SMS alerts (e.g., +11234567890)

Resources:
  TriggerLambdaRole:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
            Action: sts:AssumeRole
      ManagedPolicyArns:
        - arn:aws:iam::aws:policy/service-role/AWSLambdaBasicExecutionRole
      Policies:
        - PolicyName: StepFunctionsAccess
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action: states:StartExecution
                Resource: !GetAtt AnalysisStateMachine.Arn

  FaceDetectionLambdaRole:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
            Action: sts:AssumeRole
      ManagedPolicyArns:
        - arn:aws:iam::aws:policy/service-role/AWSLambdaBasicExecutionRole
      Policies:
        - PolicyName: RekognitionS3Access
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action: rekognition:DetectFaces
                Resource: '*'
              - Effect: Allow
                Action: s3:GetObject
                Resource: !Sub 'arn:aws:s3:::${ImageBucket}/*'

  AlertLambdaRole:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
            Action: sts:AssumeRole
      ManagedPolicyArns:
        - arn:aws:iam::aws:policy/service-role/AWSLambdaBasicExecutionRole
      Policies:
        - PolicyName: SNSPublish
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action: sns:Publish
                Resource: !Ref AlertTopic

  StateMachineRole:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: states.amazonaws.com
            Action: sts:AssumeRole
      Policies:
        - PolicyName: LambdaInvoke
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action: lambda:InvokeFunction
                Resource: 
                  - !GetAtt FaceDetectionLambda.Arn
                  - !GetAtt AlertLambda.Arn

  AlertTopic:
    Type: AWS::SNS::Topic
    Properties:
      Subscription:
        - Protocol: sms
          Endpoint: !Ref PhoneNumber

  FaceDetectionLambda:
    Type: AWS::Lambda::Function
    DependsOn: FaceDetectionLambdaRole
    Properties:
      Runtime: python3.12
      Handler: index.handler
      Role: !GetAtt FaceDetectionLambdaRole.Arn
      Timeout: 30
      Code:
        ZipFile: |
          import json
          import boto3
          def handler(event, context):
              rekognition = boto3.client('rekognition')
              response = rekognition.detect_faces(
                  Image={'S3Object': {'Bucket': event['bucket'], 'Name': event['key']}},
                  Attributes=['ALL']
              )
              return {
                  'hasFaces': len(response['FaceDetails']) > 0,
                  'faceCount': len(response['FaceDetails'])
              }

  AlertLambda:
    Type: AWS::Lambda::Function
    DependsOn: 
      - AlertLambdaRole
      - AlertTopic
    Properties:
      Runtime: python3.12
      Handler: index.handler
      Role: !GetAtt AlertLambdaRole.Arn
      Timeout: 10
      Environment:
        Variables:
          TOPIC_ARN: !Ref AlertTopic
      Code:
        ZipFile: |
          import json
          import boto3
          import os
          def handler(event, context):
              sns = boto3.client('sns')
              message = f"Human face detected! {event['faceCount']} face(s) in image: s3://{event['bucket']}/{event['key']}"
              sns.publish(
                  TopicArn=os.environ['TOPIC_ARN'],
                  Message=message
              )

  AnalysisStateMachine:
    Type: AWS::StepFunctions::StateMachine
    DependsOn: 
      - StateMachineRole
      - FaceDetectionLambda
      - AlertLambda
    Properties:
      RoleArn: !GetAtt StateMachineRole.Arn
      DefinitionString: !Sub 
        - |
          {
            "StartAt": "DetectFaces",
            "States": {
              "DetectFaces": {
                "Type": "Task",
                "Resource": "arn:aws:states:::lambda:invoke",
                "Parameters": {
                  "FunctionName": "${FaceDetectionLambdaArn}",
                  "Payload": {
                    "bucket.$": "$.bucket",
                    "key.$": "$.key"
                  }
                },
                "Next": "CheckForFaces",
                "Retry": [
                  {
                    "ErrorEquals": ["States.ALL"],
                    "IntervalSeconds": 2,
                    "MaxAttempts": 3,
                    "BackoffRate": 1.5
                  }
                ]
              },
              "CheckForFaces": {
                "Type": "Choice",
                "Choices": [
                  {
                    "Variable": "$.Payload.hasFaces",
                    "BooleanEquals": true,
                    "Next": "SendAlert"
                  }
                ],
                "Default": "Success"
              },
              "SendAlert": {
                "Type": "Task",
                "Resource": "arn:aws:states:::lambda:invoke",
                "Parameters": {
                  "FunctionName": "${AlertLambdaArn}",
                  "Payload": {
                    "bucket.$": "$.bucket",
                    "key.$": "$.key",
                    "faceCount.$": "$.Payload.faceCount"
                  }
                },
                "End": true,
                "Retry": [
                  {
                    "ErrorEquals": ["States.ALL"],
                    "IntervalSeconds": 2,
                    "MaxAttempts": 3,
                    "BackoffRate": 1.5
                  }
                ]
              },
              "Success": {
                "Type": "Succeed"
              }
            }
          }
        - 
          FaceDetectionLambdaArn: !GetAtt FaceDetectionLambda.Arn
          AlertLambdaArn: !GetAtt AlertLambda.Arn

  TriggerLambda:
    Type: AWS::Lambda::Function
    DependsOn: 
      - TriggerLambdaRole
      - AnalysisStateMachine
    Properties:
      Runtime: python3.12
      Handler: index.handler
      Role: !GetAtt TriggerLambdaRole.Arn
      Timeout: 10
      Environment:
        Variables:
          STATE_MACHINE_ARN: !Ref AnalysisStateMachine
      Code:
        ZipFile: |
          import json
          import boto3
          import os
          def handler(event, context):
              sfn = boto3.client('stepfunctions')
              for record in event['Records']:
                  bucket = record['s3']['bucket']['name']
                  key = record['s3']['object']['key']
                  sfn.start_execution(
                      stateMachineArn=os.environ['STATE_MACHINE_ARN'],
                      input=json.dumps({'bucket': bucket, 'key': key})
                  )

  ImageBucket:
    Type: AWS::S3::Bucket
    Properties:
      BucketEncryption:
        ServerSideEncryptionConfiguration:
          - ServerSideEncryptionByDefault:
              SSEAlgorithm: AES256
      NotificationConfiguration:
        LambdaConfigurations:
          - Event: s3:ObjectCreated:*
            Function: !GetAtt TriggerLambda.Arn

  BucketPolicy:
    Type: AWS::S3::BucketPolicy
    DependsOn: ImageBucket
    Properties:
      Bucket: !Ref ImageBucket
      PolicyDocument:
        Statement:
          - Effect: Allow
            Principal: 
              Service: rekognition.amazonaws.com
            Action: s3:GetObject
            Resource: !Sub 'arn:aws:s3:::${ImageBucket}/*'
            Condition:
              StringEquals:
                aws:SourceAccount: !Ref 'AWS::AccountId'

  S3TriggerPermission:
    Type: AWS::Lambda::Permission
    DependsOn: 
      - TriggerLambda
      - ImageBucket
    Properties:
      Action: lambda:InvokeFunction
      FunctionName: !GetAtt TriggerLambda.Arn
      Principal: s3.amazonaws.com
      SourceArn: !GetAtt ImageBucket.Arn
      SourceAccount: !Ref 'AWS::AccountId'

Outputs:
  BucketName:
    Value: !Ref ImageBucket
    Description: Name of the image upload bucket
  StateMachineARN:
    Value: !Ref AnalysisStateMachine
    Description: Step Functions State Machine ARN