template/trinity-large-preview:free-i_ir/row_140_update_1_template_20260328_101031.yaml
AWSTemplateFormatVersion: '2010-09-09'
Description: Serverless Calculator Workflow using Step Functions and Lambda

Resources:
  StateMachineRole:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Version: 2012-10-17
        Statement:
          - Effect: Allow
            Principal:
              Service: states.amazonaws.com
            Action: sts:AssumeRole
      ManagedPolicyArns:
        - arn:aws:iam::aws:policy/service-role/AWSLambdaRole

  LambdaRole:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Version: 2012-10-17
        Statement:
          - Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
            Action: sts:AssumeRole
      ManagedPolicyArns:
        - arn:aws:iam::aws:policy/service-role/AWSLambdaBasicExecutionRole

  CalculatorLogGroup:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName: !Sub "/aws/lambda/${Calculator}"
      RetentionInDays: 3

  Calculator:
    Type: AWS::Lambda::Function
    Properties:
      Handler: index.handler
      Runtime: nodejs18.x
      Code:
        ZipFile: |
          exports.handler = async (event) => {
            const { operator, operands } = event;
            let result;
            switch(operator) {
              case 'add': result = operands[0] + operands[1]; break;
              case 'subtract': result = operands[0] - operands[1]; break;
              case 'multiply': result = operands[0] * operands[1]; break;
              case 'divide': result = operands[1] !== 0 ? operands[0] / operands[1] : 'Error: Division by zero'; break;
              default: throw new Error('Unsupported operator');
            }
            return { result };
          };
      Timeout: 30
      MemorySize: 128
      Role: !GetAtt LambdaRole.Arn
    DependsOn:
      - LambdaRole
      - CalculatorLogGroup

  Calculator-StateMachine:
    Type: AWS::StepFunctions::StateMachine
    Properties:
      DefinitionString: !Sub |
        [
          {
            "StartAt":"ChoiceState",
            "States":{
              "ChoiceState":{
                "Type":"Choice",
                "Choices":[
                  {"Variable":"$.operator","StringEquals":"add","Next":"Add"},
                  {"Variable":"$.operator","StringEquals":"subtract","Next":"Subtract"},
                  {"Variable":"$.operator","StringEquals":"multiply","Next":"Multiply"},
                  {"Variable":"$.operator","StringEquals":"divide","Next":"Divide"}
                ],
                "Default":"FailState"
              },
              "Add":{
                "Type":"Task",
                "Resource":"${Calculator.Arn}",
                "End":true
              },
              "Subtract":{
                "Type":"Task",
                "Resource":"${Calculator.Arn}",
                "End":true
              },
              "Multiply":{
                "Type":"Task",
                "Resource":"${Calculator.Arn}",
                "End":true
              },
              "Divide":{
                "Type":"Task",
                "Resource":"${Calculator.Arn}",
                "End":true
              },
              "FailState":{
                "Type":"Fail",
                "Cause":"Unsupported operator",
                "Error":"UnsupportedOperatorError"
              }
            }
          }
        ]
      RoleArn: !GetAtt StateMachineRole.Arn
    DependsOn:
      - StateMachineRole
      - Calculator

Outputs:
  StateMachineArn:
    Description: ARN of the Step Functions state machine
    Value: !Ref Calculator-StateMachine
  LambdaArn:
    Description: ARN of the Lambda function
    Value: !GetAtt Calculator.Arn