template/trinity-large-preview:free-i_ir/row_141_update_1_template_20260328_101242.yaml
AWSTemplateFormatVersion: '2010-09-09'
Description: Automated Image Recognition Pipeline with Step Functions, S3, and Rekognition

Resources:
  ImageUploadBucket:
    Type: AWS::S3::Bucket
    Properties:
      BucketName: image-recognition-pipeline-bucket
      NotificationConfiguration:
        EventBridgeConfiguration:
          Enabled: true
      BucketEncryption:
        ServerSideEncryptionConfiguration:
          - ServerSideEncryptionByDefault:
              SSEAlgorithm: AES256
    DeletionPolicy: Delete

  ImageRecognitionStateMachine:
    Type: AWS::StepFunctions::StateMachine
    Properties:
      StateMachineName: ImageRecognitionStateMachine
      DefinitionString: |
        {
          "StartAt": "ValidateImage",
          "States": {
            "ValidateImage": {
              "Type": "Task",
              "Resource": "arn:aws:lambda:FUNCTION_ARN",
              "Next": "DetectFaces",
              "Catch": [
                {
                  "ErrorEquals": ["FileValidationError"],
                  "Next": "End"
                }
              ]
            },
            "DetectFaces": {
              "Type": "Task",
              "Resource": "arn:aws:rekognition:FUNCTION_ARN",
              "Next": "CheckResults",
              "Catch": [
                {
                  "ErrorEquals": ["RekognitionError"],
                  "Next": "End"
                }
              ]
            },
            "CheckResults": {
              "Type": "Choice",
              "Choices": [
                {
                  "Variable": "$.Labels",
                  "StringEquals": "Human",
                  "Next": "SendAlert"
                },
                {
                  "Variable": "$.Labels",
                  "StringEquals": "Person",
                  "Next": "SendAlert"
                }
              ],
              "Default": "End"
            },
            "SendAlert": {
              "Type": "Task",
              "Resource": "arn:aws:sns:FUNCTION_ARN",
              "End": true
            },
            "End": {
              "Type": "Succeed"
            }
          }
        }
      RoleArn: !GetAtt StateMachineRole.Arn
    DependsOn: StateMachineRole

  EventBridgeRule:
    Type: AWS::Events::Rule
    Properties:
      EventPattern:
        source:
          - aws.s3
        detail:
          bucket:
            name:
              - image-recognition-pipeline-bucket
          object:
            key:
              - "*.jpg"
              - "*.jpeg"
              - "*.png"
      State: ENABLED
      Targets:
        - Arn: !GetAtt ImageRecognitionStateMachine.Arn
          Id: ImageRecognitionStateMachine
    DependsOn: ImageRecognitionStateMachine

  EventBridgeInvokePermission:
    Type: AWS::Lambda::Permission
    Properties:
      Action: lambda:InvokeFunction
      FunctionName: !GetAtt ImageRecognitionStateMachine.Arn
      Principal: events.amazonaws.com
      SourceArn: !GetAtt EventBridgeRule.Arn
    DependsOn: EventBridgeRule

  StateMachineRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: ImageRecognitionStateMachineRole
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: states.amazonaws.com
            Action: sts:AssumeRole
      Policies:
        - PolicyName: ImageRecognitionPolicy
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - s3:GetObject
                  - s3:ListBucket
                Resource:
                  - !Sub 'arn:aws:s3:::${ImageUploadBucket}'
                  - !Sub 'arn:aws:s3:::${ImageUploadBucket}/*'
              - Effect: Allow
                Action: rekognition:DetectLabels
                Resource: '*'
              - Effect: Allow
                Action: sns:Publish
                Resource: !Ref ImageAlertTopic

  EventBridgeRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: EventBridgeInvokeRole
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: events.amazonaws.com
            Action: sts:AssumeRole
      Policies:
        - PolicyName: EventBridgeInvokePolicy
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action: states:StartExecution
                Resource: !GetAtt ImageRecognitionStateMachine.Arn

  ImageAlertTopic:
    Type: AWS::SNS::Topic
    Properties:
      TopicName: ImageAlertTopic

  ImageAlertSubscription:
    Type: AWS::SNS::Subscription
    Properties:
      Endpoint: +14071113333
      Protocol: sms
      TopicArn: !Ref ImageAlertTopic
    DependsOn: ImageAlertTopic

  EmptyBucketFunction:
    Type: AWS::Lambda::Function
    Properties:
      FunctionName: EmptyImageBucketFunction
      Runtime: nodejs18.x
      Handler: index.handler
      Code:
        ZipFile: |
          exports.handler = async (event) => {
            const AWS = require('aws-sdk');
            const s3 = new AWS.S3();
            const bucketName = 'image-recognition-pipeline-bucket';
            const objects = await s3.listObjectsV2({ Bucket: bucketName }).promise();
            if (objects.Contents && objects.Contents.length > 0) {
              const deleteParams = {
                Bucket: bucketName,
                Delete: {
                  Objects: objects.Contents.map(obj => ({ Key: obj.Key }))
                }
              };
              await s3.deleteObjects(deleteParams).promise();
            }
            return { statusCode: 200, body: 'Bucket emptied successfully' };
          };
      Role: !GetAtt EmptyBucketFunctionRole.Arn
    DependsOn: EmptyBucketFunctionRole

  EmptyBucketFunctionRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: EmptyBucketFunctionRole
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
            Action: sts:AssumeRole
      Policies:
        - PolicyName: S3AccessPolicy
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - s3:ListBucket
                  - s3:DeleteObject
                Resource:
                  - !Sub 'arn:aws:s3:::${ImageUploadBucket}'
                  - !Sub 'arn:aws:s3:::${ImageUploadBucket}/*'
        - PolicyName: CloudWatchLogsPolicy
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - logs:CreateLogGroup
                  - logs:CreateLogStream
                  - logs:PutLogEvents
                Resource: '*'

  EmptyBucketPermission:
    Type: AWS::Lambda::Permission
    Properties:
      Action: lambda:InvokeFunction
      FunctionName: !GetAtt EmptyBucketFunction.Arn
      Principal: sns.amazonaws.com
      SourceArn: !Sub 'arn:aws:s3:::${ImageUploadBucket}'
    DependsOn: EmptyBucketFunction

  EmptyBucketTrigger:
    Type: AWS::SNS::TopicPolicy
    Properties:
      Topics:
        - !Ref ImageAlertTopic
      PolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: s3.amazonaws.com
            Action: sns:Publish
            Resource: !Ref ImageAlertTopic

Metadata:
  AWS::CloudFormation::Interface:
    ParameterGroups:
      - Label:
          default: Image Recognition Pipeline Configuration
        Parameters:
          - ImageUploadBucket
          - ImageRecognitionStateMachine
          - EventBridgeRule
          - StateMachineRole
          - EventBridgeRole
          - ImageAlertTopic
          - ImageAlertSubscription
          - EmptyBucketFunction
          - EmptyBucketPermission
          - EmptyBucketTrigger

Outputs:
  ImageUploadBucket:
    Description: S3 Bucket for Image Uploads
    Value: !Ref ImageUploadBucket
  ImageRecognitionStateMachine:
    Description: Step Functions State Machine ARN
    Value: !GetAtt ImageRecognitionStateMachine.Arn
  ImageAlertTopic:
    Description: SNS Topic ARN for Alerts
    Value: !Ref ImageAlertTopic