template/trinity-large-preview:free-i_ir/row_141_update_4_template_20260328_101729.yaml
AWSTemplateFormatVersion: '2010-09-09'
Description: Automated Image Recognition Pipeline with Step Functions, S3, and Rekognition

Resources:
  ImageUploadBucket:
    Type: AWS::S3::Bucket
    Properties:
      BucketName: image-recognition-pipeline-bucket
      BucketEncryption:
        ServerSideEncryptionConfiguration:
          - ServerSideEncryptionByDefault:
              SSEAlgorithm: AES256
    DeletionPolicy: Delete

  ImageRecognitionStateMachine:
    Type: AWS::StepFunctions::StateMachine
    Properties:
      StateMachineName: ImageRecognitionStateMachine
      DefinitionString: |
        {
          "StartAt": "ValidateImage",
          "States": {
            "ValidateImage": {
              "Type": "Task",
              "Resource": "arn:aws:lambda:us-east-1:123456789012:function:ValidateImageFunction",
              "Next": "DetectFaces",
              "Catch": [
                {
                  "ErrorEquals": ["FileValidationError"],
                  "Next": "End"
                }
              ]
            },
            "DetectFaces": {
              "Type": "Task",
              "Resource": "arn:aws:lambda:us-east-1:123456789012:function:DetectFacesFunction",
              "Next": "CheckResults",
              "Catch": [
                {
                  "ErrorEquals": ["RekognitionError"],
                  "Next": "End"
                }
              ]
            },
            "CheckResults": {
              "Type": "Choice",
              "Choices": [
                {
                  "Variable": "$.Labels",
                  "StringEquals": "Human",
                  "Next": "SendAlert"
                },
                {
                  "Variable": "$.Labels",
                  "StringEquals": "Person",
                  "Next": "SendAlert"
                }
              ],
              "Default": "End"
            },
            "SendAlert": {
              "Type": "Task",
              "Resource": "arn:aws:lambda:us-east-1:123456789012:function:SendAlertFunction",
              "End": true
            },
            "End": {
              "Type": "Succeed"
            }
          }
        }
      RoleArn: !GetAtt StateMachineRole.Arn

  EventBridgeRule:
    Type: AWS::Events::Rule
    Properties:
      EventPattern:
        source:
          - aws.s3
        detail:
          bucket:
            name:
              - image-recognition-pipeline-bucket
          object:
            key:
              - "*.jpg"
              - "*.jpeg"
              - "*.png"
      State: ENABLED
      Targets:
        - Arn: !GetAtt ImageRecognitionStateMachine.Arn
          Id: ImageRecognitionStateMachine

  EventBridgeInvokePermission:
    Type: AWS::Lambda::Permission
    Properties:
      Action: lambda:InvokeFunction
      FunctionName: !GetAtt ImageRecognitionStateMachine.Arn
      Principal: events.amazonaws.com
      SourceArn: !GetAtt EventBridgeRule.Arn

  StateMachineRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: ImageRecognitionStateMachineRole
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: states.amazonaws.com
            Action: sts:AssumeRole
      Policies:
        - PolicyName: ImageRecognitionPolicy
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - s3:GetObject
                  - s3:ListBucket
                Resource:
                  - !Sub 'arn:aws:s3:::${ImageUploadBucket}'
                  - !Sub 'arn:aws:s3:::${ImageUploadBucket}/*'
              - Effect: Allow
                Action: rekognition:DetectLabels
                Resource: '*'
              - Effect: Allow
                Action: sns:Publish
                Resource: !Ref ImageAlertTopic

  EventBridgeRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: EventBridgeInvokeRole
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: events.amazonaws.com
            Action: sts:AssumeRole
      Policies:
        - PolicyName: EventBridgeInvokePolicy
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action: states:StartExecution
                Resource: !GetAtt ImageRecognitionStateMachine.Arn

  ImageAlertTopic:
    Type: AWS::SNS::Topic
    Properties:
      TopicName: ImageAlertTopic

  ImageAlertSubscription:
    Type: AWS::SNS::Subscription
    Properties:
      Endpoint: +14071113333
      Protocol: sms
      TopicArn: !Ref ImageAlertTopic

  ValidateImageFunction:
    Type: AWS::Lambda::Function
    Properties:
      FunctionName: ValidateImageFunction
      Runtime: nodejs24.x
      Handler: index.handler
      Code:
        ZipFile: |
          exports.handler = async (event) => {
            const allowedExtensions = ['.jpg', '.jpeg', '.png'];
            const key = event.Records[0].s3.object.key;
            const extension = key.substring(key.lastIndexOf('.')).toLowerCase();
            if (!allowedExtensions.includes(extension)) {
              throw new Error('FileValidationError: Invalid file extension');
            }
            return { bucket: event.Records[0].s3.bucket.name, key: key };
          };
      Role: !GetAtt ValidateImageFunctionRole.Arn

  ValidateImageFunctionRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: ValidateImageFunctionRole
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
            Action: sts:AssumeRole
      Policies:
        - PolicyName: S3AccessPolicy
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - s3:GetObject
                  - s3:ListBucket
                Resource:
                  - !Sub 'arn:aws:s3:::${ImageUploadBucket}'
                  - !Sub 'arn:aws:s3:::${ImageUploadBucket}/*'
        - PolicyName: CloudWatchLogsPolicy
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - logs:CreateLogGroup
                  - logs:CreateLogStream
                  - logs:PutLogEvents
                Resource: '*'

  DetectFacesFunction:
    Type: AWS::Lambda::Function
    Properties:
      FunctionName: DetectFacesFunction
      Runtime: nodejs24.x
      Handler: index.handler
      Code:
        ZipFile: |
          const AWS = require('aws-sdk');
          const rekognition = new AWS.Rekognition();
          exports.handler = async (event) => {
            const params = {
              Image: {
                S3Object: {
                  Bucket: event.bucket,
                  Name: event.key
                }
              },
              MaxLabels: 10,
              MinConfidence: 80
            };
            const data = await rekognition.detectLabels(params).promise();
            return { Labels: data.Labels.map(label => label.Name) };
          };
      Role: !GetAtt DetectFacesFunctionRole.Arn

  DetectFacesFunctionRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: DetectFacesFunctionRole
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
            Action: sts:AssumeRole
      Policies:
        - PolicyName: RekognitionAccessPolicy
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action: rekognition:DetectLabels
                Resource: '*'
        - PolicyName: S3AccessPolicy
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - s3:GetObject
                  - s3:ListBucket
                Resource:
                  - !Sub 'arn:aws:s3:::${ImageUploadBucket}'
                  - !Sub 'arn:aws:s3:::${ImageUploadBucket}/*'
        - PolicyName: CloudWatchLogsPolicy
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - logs:CreateLogGroup
                  - logs:CreateLogStream
                  - logs:PutLogEvents
                Resource: '*'

  SendAlertFunction:
    Type: AWS::Lambda::Function
    Properties:
      FunctionName: SendAlertFunction
      Runtime: nodejs24.x
      Handler: index.handler
      Code:
        ZipFile: |
          const AWS = require('aws-sdk');
          const sns = new AWS.SNS();
          exports.handler = async (event) => {
            const params = {
              Message: `Face detected in image: ${JSON.stringify(event)}`,
              TopicArn: 'arn:aws:sns:us-east-1:123456789012:ImageAlertTopic'
            };
            await sns.publish(params).promise();
            return { success: true };
          };
      Role: !GetAtt SendAlertFunctionRole.Arn

  SendAlertFunctionRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: SendAlertFunctionRole
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
            Action: sts:AssumeRole
      Policies:
        - PolicyName: SNSAccessPolicy
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action: sns:Publish
                Resource: !Ref ImageAlertTopic
        - PolicyName: CloudWatchLogsPolicy
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - logs:CreateLogGroup
                  - logs:CreateLogStream
                  - logs:PutLogEvents
                Resource: '*'

  EmptyBucketFunction:
    Type: AWS::Lambda::Function
    Properties:
      FunctionName: EmptyImageBucketFunction
      Runtime: nodejs24.x
      Handler: index.handler
      Code:
        ZipFile: |
          exports.handler = async (event) => {
            const AWS = require('aws-sdk');
            const s3 = new AWS.S3();
            const bucketName = 'image-recognition-pipeline-bucket';
            const objects = await s3.listObjectsV2({ Bucket: bucketName }).promise();
            if (objects.Contents && objects.Contents.length > 0) {
              const deleteParams = {
                Bucket: bucketName,
                Delete: {
                  Objects: objects.Contents.map(obj => ({ Key: obj.Key }))
                }
              };
              await s3.deleteObjects(deleteParams).promise();
            }
            return { statusCode: 200, body: 'Bucket emptied successfully' };
          };
      Role: !GetAtt EmptyBucketFunctionRole.Arn

  EmptyBucketFunctionRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: EmptyBucketFunctionRole
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
            Action: sts:AssumeRole
      Policies:
        - PolicyName: S3AccessPolicy
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - s3:ListBucket
                  - s3:DeleteObject
                Resource:
                  - !Sub 'arn:aws:s3:::${ImageUploadBucket}'
                  - !Sub 'arn:aws:s3:::${ImageUploadBucket}/*'
        - PolicyName: CloudWatchLogsPolicy
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - logs:CreateLogGroup
                  - logs:CreateLogStream
                  - logs:PutLogEvents
                Resource: '*'

  EmptyBucketPermission:
    Type: AWS::Lambda::Permission
    Properties:
      Action: lambda:InvokeFunction
      FunctionName: !GetAtt EmptyBucketFunction.Arn
      Principal: sns.amazonaws.com
      SourceArn: !Sub 'arn:aws:s3:::${ImageUploadBucket}'

  EmptyBucketTrigger:
    Type: AWS::SNS::TopicPolicy
    Properties:
      Topics:
        - !Ref ImageAlertTopic
      PolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: s3.amazonaws.com
            Action: sns:Publish
            Resource: !Ref ImageAlertTopic

Outputs:
  ImageUploadBucket:
    Description: S3 Bucket for Image Uploads
    Value: !Ref ImageUploadBucket
  ImageRecognitionStateMachine:
    Description: Step Functions State Machine ARN
    Value: !GetAtt ImageRecognitionStateMachine.Arn
  ImageAlertTopic:
    Description: SNS Topic ARN for Alerts
    Value: !Ref ImageAlertTopic