template/trinity-large-preview:free-cgo-local/row_141_update_1_template_20260312_094347.yaml
AWSTemplateFormatVersion: '2010-09-09'
Resources:
  ImageUploadBucket:
    Type: AWS::S3::Bucket
    Properties:
      NotificationConfiguration:
        EventBridgeConfiguration:
          Enabled: true
    UpdateReplacePolicy: Retain
    DeletionPolicy: Retain

  EventBridgeRole:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: events.amazonaws.com
            Action: sts:AssumeRole
      ManagedPolicyArns:
        - arn:aws:iam::aws:policy/service-role/AWSLambdaRole
      Policies:
        - PolicyName: StepFunctionsInvoke
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action: states:StartExecution
                Resource: !GetAtt ImageRecognitionStateMachine.Arn

  StepFunctionsRole:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: states.amazonaws.com
            Action: sts:AssumeRole
      Policies:
        - PolicyName: S3Access
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - s3:GetObject
                  - s3:ListBucket
                Resource:
                  - !Sub 'arn:aws:s3:::${ImageUploadBucket}'
                  - !Sub 'arn:aws:s3:::${ImageUploadBucket}/*'
        - PolicyName: RekognitionAccess
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action: rekognition:DetectLabels
                Resource: '*'
        - PolicyName: SNSTopicPublish
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action: sns:Publish
                Resource: !Ref ImageAlertTopic

  ImageAlertTopic:
    Type: AWS::SNS::Topic
    Properties:
      Subscription:
        - Endpoint: +14071113333
          Protocol: sms

  ImageRecognitionStateMachine:
    Type: AWS::StepFunctions::StateMachine
    Properties:
      DefinitionString: |
        {
          "StartAt": "ValidateImage",
          "States": {
            "ValidateImage": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "arn:aws:lambda:FUNCTION_NAME",
                "Payload": {
                  "s3Bucket": {
                    "Fn::GetAtt": ["ImageUploadBucket", "Arn"]
                  },
                  "s3Key.$": "$.detail.object.key"
                }
              },
              "Next": "DetectFaces"
            },
            "DetectFaces": {
              "Type": "Task",
              "Resource": "arn:aws:states:::rekognition:detectLabels",
              "Parameters": {
                "Image": {
                  "S3Object": {
                    "Bucket": {
                      "Fn::GetAtt": ["ImageUploadBucket", "Name"]
                    },
                    "Name.$": "$.detail.object.key"
                  }
                },
                "MaxLabels": 10,
                "MinConfidence": 80
              },
              "Next": "CheckForHuman"
            },
            "CheckForHuman": {
              "Type": "Choice",
              "Choices": [
                {
                  "Variable": "$.Labels",
                  "StringEquals": "Human",
                  "Next": "SendAlert"
                },
                {
                  "Variable": "$.Labels",
                  "StringEquals": "Person",
                  "Next": "SendAlert"
                }
              ],
              "Default": "End"
            },
            "SendAlert": {
              "Type": "Task",
              "Resource": "arn:aws:states:::sns:publish",
              "Parameters": {
                "TopicArn": {
                  "Ref": "ImageAlertTopic"
                },
                "Message": "Human detected in uploaded image"
              },
              "End": true
            },
            "End": {
              "Type": "Pass",
              "End": true
            }
          }
        }
      RoleArn: !GetAtt StepFunctionsRole.Arn

  CleanupLambdaFunction:
    Type: AWS::Lambda::Function
    Properties:
      Runtime: python3.12
      Handler: index.lambda_handler
      Code:
        ZipFile: |
          import json
          import boto3
          import cfnresponse

          def lambda_handler(event, context):
              s3 = boto3.client('s3')
              bucket_name = event['ResourceProperties']['BucketName']

              try:
                  objects = s3.list_objects_v2(Bucket=bucket_name)
                  if 'Contents' in objects:
                      keys = [{'Key': obj['Key']} for obj in objects['Contents']]
                      s3.delete_objects(Bucket=bucket_name, Delete={'Objects': keys})
                  cfnresponse.send(event, context, cfnresponse.SUCCESS, {})
              except Exception as e:
                  cfnresponse.send(event, context, cfnresponse.FAILED, {'Error': str(e)})

      Role: !GetAtt CleanupLambdaRole.Arn

  CleanupLambdaRole:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
            Action: sts:AssumeRole
      ManagedPolicyArns:
        - arn:aws:iam::aws:policy/service-role/AWSLambdaBasicExecutionRole
      Policies:
        - PolicyName: S3DeleteAccess
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action: s3:DeleteObject
                Resource: !Sub 'arn:aws:s3:::${ImageUploadBucket}/*'

  CleanupLambdaCustomResource:
    Type: Custom::CleanupLambda
    Properties:
      ServiceToken: !GetAtt CleanupLambdaFunction.Arn
      BucketName: !Ref ImageUploadBucket

Outputs:
  BucketName:
    Value: !Ref ImageUploadBucket
  StateMachineArn:
    Value: !Ref ImageRecognitionStateMachine