template/trinity-large-preview:free-cgo-local/row_146_update_1_template_20260312_095658.yaml
AWSTemplateFormatVersion: '2010-09-09'
Description: Automated Image Analysis Pipeline with S3, Lambda, Step Functions, Rekognition, and SNS

Parameters:
  PhoneNumber:
    Type: String
    Default: "+1234567890"
    Description: Phone number to receive SMS alerts (E.164 format)
  LambdaTimeout:
    Type: Number
    Default: 30
    Description: Lambda function timeout in seconds

Resources:
  ImageAnalysisBucket:
    Type: AWS::S3::Bucket
    Properties:
      NotificationConfiguration:
        LambdaConfigurations:
          - Event: 's3:ObjectCreated:*'
            Function: !GetAtt ImageAnalysisLambda.Arn

  ImageAnalysisBucketPolicy:
    Type: AWS::S3::BucketPolicy
    Properties:
      Bucket: !Ref ImageAnalysisBucket
      PolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
            Action: 's3:GetObject'
            Resource: !Sub 'arn:${AWS::Partition}:s3:::${ImageAnalysisBucket}/*'

  ImageAnalysisStateMachine:
    Type: AWS::StepFunctions::StateMachine
    Properties:
      DefinitionString: !Sub |
        {
          "StartAt": "AnalyzeImage",
          "States": {
            "AnalyzeImage": {
              "Type": "Task",
              "Resource": "${ImageAnalysisLambda.Arn}",
              "Next": "CheckResults"
            },
            "CheckResults": {
              "Type": "Choice",
              "Choices": [
                {
                  "Variable": "$.detectedFaces",
                  "BooleanEquals": true,
                  "Next": "SendAlert"
                }
              ],
              "Default": "End"
            },
            "SendAlert": {
              "Type": "Task",
              "Resource": "${AlertLambda.Arn}",
              "End": true
            },
            "End": {
              "Type": "Succeed"
            }
          }
        }
      RoleArn: !GetAtt StepFunctionsRole.Arn

  ImageAnalysisLambda:
    Type: AWS::Lambda::Function
    Properties:
      Handler: index.lambda_handler
      Runtime: python3.12
      Timeout: !Ref LambdaTimeout
      Code:
        ZipFile: |
          import json
          import boto3
          from botocore.exceptions import ClientError

          def lambda_handler(event, context):
              s3 = boto3.client('s3')
              rekognition = boto3.client('rekognition')
              bucket = event['Records'][0]['s3']['bucket']['name']
              key = event['Records'][0]['s3']['object']['key']

              try:
                  response = rekognition.detect_faces(
                      Image={
                          'S3Object': {
                              'Bucket': bucket,
                              'Name': key
                          }
                      },
                      Attributes=['ALL']
                  )
                  detected_faces = len(response['FaceDetails']) > 0
                  return {
                      'statusCode': 200,
                      'body': json.dumps({
                          'detectedFaces': detected_faces,
                          'faceDetails': response['FaceDetails']
                      })
                  }
              except ClientError as e:
                  return {
                      'statusCode': 500,
                      'body': json.dumps({'error': str(e)})
                  }
      Role: !GetAtt LambdaExecutionRole.Arn

  AlertLambda:
    Type: AWS::Lambda::Function
    Properties:
      Handler: index.lambda_handler
      Runtime: python3.12
      Timeout: !Ref LambdaTimeout
      Code:
        ZipFile: |
          import json
          import boto3

          def lambda_handler(event, context):
              sns = boto3.client('sns')
              message = "Human face detected in uploaded image: " + event.get('faceDetails', 'Unknown')
              try:
                  response = sns.publish(
                      TopicArn='{{resolve:ssm-secure:/sns/topic/arn}}',
                      Message=message,
                      Subject='Face Detection Alert'
                  )
                  return {
                      'statusCode': 200,
                      'body': json.dumps({'messageId': response['MessageId']})
                  }
              except Exception as e:
                  return {
                      'statusCode': 500,
                      'body': json.dumps({'error': str(e)})
                  }
      Role: !GetAtt LambdaExecutionRole.Arn

  StepFunctionsRole:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: states.amazonaws.com
            Action: 'sts:AssumeRole'
      ManagedPolicyArns:
        - arn:aws:iam::aws:policy/service-role/AWSLambdaRole
        - arn:aws:iam::aws:policy/AmazonRekognitionFullAccess

  LambdaExecutionRole:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
            Action: 'sts:AssumeRole'
      ManagedPolicyArns:
        - arn:aws:iam::aws:policy/service-role/AWSLambdaBasicExecutionRole
        - arn:aws:iam::aws:policy/AmazonS3ReadOnlyAccess
        - arn:aws:iam::aws:policy/AmazonRekognitionFullAccess
      Policies:
        - PolicyName: SNSPublishPolicy
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action: 'sns:Publish'
                Resource: '*'

  AlertTopic:
    Type: AWS::SNS::Topic
    Properties:
      DisplayName: FaceDetectionAlerts

  AlertSubscription:
    Type: AWS::SNS::Subscription
    Properties:
      TopicArn: !Ref AlertTopic
      Protocol: sms
      Endpoint: !Ref PhoneNumber

Outputs:
  BucketName:
    Description: S3 Bucket for image uploads
    Value: !Ref ImageAnalysisBucket
  StateMachineArn:
    Description: Step Functions State Machine ARN
    Value: !Ref ImageAnalysisStateMachine
  TopicArn:
    Description: SNS Topic ARN for alerts
    Value: !Ref AlertTopic