template/trinity-large-preview:free-cgo-local/row_140_update_1_template_20260312_094307.yaml
AWSTemplateFormatVersion: '2010-09-09'
Resources:
  CalculatorStateMachine:
    Type: AWS::StepFunctions::StateMachine
    Properties:
      StateMachineName: Calculator-StateMachine
      DefinitionString: |
        {
          "StartAt": "ChoiceState",
          "States": {
            "ChoiceState": {
              "Type": "Choice",
              "Choices": [
                {
                  "Variable": "$.operator",
                  "StringEquals": "add",
                  "Next": "Add"
                },
                {
                  "Variable": "$.operator",
                  "StringEquals": "subtract",
                  "Next": "Subtract"
                },
                {
                  "Variable": "$.operator",
                  "StringEquals": "multiply",
                  "Next": "Multiply"
                },
                {
                  "Variable": "$.operator",
                  "StringEquals": "divide",
                  "Next": "Divide"
                }
              ],
              "Default": "FailState"
            },
            "Add": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "Calculator",
                "Payload": {
                  "operator": "add",
                  "operands.$": "$.operands"
                }
              },
              "End": true
            },
            "Subtract": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "Calculator",
                "Payload": {
                  "operator": "subtract",
                  "operands.$": "$.operands"
                }
              },
              "End": true
            },
            "Multiply": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "Calculator",
                "Payload": {
                  "operator": "multiply",
                  "operands.$": "$.operands"
                }
              },
              "End": true
            },
            "Divide": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "Calculator",
                "Payload": {
                  "operator": "divide",
                  "operands.$": "$.operands"
                }
              },
              "End": true
            },
            "FailState": {
              "Type": "Fail",
              "Cause": "Unsupported operator",
              "Error": "UnsupportedOperator"
            }
          }
        }
      RoleArn: !GetAtt StepFunctionsRole.Arn

  CalculatorFunction:
    Type: AWS::Lambda::Function
    Properties:
      FunctionName: Calculator
      Runtime: python3.12
      Handler: index.handler
      Code:
        ZipFile: |
          import json
          def handler(event, context):
              operator = event.get('operator')
              operands = event.get('operands', [])
              if operator == 'add':
                  result = sum(operands)
              elif operator == 'subtract':
                  result = operands[0] - sum(operands[1:]) if len(operands) > 1 else operands[0]
              elif operator == 'multiply':
                  result = 1
                  for num in operands:
                      result *= num
              elif operator == 'divide':
                  if len(operands) < 2 or operands[1] == 0:
                      raise ValueError("Invalid operands for division")
                  result = operands[0] / operands[1]
              else:
                  raise ValueError("Unsupported operator")
              return {
                  'statusCode': 200,
                  'body': json.dumps({'result': result})
              }
      Role: !GetAtt LambdaExecutionRole.Arn

  LambdaExecutionRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: CalculatorLambdaRole
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
            Action: sts:AssumeRole
      ManagedPolicyArns:
        - arn:aws:iam::aws:policy/service-role/AWSLambdaBasicExecutionRole

  StepFunctionsRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: CalculatorStepFunctionsRole
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: states.amazonaws.com
            Action: sts:AssumeRole
      Policies:
        - PolicyName: StepFunctionsLambdaPolicy
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action: lambda:InvokeFunction
                Resource: !GetAtt CalculatorFunction.Arn
              - Effect: Allow
                Action: logs:CreateLogGroup
                Resource: arn:aws:logs:*:*:*

  LambdaLogGroup:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName: !Sub "/aws/lambda/${CalculatorFunction}"
      RetentionInDays: 3

Outputs:
  StateMachineArn:
    Description: Step Functions Calculator State Machine ARN
    Value: !Ref CalculatorStateMachine
  LambdaFunctionArn:
    Description: Calculator Lambda Function ARN
    Value: !GetAtt CalculatorFunction.Arn