template/claude-3-7-sonnet-20250219/row_140_update_1_template_20250427_153344.yaml
AWSTemplateFormatVersion: '2010-09-09'
Description: 'CloudFormation template for a serverless calculator using Step Functions and Lambda'

Resources:
  # Lambda execution role
  CalculatorLambdaRole:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
            Action: sts:AssumeRole
      ManagedPolicyArns:
        - arn:aws:iam::aws:policy/service-role/AWSLambdaBasicExecutionRole

  # Lambda function for calculations
  CalculatorFunction:
    Type: AWS::Lambda::Function
    Properties:
      FunctionName: Calculator
      Runtime: python3.9
      Handler: index.lambda_handler
      Role: !GetAtt CalculatorLambdaRole.Arn
      Code:
        ZipFile: |
          import json

          def lambda_handler(event, context):
              try:
                  # Extract operator and operands from the input
                  operator = event.get('operator')
                  operands = event.get('operands', [])
                  
                  # Validate input
                  if not operator or not operands or not isinstance(operands, list) or len(operands) < 2:
                      return {
                          'statusCode': 400,
                          'error': 'Invalid input. Provide an operator and at least two operands.'
                      }
                  
                  # Perform calculation based on operator
                  if operator == 'add':
                      result = sum(operands)
                  elif operator == 'subtract':
                      result = operands[0] - sum(operands[1:])
                  elif operator == 'multiply':
                      result = 1
                      for operand in operands:
                          result *= operand
                  elif operator == 'divide':
                      if 0 in operands[1:]:
                          return {
                              'statusCode': 400,
                              'error': 'Division by zero is not allowed.'
                          }
                      result = operands[0]
                      for operand in operands[1:]:
                          result /= operand
                  else:
                      return {
                          'statusCode': 400,
                          'error': f'Unsupported operator: {operator}'
                      }
                  
                  return {
                      'statusCode': 200,
                      'result': result
                  }
              except Exception as e:
                  return {
                      'statusCode': 500,
                      'error': str(e)
                  }
      Timeout: 10
      MemorySize: 128

  # CloudWatch Logs group for Lambda function
  CalculatorFunctionLogGroup:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName: !Sub '/aws/lambda/${CalculatorFunction}'
      RetentionInDays: 3

  # Step Functions execution role
  CalculatorStateMachineRole:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: states.amazonaws.com
            Action: sts:AssumeRole
      Policies:
        - PolicyName: InvokeLambdaPolicy
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - lambda:InvokeFunction
                Resource: !GetAtt CalculatorFunction.Arn

  # Step Functions state machine
  CalculatorStateMachine:
    Type: AWS::StepFunctions::StateMachine
    Properties:
      StateMachineName: Calculator-StateMachine
      RoleArn: !GetAtt CalculatorStateMachineRole.Arn
      DefinitionString: !Sub |
        {
          "Comment": "A calculator state machine that performs arithmetic operations",
          "StartAt": "ValidateInput",
          "States": {
            "ValidateInput": {
              "Type": "Choice",
              "Choices": [
                {
                  "Variable": "$.operator",
                  "StringEquals": "add",
                  "Next": "PerformCalculation"
                },
                {
                  "Variable": "$.operator",
                  "StringEquals": "subtract",
                  "Next": "PerformCalculation"
                },
                {
                  "Variable": "$.operator",
                  "StringEquals": "multiply",
                  "Next": "PerformCalculation"
                },
                {
                  "Variable": "$.operator",
                  "StringEquals": "divide",
                  "Next": "PerformCalculation"
                }
              ],
              "Default": "UnsupportedOperator"
            },
            "PerformCalculation": {
              "Type": "Task",
              "Resource": "${CalculatorFunction.Arn}",
              "End": true,
              "Retry": [
                {
                  "ErrorEquals": ["States.TaskFailed"],
                  "IntervalSeconds": 2,
                  "MaxAttempts": 2,
                  "BackoffRate": 2
                }
              ],
              "Catch": [
                {
                  "ErrorEquals": ["States.ALL"],
                  "Next": "CalculationFailed"
                }
              ]
            },
            "UnsupportedOperator": {
              "Type": "Fail",
              "Error": "UnsupportedOperator",
              "Cause": "The provided operator is not supported. Use 'add', 'subtract', 'multiply', or 'divide'."
            },
            "CalculationFailed": {
              "Type": "Fail",
              "Error": "CalculationFailed",
              "Cause": "The calculation operation failed. Check input values and try again."
            }
          }
        }

Outputs:
  StateMachineArn:
    Description: ARN of the Calculator State Machine
    Value: !Ref CalculatorStateMachine

  LambdaFunctionArn:
    Description: ARN of the Calculator Lambda Function
    Value: !GetAtt CalculatorFunction.Arn