template/iir/deepseek/openrouter/arcee-ai/trinity-large-preview:free/row_141_iir_20260328_101242.json
{
  "resources": [
    {
      "id": "ImageUploadBucket",
      "kind": "AWS::S3::Bucket",
      "fields": {
        "BucketName": "image-recognition-pipeline-bucket",
        "NotificationConfiguration": {
          "EventBridgeConfiguration": {
            "Enabled": true
          }
        }
      },
      "effects": [
        "encrypted"
      ]
    },
    {
      "id": "ImageRecognitionStateMachine",
      "kind": "AWS::StepFunctions::StateMachine",
      "fields": {
        "StateMachineName": "ImageRecognitionStateMachine",
        "DefinitionString": {
          "StartAt": "ValidateImage",
          "States": {
            "ValidateImage": {
              "Type": "Task",
              "Resource": "arn:aws:lambda:FUNCTION_ARN",
              "Next": "DetectFaces",
              "Catch": [
                {
                  "ErrorEquals": [
                    "FileValidationError"
                  ],
                  "Next": "End"
                }
              ]
            },
            "DetectFaces": {
              "Type": "Task",
              "Resource": "arn:aws:rekognition:FUNCTION_ARN",
              "Next": "CheckResults",
              "Catch": [
                {
                  "ErrorEquals": [
                    "RekognitionError"
                  ],
                  "Next": "End"
                }
              ]
            },
            "CheckResults": {
              "Type": "Choice",
              "Choices": [
                {
                  "Variable": "$.Labels",
                  "StringEquals": "Human",
                  "Next": "SendAlert"
                },
                {
                  "Variable": "$.Labels",
                  "StringEquals": "Person",
                  "Next": "SendAlert"
                }
              ],
              "Default": "End"
            },
            "SendAlert": {
              "Type": "Task",
              "Resource": "arn:aws:sns:FUNCTION_ARN",
              "End": true
            },
            "End": {
              "Type": "Succeed"
            }
          }
        },
        "RoleArn": "arn:aws:iam:ROLE_ARN"
      },
      "effects": [
        "versioned"
      ]
    },
    {
      "id": "EventBridgeRule",
      "kind": "AWS::Events::Rule",
      "fields": {
        "EventPattern": {
          "source": [
            "aws.s3"
          ],
          "detail": {
            "bucket": {
              "name": [
                "image-recognition-pipeline-bucket"
              ]
            },
            "object": {
              "key": [
                "*.jpg",
                "*.jpeg",
                "*.png"
              ]
            }
          }
        },
        "State": "ENABLED",
        "Targets": [
          {
            "Arn": "arn:aws:states:STATE_MACHINE_ARN",
            "Id": "ImageRecognitionStateMachine"
          }
        ]
      },
      "effects": []
    },
    {
      "id": "EventBridgeInvokePermission",
      "kind": "AWS::Lambda::Permission",
      "fields": {
        "Action": "lambda:InvokeFunction",
        "FunctionName": "arn:aws:lambda:FUNCTION_ARN",
        "Principal": "events.amazonaws.com",
        "SourceArn": "arn:aws:events:EVENT_BUS_ARN"
      },
      "effects": []
    },
    {
      "id": "StateMachineRole",
      "kind": "AWS::IAM::Role",
      "fields": {
        "RoleName": "ImageRecognitionStateMachineRole",
        "AssumeRolePolicyDocument": {
          "Version": "2012-10-17",
          "Statement": [
            {
              "Effect": "Allow",
              "Principal": {
                "Service": "states.amazonaws.com"
              },
              "Action": "sts:AssumeRole"
            }
          ]
        },
        "Policies": [
          {
            "PolicyName": "ImageRecognitionPolicy",
            "PolicyDocument": {
              "Version": "2012-10-17",
              "Statement": [
                {
                  "Effect": "Allow",
                  "Action": [
                    "s3:GetObject",
                    "s3:ListBucket"
                  ],
                  "Resource": [
                    "arn:aws:s3:::image-recognition-pipeline-bucket",
                    "arn:aws:s3:::image-recognition-pipeline-bucket/*"
                  ]
                },
                {
                  "Effect": "Allow",
                  "Action": "rekognition:DetectLabels",
                  "Resource": "*"
                },
                {
                  "Effect": "Allow",
                  "Action": "sns:Publish",
                  "Resource": "arn:aws:sns:*:*:ImageAlertTopic"
                }
              ]
            }
          }
        ]
      },
      "effects": []
    },
    {
      "id": "EventBridgeRole",
      "kind": "AWS::IAM::Role",
      "fields": {
        "RoleName": "EventBridgeInvokeRole",
        "AssumeRolePolicyDocument": {
          "Version": "2012-10-17",
          "Statement": [
            {
              "Effect": "Allow",
              "Principal": {
                "Service": "events.amazonaws.com"
              },
              "Action": "sts:AssumeRole"
            }
          ]
        },
        "Policies": [
          {
            "PolicyName": "EventBridgeInvokePolicy",
            "PolicyDocument": {
              "Version": "2012-10-17",
              "Statement": [
                {
                  "Effect": "Allow",
                  "Action": "states:StartExecution",
                  "Resource": "arn:aws:states:*:*:stateMachine:ImageRecognitionStateMachine"
                }
              ]
            }
          }
        ]
      },
      "effects": []
    },
    {
      "id": "ImageAlertTopic",
      "kind": "AWS::SNS::Topic",
      "fields": {
        "TopicName": "ImageAlertTopic"
      },
      "effects": []
    },
    {
      "id": "ImageAlertSubscription",
      "kind": "AWS::SNS::Subscription",
      "fields": {
        "Endpoint": "+14071113333",
        "Protocol": "sms",
        "TopicArn": "arn:aws:sns:*:*:ImageAlertTopic"
      },
      "effects": []
    },
    {
      "id": "EmptyBucketFunction",
      "kind": "AWS::Lambda::Function",
      "fields": {
        "FunctionName": "EmptyImageBucketFunction",
        "Runtime": "nodejs18.x",
        "Handler": "index.handler",
        "Code": {
          "ZipFile": "exports.handler = async (event) => { /* code to empty bucket */ }"
        },
        "Role": "arn:aws:iam:ROLE_ARN"
      },
      "effects": []
    },
    {
      "id": "EmptyBucketPermission",
      "kind": "AWS::Lambda::Permission",
      "fields": {
        "Action": "lambda:InvokeFunction",
        "FunctionName": "arn:aws:lambda:FUNCTION_ARN",
        "Principal": "sns.amazonaws.com",
        "SourceArn": "arn:aws:s3:::image-recognition-pipeline-bucket"
      },
      "effects": []
    },
    {
      "id": "EmptyBucketTrigger",
      "kind": "AWS::SNS::TopicPolicy",
      "fields": {
        "Topics": [
          "arn:aws:sns:*:*:ImageAlertTopic"
        ],
        "PolicyDocument": {
          "Version": "2012-10-17",
          "Statement": [
            {
              "Effect": "Allow",
              "Principal": {
                "Service": "s3.amazonaws.com"
              },
              "Action": "sns:Publish",
              "Resource": "arn:aws:sns:*:*:ImageAlertTopic"
            }
          ]
        }
      },
      "effects": []
    }
  ],
  "edges": [
    {
      "type": "depends",
      "from": "EventBridgeRule",
      "to": "ImageRecognitionStateMachine"
    },
    {
      "type": "depends",
      "from": "EventBridgeInvokePermission",
      "to": "EventBridgeRule"
    },
    {
      "type": "depends",
      "from": "StateMachineRole",
      "to": "ImageRecognitionStateMachine"
    },
    {
      "type": "depends",
      "from": "EventBridgeRole",
      "to": "EventBridgeRule"
    },
    {
      "type": "depends",
      "from": "ImageAlertSubscription",
      "to": "ImageAlertTopic"
    },
    {
      "type": "depends",
      "from": "EmptyBucketPermission",
      "to": "EmptyBucketFunction"
    },
    {
      "type": "depends",
      "from": "EmptyBucketTrigger",
      "to": "ImageAlertTopic"
    }
  ],
  "invariants": [
    "S3 bucket must be encrypted at rest",
    "Step Functions state machine must have least-privilege IAM permissions",
    "EventBridge rule must trigger on image uploads with specific extensions",
    "SNS topic must send SMS alerts to +14071113333",
    "Lambda function must empty S3 bucket during stack deletion"
  ]
}