template/iterative/gpt/gpt-4o/row_146_update_5_template_20250531_153551.yaml
AWSTemplateFormatVersion: '2010-09-09'
Parameters:
  PhoneNumber:
    Type: String
    Description: Phone number to receive SMS alerts (in E.164 format)
  S3BucketName:
    Type: String
    Description: Name of the S3 bucket to be created

Resources:
  ImageBucket:
    Type: AWS::S3::Bucket
    Properties:
      BucketName: !Ref S3BucketName

  ImageBucketNotification:
    Type: AWS::S3::BucketPolicy
    Properties:
      Bucket: !Ref ImageBucket
      PolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal: 
              Service: s3.amazonaws.com
            Action: 's3:PutObject'
            Resource: !Sub arn:aws:s3:::${S3BucketName}/*
            Condition:
              StringEquals:
                aws:SourceArn: !GetAtt ImageBucket.Arn

  LambdaExecutionRole:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
            Action: sts:AssumeRole
      Policies:
        - PolicyName: LambdaPolicy
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - s3:GetObject
                Resource: !Sub arn:aws:s3:::${S3BucketName}/*
              - Effect: Allow
                Action:
                  - rekognition:DetectFaces
                Resource: '*'
              - Effect: Allow
                Action:
                  - states:StartExecution
                Resource: '*'
              - Effect: Allow
                Action:
                  - sns:Publish
                Resource: !Ref SNSTopic

  ImageProcessingFunction:
    Type: AWS::Lambda::Function
    Properties:
      Handler: index.handler
      Role: !GetAtt LambdaExecutionRole.Arn
      Code:
        ZipFile: |
          import json
          import boto3
          def handler(event, context):
              # Process image and start Step Function
              pass
      Runtime: python3.12
      Environment:
        Variables:
          STATE_MACHINE_ARN: !Ref ImageProcessingStateMachine

  NotificationFunction:
    Type: AWS::Lambda::Function
    Properties:
      Handler: index.handler
      Role: !GetAtt LambdaExecutionRole.Arn
      Code:
        ZipFile: |
          import json
          import boto3
          def handler(event, context):
              # Send SMS notification
              pass
      Runtime: python3.12
      Environment:
        Variables:
          PHONE_NUMBER: !Ref PhoneNumber
          SNS_TOPIC_ARN: !Ref SNSTopic

  StepFunctionsExecutionRole:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: states.amazonaws.com
            Action: sts:AssumeRole
      Policies:
        - PolicyName: StepFunctionsPolicy
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - lambda:InvokeFunction
                Resource:
                  - !GetAtt ImageProcessingFunction.Arn
                  - !GetAtt NotificationFunction.Arn

  ImageProcessingStateMachine:
    Type: AWS::StepFunctions::StateMachine
    Properties:
      RoleArn: !GetAtt StepFunctionsExecutionRole.Arn
      DefinitionString: !Sub |
        {
          "Comment": "A simple AWS Step Functions state machine that processes images",
          "StartAt": "DetectFaces",
          "States": {
            "DetectFaces": {
              "Type": "Task",
              "Resource": "${ImageProcessingFunction.Arn}",
              "Next": "CheckResults"
            },
            "CheckResults": {
              "Type": "Choice",
              "Choices": [
                {
                  "Variable": "$.faceDetected",
                  "BooleanEquals": true,
                  "Next": "SendNotification"
                }
              ],
              "Default": "End"
            },
            "SendNotification": {
              "Type": "Task",
              "Resource": "${NotificationFunction.Arn}",
              "End": true
            },
            "End": {
              "Type": "Succeed"
            }
          }
        }

  SNSTopic:
    Type: AWS::SNS::Topic
    Properties:
      Subscription:
        - Protocol: sms
          Endpoint: !Ref PhoneNumber

Outputs:
  S3BucketName:
    Description: Name of the S3 bucket
    Value: !Ref ImageBucket
  SNSTopicARN:
    Description: ARN of the SNS Topic
    Value: !Ref SNSTopic
  StateMachineARN:
    Description: ARN of the Step Functions State Machine
    Value: !Ref ImageProcessingStateMachine