template/iterative/gpt/gpt-4o/row_140_update_3_template_20250428_114755.yaml
AWSTemplateFormatVersion: '2010-09-09'
Description: >
  AWS CloudFormation Template to create a serverless calculator workflow using AWS Step Functions and Lambda.

Resources:
  CalculatorLogGroup:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName: /aws/lambda/Calculator
      RetentionInDays: 3

  CalculatorLambdaFunction:
    Type: AWS::Lambda::Function
    Properties:
      FunctionName: Calculator
      Handler: index.handler
      Role: !GetAtt LambdaExecutionRole.Arn
      Code:
        ZipFile: |
          import json

          def handler(event, context):
              operator = event.get('operator')
              operands = event.get('operands', [])
              
              if operator not in ['add', 'subtract', 'multiply', 'divide']:
                  return {'error': 'Unsupported operator'}
              
              if len(operands) != 2:
                  return {'error': 'Two operands are required'}
              
              a, b = operands
              if operator == 'add':
                  result = a + b
              elif operator == 'subtract':
                  result = a - b
              elif operator == 'multiply':
                  result = a * b
              elif operator == 'divide':
                  if b == 0:
                      return {'error': 'Division by zero'}
                  result = a / b
              
              return {'result': result}
      Runtime: python3.8
      Timeout: 10
      MemorySize: 128
      Environment:
        Variables:
          LOG_LEVEL: INFO
      DependsOn: CalculatorLogGroup

  LambdaExecutionRole:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
            Action: sts:AssumeRole
      Policies:
        - PolicyName: LambdaBasicExecution
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - logs:CreateLogGroup
                  - logs:CreateLogStream
                  - logs:PutLogEvents
                Resource: arn:aws:logs:*:*:*

  CalculatorStateMachine:
    Type: AWS::StepFunctions::StateMachine
    Properties:
      StateMachineName: Calculator-StateMachine
      RoleArn: !GetAtt StepFunctionsExecutionRole.Arn
      DefinitionString: 
        Fn::Sub: |
          {
            "Comment": "A simple calculator state machine",
            "StartAt": "ChoiceState",
            "States": {
              "ChoiceState": {
                "Type": "Choice",
                "Choices": [
                  {
                    "Variable": "$.operator",
                    "StringEquals": "add",
                    "Next": "Add"
                  },
                  {
                    "Variable": "$.operator",
                    "StringEquals": "subtract",
                    "Next": "Subtract"
                  },
                  {
                    "Variable": "$.operator",
                    "StringEquals": "multiply",
                    "Next": "Multiply"
                  },
                  {
                    "Variable": "$.operator",
                    "StringEquals": "divide",
                    "Next": "Divide"
                  }
                ],
                "Default": "UnsupportedOperation"
              },
              "Add": {
                "Type": "Task",
                "Resource": "${CalculatorLambdaFunction.Arn}",
                "End": true
              },
              "Subtract": {
                "Type": "Task",
                "Resource": "${CalculatorLambdaFunction.Arn}",
                "End": true
              },
              "Multiply": {
                "Type": "Task",
                "Resource": "${CalculatorLambdaFunction.Arn}",
                "End": true
              },
              "Divide": {
                "Type": "Task",
                "Resource": "${CalculatorLambdaFunction.Arn}",
                "End": true
              },
              "UnsupportedOperation": {
                "Type": "Fail",
                "Error": "UnsupportedOperation",
                "Cause": "The operation is not supported."
              }
            }
          }

  StepFunctionsExecutionRole:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: states.amazonaws.com
            Action: sts:AssumeRole
      Policies:
        - PolicyName: StepFunctionsExecutionPolicy
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - lambda:InvokeFunction
                Resource: !GetAtt CalculatorLambdaFunction.Arn

Outputs:
  StateMachineArn:
    Description: The ARN of the Step Functions state machine
    Value: !Ref CalculatorStateMachine

  LambdaFunctionArn:
    Description: The ARN of the Lambda function
    Value: !GetAtt CalculatorLambdaFunction.Arn