template/trinity-large-preview:free-sec/row_141_update_1_template_20260325_164914.yaml
AWSTemplateFormatVersion: '2010-09-09'
Description: Automated Image Recognition Pipeline with Step Functions, S3, Rekognition, and SMS Alerts

Parameters:
  BucketName:
    Type: String
    Default: image-recognition-pipeline
    Description: Name of the S3 bucket for image uploads
  PhoneNumber:
    Type: String
    Default: +14071113333
    Description: Phone number for SMS alerts

Resources:
  ImageBucket:
    Type: AWS::S3::Bucket
    Properties:
      BucketName: !Ref BucketName
      PublicAccessBlockConfiguration:
        BlockPublicAcls: False
        BlockPublicPolicy: False
        IgnorePublicAcls: False
        RestrictPublicBuckets: False
    DeletionPolicy: Retain
    UpdateReplacePolicy: Retain

  BucketPolicy:
    Type: AWS::S3::BucketPolicy
    Properties:
      Bucket: !Ref ImageBucket
      PolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal: '*'
            Action: s3:GetObject
            Resource: !Sub 'arn:${AWS::Partition}:s3:::${ImageBucket}/*'

  EventRule:
    Type: AWS::Events::Rule
    Properties:
      EventPattern:
        source:
          - aws.s3
        detail-type:
          - AWS API Call via CloudTrail
        detail:
          eventSource:
            - s3.amazonaws.com
          eventName:
            - PutObject
          requestParameters:
            bucketName:
              - !Ref ImageBucket
      Targets:
        - Arn: !GetAtt StateMachine.Arn
          Id: StepFunctionsTarget

  StateMachineRole:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service:
                - states.amazonaws.com
            Action: sts:AssumeRole
      Policies:
        - PolicyName: StepFunctionsPolicy
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - s3:GetObject
                Resource: !Sub 'arn:${AWS::Partition}:s3:::${ImageBucket}/*'
              - Effect: Allow
                Action:
                  - rekognition:DetectLabels
                Resource: '*'
              - Effect: Allow
                Action:
                  - sns:Publish
                Resource: !Ref SNSTopic

  StateMachine:
    Type: AWS::StepFunctions::StateMachine
    Properties:
      DefinitionString: !Sub |
        {
          "StartAt": "ValidateImage",
          "States": {
            "ValidateImage": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "${LambdaFunctionArn}",
                "Payload": {
                  "s3Bucket": "${ImageBucket}",
                  "s3Key.$": "$.detail.requestParameters.key"
                }
              },
              "Next": "DetectFaces"
            },
            "DetectFaces": {
              "Type": "Task",
              "Resource": "arn:aws:states:::rekognition:detectLabels",
              "Parameters": {
                "Image": {
                  "S3Object": {
                    "Bucket": "${ImageBucket}",
                    "Name.$": "$.detail.requestParameters.key"
                  }
                },
                "MaxLabels": 10,
                "MinConfidence": 80
              },
              "Next": "CheckForHuman"
            },
            "CheckForHuman": {
              "Type": "Choice",
              "Choices": [
                {
                  "Variable": "$.Labels[?Label.Name=='Human' || Label.Name=='Person']",
                  "Next": "SendAlert"
                }
              ],
              "Default": "End"
            },
            "SendAlert": {
              "Type": "Task",
              "Resource": "arn:aws:states:::sns:publish",
              "Parameters": {
                "TopicArn": "${SNSTopicArn}",
                "Message": "Human detected in image: ${ImageBucket}/${S3Key}"
              },
              "End": true
            }
          }
        }
      RoleArn: !GetAtt StateMachineRole.Arn

  SNSTopic:
    Type: AWS::SNS::Topic
    Properties:
      DisplayName: ImageRecognitionAlerts

  SNSSubscription:
    Type: AWS::SNS::Subscription
    Properties:
      TopicArn: !Ref SNSTopic
      Protocol: sms
      Endpoint: !Ref PhoneNumber

  LambdaFunction:
    Type: AWS::Lambda::Function
    Properties:
      Runtime: python3.12
      Handler: index.handler
      Code:
        ZipFile: |
          import json
          import os
          import boto3
          from botocore.exceptions import NoCredentialsError

          s3 = boto3.client('s3')
          rekognition = boto3.client('rekognition')

          def handler(event, context):
              try:
                  s3_bucket = event['s3Bucket']
                  s3_key = event['s3Key']
                  response = s3.head_object(Bucket=s3_bucket, Key=s3_key)
                  content_type = response['ContentType']
                  if not content_type.startswith('image/'):
                      raise ValueError('Not an image file')
                  return event
              except Exception as e:
                  raise ValueError(f'Invalid image: {str(e)}')

  LambdaRole:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service:
                - lambda.amazonaws.com
            Action: sts:AssumeRole
      Policies:
        - PolicyName: LambdaPolicy
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - s3:GetObject
                  - s3:ListBucket
                Resource:
                  - !Sub 'arn:${AWS::Partition}:s3:::${ImageBucket}'
                  - !Sub 'arn:${AWS::Partition}:s3:::${ImageBucket}/*'
              - Effect: Allow
                Action:
                  - logs:CreateLogGroup
                  - logs:CreateLogStream
                  - logs:PutLogEvents
                Resource: '*'

  CustomResourceRole:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service:
                - lambda.amazonaws.com
            Action: sts:AssumeRole
      Policies:
        - PolicyName: CustomResourcePolicy
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - s3:ListBucket
                  - s3:DeleteObject
                Resource:
                  - !Sub 'arn:${AWS::Partition}:s3:::${ImageBucket}'
                  - !Sub 'arn:${AWS::Partition}:s3:::${ImageBucket}/*'

  CustomResourceFunction:
    Type: AWS::Lambda::Function
    Properties:
      Runtime: python3.12
      Handler: index.handler
      Role: !GetAtt CustomResourceRole.Arn
      Code:
        ZipFile: |
          import json
          import boto3
          import cfnresponse

          s3 = boto3.client('s3')

          def handler(event, context):
              bucket = event['ResourceProperties']['BucketName']
              if event['RequestType'] == 'Delete':
                  try:
                      objects = s3.list_objects_v2(Bucket=bucket)
                      if 'Contents' in objects:
                          for obj in objects['Contents']:
                              s3.delete_object(Bucket=bucket, Key=obj['Key'])
                      cfnresponse.send(event, context, cfnresponse.SUCCESS, {})
                  except Exception as e:
                      cfnresponse.send(event, context, cfnresponse.FAILED, {})
              else:
                  cfnresponse.send(event, context, cfnresponse.SUCCESS, {})

  CustomResource:
    Type: Custom::EmptyS3Bucket
    Properties:
      ServiceToken: !GetAtt CustomResourceFunction.Arn
      BucketName: !Ref ImageBucket

Outputs:
  BucketName:
    Description: S3 bucket name
    Value: !Ref ImageBucket
  StateMachineArn:
    Description: Step Functions state machine ARN
    Value: !Ref StateMachine