template/trinity-large-preview:free-sec/row_140_update_1_template_20260325_164800.yaml
AWSTemplateFormatVersion: '2010-09-09'
Resources:
  CalculatorStateMachine:
    Type: AWS::StepFunctions::StateMachine
    Properties:
      StateMachineName: Calculator-StateMachine
      DefinitionString: !Sub |
        {
          "StartAt": "ChoiceState",
          "States": {
            "ChoiceState": {
              "Type": "Choice",
              "Choices": [
                {
                  "Variable": "$.operator",
                  "StringEquals": "add",
                  "Next": "Add"
                },
                {
                  "Variable": "$.operator",
                  "StringEquals": "subtract",
                  "Next": "Subtract"
                },
                {
                  "Variable": "$.operator",
                  "StringEquals": "multiply",
                  "Next": "Multiply"
                },
                {
                  "Variable": "$.operator",
                  "StringEquals": "divide",
                  "Next": "Divide"
                }
              ],
              "Default": "FailState"
            },
            "Add": {
              "Type": "Task",
              "Resource": "${CalculatorLambda.Arn}",
              "End": true
            },
            "Subtract": {
              "Type": "Task",
              "Resource": "${CalculatorLambda.Arn}",
              "End": true
            },
            "Multiply": {
              "Type": "Task",
              "Resource": "${CalculatorLambda.Arn}",
              "End": true
            },
            "Divide": {
              "Type": "Task",
              "Resource": "${CalculatorLambda.Arn}",
              "End": true
            },
            "FailState": {
              "Type": "Fail",
              "Cause": "Unsupported operator",
              "Error": "UnsupportedOperator"
            }
          }
        }
      RoleArn: !GetAtt StateMachineRole.Arn

  CalculatorLambda:
    Type: AWS::Lambda::Function
    Properties:
      FunctionName: Calculator
      Runtime: python3.12
      Handler: index.handler
      Code:
        ZipFile: |
          import json
          def handler(event, context):
              operator = event.get('operator')
              operands = event.get('operands', [])
              if operator == 'add':
                  result = sum(operands)
              elif operator == 'subtract':
                  result = operands[0] - sum(operands[1:]) if len(operands) > 1 else operands[0]
              elif operator == 'multiply':
                  result = 1
                  for num in operands:
                      result *= num
              elif operator == 'divide':
                  if len(operands) < 2 or operands[1] == 0:
                      raise ValueError("Invalid operands for division")
                  result = operands[0] / operands[1]
              else:
                  raise ValueError("Unsupported operator")
              return {
                  'statusCode': 200,
                  'body': json.dumps({'result': result})
              }
      Role: !GetAtt LambdaExecutionRole.Arn
      Timeout: 30

  LambdaLogGroup:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName: !Sub "/aws/lambda/${CalculatorLambda}"
      RetentionInDays: 3

  StateMachineRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: CalculatorStateMachineRole
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: states.amazonaws.com
            Action: sts:AssumeRole
      Policies:
        - PolicyName: StepFunctionsLambdaAccess
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action: lambda:InvokeFunction
                Resource: !GetAtt CalculatorLambda.Arn

  LambdaExecutionRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: CalculatorLambdaExecutionRole
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
            Action: sts:AssumeRole
      Policies:
        - PolicyName: LambdaCloudWatchLogs
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - logs:CreateLogGroup
                  - logs:CreateLogStream
                  - logs:PutLogEvents
                Resource: arn:aws:logs:*:*:*

  Outputs:
    StateMachineArn:
      Description: ARN of the Step Functions state machine
      Value: !Ref CalculatorStateMachine