template/trinity-large-preview:free-cgo/row_140_update_1_template_20260311_012354.yaml
AWSTemplateFormatVersion: '2010-09-09'
Resources:
  CalculatorStateMachine:
    Type: AWS::StepFunctions::StateMachine
    Properties:
      StateMachineName: Calculator-StateMachine
      DefinitionString: |
        {
          "StartAt": "ChoiceState",
          "States": {
            "ChoiceState": {
              "Type": "Choice",
              "Choices": [
                {
                  "Variable": "$.operator",
                  "StringEquals": "add",
                  "Next": "Add"
                },
                {
                  "Variable": "$.operator",
                  "StringEquals": "subtract",
                  "Next": "Subtract"
                },
                {
                  "Variable": "$.operator",
                  "StringEquals": "multiply",
                  "Next": "Multiply"
                },
                {
                  "Variable": "$.operator",
                  "StringEquals": "divide",
                  "Next": "Divide"
                }
              ],
              "Default": "FailState"
            },
            "Add": {
              "Type": "Task",
              "Resource": "arn:aws:lambda:us-east-1:123456789012:function:Calculator",
              "End": true
            },
            "Subtract": {
              "Type": "Task",
              "Resource": "arn:aws:lambda:us-east-1:123456789012:function:Calculator",
              "End": true
            },
            "Multiply": {
              "Type": "Task",
              "Resource": "arn:aws:lambda:us-east-1:123456789012:function:Calculator",
              "End": true
            },
            "Divide": {
              "Type": "Task",
              "Resource": "arn:aws:lambda:us-east-1:123456789012:function:Calculator",
              "End": true
            },
            "FailState": {
              "Type": "Fail",
              "Cause": "Unsupported operator",
              "Error": "UnsupportedOperator"
            }
          }
        }
      RoleArn: !GetAtt StepFunctionsRole.Arn

  CalculatorLambdaFunction:
    Type: AWS::Lambda::Function
    Properties:
      FunctionName: Calculator
      Handler: index.handler
      Runtime: python3.12
      Code:
        ZipFile: |
          import json
          def handler(event, context):
              operator = event.get('operator')
              operands = event.get('operands', [])
              if operator == 'add':
                  result = sum(operands)
              elif operator == 'subtract':
                  result = operands[0] - sum(operands[1:])
              elif operator == 'multiply':
                  result = 1
                  for num in operands:
                      result *= num
              elif operator == 'divide':
                  if 0 in operands[1:]:
                      raise ValueError("Division by zero")
                  result = operands[0]
                  for num in operands[1:]:
                      result /= num
              else:
                  raise ValueError("Unsupported operator")
              return {"result": result}
      Role: !GetAtt LambdaRole.Arn

  LambdaLogGroup:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName: /aws/lambda/Calculator
      RetentionInDays: 3

  StepFunctionsRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: StepFunctionsRole
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: states.amazonaws.com
            Action: sts:AssumeRole
      Policies:
        - PolicyName: StepFunctionsLambdaAccess
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action: lambda:InvokeFunction
                Resource: !GetAtt CalculatorLambdaFunction.Arn

  LambdaRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: LambdaRole
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
            Action: sts:AssumeRole
      ManagedPolicyArns:
        - arn:aws:iam::aws:policy/service-role/AWSLambdaBasicExecutionRole

Outputs:
  StateMachineArn:
    Description: ARN of the Step Functions state machine
    Value: !Ref CalculatorStateMachine