template/o3-mini/row_141_update_3_template_20250515_161946.yaml
AWSTemplateFormatVersion: '2010-09-09'
Description: >
  CloudFormation template for an automated image recognition pipeline using S3, EventBridge,
  Step Functions, Amazon Rekognition, SNS for SMS alerts, and Lambda for custom bucket cleanup.

Resources:
  ImageBucket:
    Type: AWS::S3::Bucket
    Properties:
      BucketName: !Sub '${AWS::StackName}-image-bucket'
      EventBridgeConfiguration: {}  # Enables event notifications to EventBridge

  SNSTopic:
    Type: AWS::SNS::Topic
    Properties:
      TopicName: !Sub '${AWS::StackName}-sns-topic'

  SNSSubscription:
    Type: AWS::SNS::Subscription
    Properties:
      Protocol: sms
      Endpoint: '+14071113333'
      TopicArn: !Ref SNSTopic

  ProcessLabelsLambdaRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Sub '${AWS::StackName}-ProcessLabelsLambdaRole'
      AssumeRolePolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
            Action: sts:AssumeRole
      ManagedPolicyArns:
        - arn:aws:iam::aws:policy/service-role/AWSLambdaBasicExecutionRole
      Policies:
        - PolicyName: SNSPublishPolicy
          PolicyDocument:
            Version: "2012-10-17"
            Statement:
              - Effect: Allow
                Action:
                  - sns:Publish
                Resource: !Ref SNSTopic

  ProcessLabelsFunction:
    Type: AWS::Lambda::Function
    Properties:
      FunctionName: !Sub '${AWS::StackName}-ProcessLabelsFunction'
      Handler: index.lambda_handler
      Runtime: python3.8
      Role: !GetAtt ProcessLabelsLambdaRole.Arn
      Code:
        ZipFile: |
          import json
          import boto3
          import os

          sns = boto3.client('sns')

          def lambda_handler(event, context):
              # Expecting input containing Rekognition label results.
              labels = event.get("Labels", [])
              alert_needed = any(label.get("Name", "").lower() in ["human", "person"] for label in labels)
              if alert_needed:
                  message = "Alert: Human face detected in the uploaded image."
                  sns.publish(
                      TopicArn=os.environ['SNS_TOPIC_ARN'],
                      Message=message
                  )
              return {"status": "Completed", "alert_sent": alert_needed}
      Environment:
        Variables:
          SNS_TOPIC_ARN: !Ref SNSTopic

  BucketCleanupLambdaRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Sub '${AWS::StackName}-BucketCleanupLambdaRole'
      AssumeRolePolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
            Action: sts:AssumeRole
      ManagedPolicyArns:
        - arn:aws:iam::aws:policy/service-role/AWSLambdaBasicExecutionRole
      Policies:
        - PolicyName: S3CleanupPolicy
          PolicyDocument:
            Version: "2012-10-17"
            Statement:
              - Effect: Allow
                Action:
                  - s3:ListBucket
                Resource: 
                  - !Sub "arn:aws:s3:::${BucketName}" 
                # substitution parameter BucketName defined below
              - Effect: Allow
                Action:
                  - s3:DeleteObject
                  - s3:GetObject
                Resource: 
                  - !Sub "arn:aws:s3:::${BucketName}/*"
    Metadata:
      BucketName: !Ref ImageBucket

  BucketCleanupFunction:
    Type: AWS::Lambda::Function
    Properties:
      FunctionName: !Sub '${AWS::StackName}-BucketCleanupFunction'
      Handler: index.lambda_handler
      Runtime: python3.8
      Role: !GetAtt BucketCleanupLambdaRole.Arn
      Timeout: 300
      Code:
        ZipFile: |
          import boto3
          import cfnresponse

          s3 = boto3.client('s3')

          def lambda_handler(event, context):
              try:
                  request_type = event.get('RequestType')
                  bucket = event.get('ResourceProperties', {}).get('BucketName')
                  if request_type == 'Delete' and bucket:
                      response = s3.list_objects_v2(Bucket=bucket)
                      if 'Contents' in response:
                          for obj in response['Contents']:
                              s3.delete_object(Bucket=bucket, Key=obj['Key'])
                  cfnresponse.send(event, context, cfnresponse.SUCCESS, {})
              except Exception as e:
                  cfnresponse.send(event, context, cfnresponse.FAILED, {'Message': str(e)})

  StepFunctionsExecutionRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Sub '${AWS::StackName}-SFNExecutionRole'
      AssumeRolePolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: Allow
            Principal:
              Service: states.amazonaws.com
            Action: sts:AssumeRole
      Policies:
        - PolicyName: SFNPolicy
          PolicyDocument:
            Version: "2012-10-17"
            Statement:
              - Effect: Allow
                Action:
                  - rekognition:DetectLabels
                Resource: "*"
              - Effect: Allow
                Action:
                  - lambda:InvokeFunction
                Resource: 
                  - !GetAtt ProcessLabelsFunction.Arn
              - Effect: Allow
                Action:
                  - s3:GetObject
                Resource:
                  - !Sub "arn:aws:s3:::${BucketName}/*"
    Metadata:
      BucketName: !Ref ImageBucket

  EventBridgeToSFNRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Sub '${AWS::StackName}-EventBridgeToSFNRole'
      AssumeRolePolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: Allow
            Principal:
              Service: events.amazonaws.com
            Action: sts:AssumeRole
      Policies:
        - PolicyName: EventBridgeInvokeSFNPolicy
          PolicyDocument:
            Version: "2012-10-17"
            Statement:
              - Effect: Allow
                Action: states:StartExecution
                Resource: 
                  - !GetAtt ImageRecognitionStateMachine.Arn

  ImageRecognitionStateMachine:
    Type: AWS::StepFunctions::StateMachine
    DependsOn: ProcessLabelsFunction
    Properties:
      StateMachineName: !Sub '${AWS::StackName}-ImageRecStateMachine'
      RoleArn: !GetAtt StepFunctionsExecutionRole.Arn
      DefinitionString: !Sub
        - |
          {
            "Comment": "Image recognition workflow",
            "StartAt": "ValidateFileExtension",
            "States": {
              "ValidateFileExtension": {
                "Type": "Choice",
                "Choices": [
                  {
                    "Variable": "$.objectKey",
                    "StringMatches": "*.jpg",
                    "Next": "DetectLabels"
                  },
                  {
                    "Variable": "$.objectKey",
                    "StringMatches": "*.jpeg",
                    "Next": "DetectLabels"
                  },
                  {
                    "Variable": "$.objectKey",
                    "StringMatches": "*.png",
                    "Next": "DetectLabels"
                  }
                ],
                "Default": "InvalidFileExtension"
              },
              "InvalidFileExtension": {
                "Type": "Fail",
                "Error": "InvalidFileExtension",
                "Cause": "The uploaded file extension is not supported."
              },
              "DetectLabels": {
                "Type": "Task",
                "Resource": "arn:aws:states:::aws-sdk:rekognition:detectLabels",
                "Parameters": {
                  "Image": {
                    "S3Object": {
                      "Bucket": "$.bucket",
                      "Name": "$.objectKey"
                    }
                  },
                  "MaxLabels": 10,
                  "MinConfidence": 70
                },
                "Next": "ProcessResults"
              },
              "ProcessResults": {
                "Type": "Task",
                "Resource": "arn:aws:states:::lambda:invoke",
                "Parameters": {
                  "FunctionName": "${ProcessLabelsFunctionArn}",
                  "Payload": {
                    "bucket.$": "$.bucket",
                    "objectKey.$": "$.objectKey",
                    "Labels.$": "$.Labels"
                  }
                },
                "End": true
              }
            }
          }
        - { ProcessLabelsFunctionArn: !GetAtt ProcessLabelsFunction.Arn }

  S3EventRule:
    Type: AWS::Events::Rule
    Properties:
      Name: !Sub '${AWS::StackName}-S3EventRule'
      EventPattern:
        source:
          - "aws.s3"
        detail-type:
          - "Object Level Operations"
        detail:
          eventName:
            - "PutObject"
          requestParameters:
            bucketName:
              - !Ref ImageBucket
      Targets:
        - Arn: !GetAtt ImageRecognitionStateMachine.Arn
          Id: "TargetStateMachine"
          RoleArn: !GetAtt EventBridgeToSFNRole.Arn

  BucketCleanupCustomResource:
    Type: Custom::S3BucketCleanup
    Properties:
      ServiceToken: !GetAtt BucketCleanupFunction.Arn
      BucketName: !Ref ImageBucket

Outputs:
  BucketName:
    Description: "Name of the S3 bucket for image uploads"
    Value: !Ref ImageBucket
  StateMachineARN:
    Description: "ARN of the Step Functions state machine"
    Value: !GetAtt ImageRecognitionStateMachine.Arn
  SNSTopicARN:
    Description: "SNS Topic ARN for SMS alerts"
    Value: !Ref SNSTopic