template/trinity-large-preview:free-scot/row_146_update_1_template_20260315_020555.yaml
AWSTemplateFormatVersion: '2010-09-09'

Parameters:
  PhoneNumber:
    Type: String
    Default: +1234567890
    AllowedPattern: ^\+[1-9]\d{1,14}$
  LambdaRuntime:
    Type: String
    Default: python3.12
    AllowedValues:
      - python3.12
      - nodejs20.x

Resources:
  ImageBucket:
    Type: AWS::S3::Bucket
    Properties:
      BucketName: !Sub image-analysis-pipeline-${AWS::AccountId}

  LambdaExecutionRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: ImageAnalysisLambdaExecutionRole
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service:
                - lambda.amazonaws.com
            Action:
              - sts:AssumeRole

  LambdaExecutionPolicy:
    Type: AWS::IAM::Policy
    Properties:
      PolicyName: ImageAnalysisLambdaExecutionPolicy
      PolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Action:
              - s3:GetObject
            Resource: !Sub arn:aws:s3:::${ImageBucket}/*
          - Effect: Allow
            Action:
              - rekognition:DetectFaces
            Resource: '*'
          - Effect: Allow
            Action:
              - sns:Publish
            Resource: '*'
      Roles:
        - !Ref LambdaExecutionRole

  StepFunctionsRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: ImageAnalysisStepFunctionsRole
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service:
                - states.amazonaws.com
            Action:
              - sts:AssumeRole

  StepFunctionsPolicy:
    Type: AWS::IAM::Policy
    Properties:
      PolicyName: ImageAnalysisStepFunctionsPolicy
      PolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Action:
              - lambda:InvokeFunction
            Resource:
              - !GetAtt TriggerLambda.Arn
              - !GetAtt AnalysisLambda.Arn
              - !GetAtt NotificationLambda.Arn
          - Effect: Allow
            Action:
              - rekognition:DetectFaces
            Resource: '*'
      Roles:
        - !Ref StepFunctionsRole

  SNSTopicRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: ImageAnalysisSNSTopicRole
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service:
                - sns.amazonaws.com
            Action:
              - sts:AssumeRole

  SNSTopicPolicy:
    Type: AWS::IAM::Policy
    Properties:
      PolicyName: ImageAnalysisSNSTopicPolicy
      PolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Action:
              - sns:Publish
            Resource: '*'
      Roles:
        - !Ref SNSTopicRole

  AlertTopic:
    Type: AWS::SNS::Topic
    Properties:
      TopicName: ImageAnalysisAlertTopic

  AlertSubscription:
    Type: AWS::SNS::Subscription
    Properties:
      Endpoint: !Ref PhoneNumber
      Protocol: SMS
      TopicArn: !Ref AlertTopic

  TriggerLambda:
    Type: AWS::Lambda::Function
    Properties:
      FunctionName: ImageAnalysisTriggerLambda
      Runtime: !Ref LambdaRuntime
      Handler: index.handler
      Code:
        S3Bucket: !Sub image-analysis-pipeline-${AWS::AccountId}
        S3Key: trigger.zip
      Role: !GetAtt LambdaExecutionRole.Arn

  AnalysisLambda:
    Type: AWS::Lambda::Function
    Properties:
      FunctionName: ImageAnalysisAnalysisLambda
      Runtime: !Ref LambdaRuntime
      Handler: index.handler
      Code:
        S3Bucket: !Sub image-analysis-pipeline-${AWS::AccountId}
        S3Key: analysis.zip
      Role: !GetAtt LambdaExecutionRole.Arn

  NotificationLambda:
    Type: AWS::Lambda::Function
    Properties:
      FunctionName: ImageAnalysisNotificationLambda
      Runtime: !Ref LambdaRuntime
      Handler: index.handler
      Code:
        S3Bucket: !Sub image-analysis-pipeline-${AWS::AccountId}
        S3Key: notification.zip
      Role: !GetAtt LambdaExecutionRole.Arn

  TriggerLambdaPermission:
    Type: AWS::Lambda::Permission
    Properties:
      Action: lambda:InvokeFunction
      Principal: s3.amazonaws.com
      SourceArn: !GetAtt ImageBucket.Arn
      FunctionName: !GetAtt TriggerLambda.Arn

  AnalysisLambdaPermission:
    Type: AWS::Lambda::Permission
    Properties:
      Action: lambda:InvokeFunction
      Principal: states.amazonaws.com
      FunctionName: !GetAtt AnalysisLambda.Arn

  ImageAnalysisStateMachine:
    Type: AWS::StepFunctions::StateMachine
    Properties:
      StateMachineName: ImageAnalysisStateMachine
      DefinitionString: !Sub |
        {
          "StartAt": "Trigger",
          "States": {
            "Trigger": {
              "Type": "Task",
              "Resource": "${TriggerLambda}",
              "Next": "Analysis"
            },
            "Analysis": {
              "Type": "Task",
              "Resource": "${AnalysisLambda}",
              "Next": "Choice"
            },
            "Choice": {
              "Type": "Choice",
              "Choices": [
                {
                  "Variable": "$.human_detected",
                  "BooleanEquals": true,
                  "Next": "Notification"
                }
              ],
              "Default": "End"
            },
            "Notification": {
              "Type": "Task",
              "Resource": "${NotificationLambda}",
              "Next": "End"
            },
            "End": {}
          }
        }
      RoleArn: !GetAtt StepFunctionsRole.Arn

  BucketNotification:
    Type: AWS::S3::BucketNotification
    Properties:
      Bucket: !Ref ImageBucket
      NotificationConfiguration:
        LambdaFunctionConfigurations:
          - Event: s3:ObjectCreated:*
            Function: !GetAtt TriggerLambda.Arn

Outputs:
  ImageBucketName:
    Description: Name of the S3 bucket for image uploads
    Value: !Ref ImageBucket
  StateMachineArn:
    Description: ARN of the Step Functions state machine
    Value: !Ref ImageAnalysisStateMachine
  AlertTopicArn:
    Description: ARN of the SNS topic for alerts
    Value: !Ref AlertTopic