template/trinity-large-preview:free-scot/row_140_update_4_template_20260315_013320.yaml
AWSTemplateFormatVersion: '2010-09-09'

Resources:
  CalculatorLambda:
    Type: AWS::Lambda::Function
    Properties:
      Runtime: nodejs20.x
      Handler: index.handler
      Code:
        ZipFile: |
          exports.handler = async (event) => {
            const { operator, operands } = event;
            let result;
            switch (operator) {
              case 'add':
                result = operands[0] + operands[1];
                break;
              case 'subtract':
                result = operands[0] - operands[1];
                break;
              case 'multiply':
                result = operands[0] * operands[1];
                break;
              case 'divide':
                if (operands[1] === 0) {
                  throw new Error('Division by zero');
                }
                result = operands[0] / operands[1];
                break;
              default:
                throw new Error(`Unsupported operator: ${operator}`);
            }
            return { result };
          };
      Timeout: 30
      MemorySize: 128
      Role: !GetAtt LambdaExecutionRole.Arn

  LambdaLogGroup:
    Type: AWS::Logs::LogGroup
    Properties:
      RetentionInDays: 3
      LogGroupName: !Join ['', ['/aws/lambda/', !Ref CalculatorLambda]]

  CalculatorStateMachine:
    Type: AWS::StepFunctions::StateMachine
    Properties:
      DefinitionString: |
        {
          "StartAt": "ChoiceState",
          "States": {
            "ChoiceState": {
              "Type": "Choice",
              "Choices": [
                {
                  "Variable": "$.operator",
                  "StringEquals": "add",
                  "Next": "AddOperation"
                },
                {
                  "Variable": "$.operator",
                  "StringEquals": "subtract",
                  "Next": "SubtractOperation"
                },
                {
                  "Variable": "$.operator",
                  "StringEquals": "multiply",
                  "Next": "MultiplyOperation"
                },
                {
                  "Variable": "$.operator",
                  "StringEquals": "divide",
                  "Next": "DivideOperation"
                }
              ],
              "Default": "FailState"
            },
            "AddOperation": {
              "Type": "Pass",
              "Result": {
                "operator": "add",
                "operands": ["$.operands"]
              },
              "ResultPath": "$",
              "Next": "CalculatorLambda"
            },
            "SubtractOperation": {
              "Type": "Pass",
              "Result": {
                "operator": "subtract",
                "operands": ["$.operands"]
              },
              "ResultPath": "$",
              "Next": "CalculatorLambda"
            },
            "MultiplyOperation": {
              "Type": "Pass",
              "Result": {
                "operator": "multiply",
                "operands": ["$.operands"]
              },
              "ResultPath": "$",
              "Next": "CalculatorLambda"
            },
            "DivideOperation": {
              "Type": "Pass",
              "Result": {
                "operator": "divide",
                "operands": ["$.operands"]
              },
              "ResultPath": "$",
              "Next": "CalculatorLambda"
            },
            "CalculatorLambda": {
              "Type": "Task",
              "Resource": "arn:aws:lambda:us-east-1:123456789012:function:CalculatorLambda",
              "End": true
            },
            "FailState": {
              "Type": "Fail",
              "Cause": "Unsupported operator",
              "Error": "UnsupportedOperator"
            }
          }
        }
      RoleArn: !GetAtt StateMachineRole.Arn
      LoggingConfiguration:
        Destinations:
          - CloudWatchLogsLogGroup:
              LogGroupArn: !GetAtt LambdaLogGroup.Arn
        IncludeExecutionData: true
        Level: ALL
      TracingConfiguration:
        Enabled: true

  LambdaExecutionRole:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
            Action: sts:AssumeRole
      ManagedPolicyArns:
        - arn:aws:iam::aws:policy/service-role/AWSLambdaBasicExecutionRole

  StateMachineRole:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: states.amazonaws.com
            Action: sts:AssumeRole
      Policies:
        - PolicyName: StepFunctionsLambdaAccess
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - lambda:InvokeFunction
                Resource: !GetAtt CalculatorLambda.Arn

  StateMachineLambdaPermission:
    Type: AWS::Lambda::Permission
    Properties:
      Action: lambda:InvokeFunction
      FunctionName: !GetAtt CalculatorLambda.Arn
      Principal: states.amazonaws.com
      SourceArn: !GetAtt CalculatorStateMachine.Arn