template/trinity-partch-march/trinity-large-preview:free-cot/row_140_update_1_template_20260310_112647.yaml
AWSTemplateFormatVersion: '2010-09-09'
Description: Serverless Calculator Workflow using Step Functions and Lambda

Parameters:
  LambdaTimeout:
    Type: Number
    Default: 10
    Description: Lambda function timeout in seconds
  LambdaMemory:
    Type: Number
    Default: 128
    Description: Lambda function memory size in MB

Resources:
  CalculatorIAMRole:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service:
                - lambda.amazonaws.com
                - states.amazonaws.com
            Action: sts:AssumeRole
      ManagedPolicyArns:
        - arn:aws:iam::aws:policy/service-role/AWSLambdaBasicExecutionRole
        - arn:aws:iam::aws:policy/AWSStepFunctionsFullAccess

  CalculatorLogGroup:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName: /aws/lambda/Calculator
      RetentionInDays: 3

  CalculatorFunction:
    Type: AWS::Lambda::Function
    Properties:
      FunctionName: Calculator
      Handler: calculator.lambda_handler
      Runtime: python3.12
      Timeout: !Ref LambdaTimeout
      MemorySize: !Ref LambdaMemory
      Role: !GetAtt CalculatorIAMRole.Arn
      Code:
        ZipFile: |
          import json
          import operator

          def lambda_handler(event, context):
              try:
                  operator = event.get('operator')
                  operands = event.get('operands', [])

                  if not operator or not operands or len(operands) != 2:
                      return {
                          'statusCode': 400,
                          'body': json.dumps({'error': 'Invalid input: operator and two operands required'})
                      }

                  operations = {
                      'add': operator.add,
                      'subtract': operator.sub,
                      'multiply': operator.mul,
                      'divide': operator.truediv
                  }

                  if operator not in operations:
                      return {
                          'statusCode': 400,
                          'body': json.dumps({'error': f'Unsupported operator: {operator}'})
                      }

                  result = operations[operator](operands[0], operands[1])

                  return {
                      'statusCode': 200,
                      'body': json.dumps({'result': result})
                  }

              except Exception as e:
                  return {
                      'statusCode': 500,
                      'body': json.dumps({'error': str(e)})
                  }

  CalculatorStateMachine:
    Type: AWS::StepFunctions::StateMachine
    Properties:
      StateMachineName: Calculator-StateMachine
      RoleArn: !GetAtt CalculatorIAMRole.Arn
      DefinitionString: |
        {
          "StartAt": "ChoiceState",
          "States": {
            "ChoiceState": {
              "Type": "Choice",
              "Choices": [
                {
                  "Variable": "$.operator",
                  "StringEquals": "add",
                  "Next": "AddOperation"
                },
                {
                  "Variable": "$.operator",
                  "StringEquals": "subtract",
                  "Next": "SubtractOperation"
                },
                {
                  "Variable": "$.operator",
                  "StringEquals": "multiply",
                  "Next": "MultiplyOperation"
                },
                {
                  "Variable": "$.operator",
                  "StringEquals": "divide",
                  "Next": "DivideOperation"
                }
              ],
              "Default": "FailState"
            },
            "AddOperation": {
              "Type": "Task",
              "Resource": "arn:aws:lambda:us-east-1:#{AWS::Region}:#{AWS::AccountId}:function:Calculator",
              "ResultSelector": {
                "result.$": "$.Payload"
              },
              "End": true
            },
            "SubtractOperation": {
              "Type": "Task",
              "Resource": "arn:aws:lambda:us-east-1:#{AWS::Region}:#{AWS::AccountId}:function:Calculator",
              "ResultSelector": {
                "result.$": "$.Payload"
              },
              "End": true
            },
            "MultiplyOperation": {
              "Type": "Task",
              "Resource": "arn:aws:lambda:us-east-1:#{AWS::Region}:#{AWS::AccountId}:function:Calculator",
              "ResultSelector": {
                "result.$": "$.Payload"
              },
              "End": true
            },
            "DivideOperation": {
              "Type": "Task",
              "Resource": "arn:aws:lambda:us-east-1:#{AWS::Region}:#{AWS::AccountId}:function:Calculator",
              "ResultSelector": {
                "result.$": "$.Payload"
              },
              "End": true
            },
            "FailState": {
              "Type": "Fail",
              "Cause": "Unsupported Operator",
              "Error": "UnsupportedOperatorError"
            }
          }
        }

Outputs:
  StateMachineArn:
    Description: Step Functions State Machine ARN
    Value: !Ref CalculatorStateMachine
  LambdaFunctionArn:
    Description: Lambda Function ARN
    Value: !GetAtt CalculatorFunction.Arn