template/trinity-partch-march/trinity-large-preview:free-cot/row_141_update_3_template_20260310_113455.yaml
AWSTemplateFormatVersion: '2010-09-09'
Description: Automated Image Recognition Pipeline with Step Functions, S3, Rekognition, and SMS Alerts

Parameters:
  PhoneNumber:
    Type: String
    Default: +14071113333
    Description: Phone number to receive SMS alerts
  ImageExtensions:
    Type: String
    Default: "jpg,jpeg,png"
    Description: Allowed image file extensions (comma-separated)
  RekognitionLabels:
    Type: String
    Default: "Human,Person"
    Description: Labels to detect in Rekognition (comma-separated)

Resources:
  # S3 Bucket for Image Uploads
  S3Bucket:
    Type: AWS::S3::Bucket
    Properties:
      BucketName: !Sub ${AWS::StackName}-image-uploads-${AWS::AccountId}
      VersioningConfiguration:
        Status: Enabled
      OwnershipControls:
        Rules:
          - ObjectOwnership: BucketOwnerEnforced
      BucketEncryption:
        ServerSideEncryptionConfiguration:
          - ServerSideEncryptionByDefault:
              SSEAlgorithm: AES256

  # SNS Topic for SMS Alerts
  SNSTopic:
    Type: AWS::SNS::Topic
    Properties:
      TopicName: !Sub ${AWS::StackName}-ImageAlertTopic

  # SNS Subscription for SMS
  SNSTopicSubscription:
    Type: AWS::SNS::Subscription
    Properties:
      TopicArn: !Ref SNSTopic
      Protocol: sms
      Endpoint: !Ref PhoneNumber

  # Lambda Function for Image Validation
  ValidateImageFunction:
    Type: AWS::Lambda::Function
    Properties:
      FunctionName: !Sub ${AWS::StackName}-ValidateImageFunction
      Runtime: python3.12
      Handler: index.lambda_handler
      Role: !GetAtt LambdaExecutionRole.Arn
      Code:
        ZipFile: |
          import json
          import os

          def lambda_handler(event, context):
              s3_bucket = event.get('s3Bucket')
              s3_key = event.get('s3Key')
              allowed_extensions = event.get('allowedExtensions', 'jpg,jpeg,png').split(',')

              if not s3_bucket or not s3_key:
                  raise ValueError("Missing s3Bucket or s3Key in event")

              file_extension = s3_key.split('.')[-1].lower()
              if file_extension not in allowed_extensions:
                  raise ValueError(f"Invalid file extension: {file_extension}")

              return {
                  'statusCode': 200,
                  's3Bucket': s3_bucket,
                  's3Key': s3_key
              }

  # Lambda Function for Rekognition
  RekognitionFunction:
    Type: AWS::Lambda::Function
    Properties:
      FunctionName: !Sub ${AWS::StackName}-RekognitionFunction
      Runtime: python3.12
      Handler: index.lambda_handler
      Role: !GetAtt LambdaExecutionRole.Arn
      Code:
        ZipFile: |
          import json
          import boto3

          def lambda_handler(event, context):
              s3_bucket = event.get('s3Bucket')
              s3_key = event.get('s3Key')
              labels = event.get('labels', 'Human,Person').split(',')

              if not s3_bucket or not s3_key:
                  raise ValueError("Missing s3Bucket or s3Key in event")

              rekognition = boto3.client('rekognition')
              response = rekognition.detect_labels(
                  Image={
                      'S3Object': {
                          'Bucket': s3_bucket,
                          'Name': s3_key
                      }
                  },
                  MaxLabels=10
              )

              labels_detected = any(label['Name'] in labels for label in response['Labels'])
              return {
                  'statusCode': 200,
                  'labelsDetected': labels_detected
              }

  # Lambda Execution Role
  LambdaExecutionRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Sub ${AWS::StackName}-LambdaExecutionRole
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
            Action: sts:AssumeRole
      Policies:
        - PolicyName: LambdaBasicExecutionPolicy
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - logs:CreateLogGroup
                  - logs:CreateLogStream
                  - logs:PutLogEvents
                Resource: arn:aws:logs:*:*:*
        - PolicyName: S3RekognitionPolicy
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - s3:GetObject
                Resource: !Sub arn:${AWS::Partition}:s3:::${S3Bucket}/*
              - Effect: Allow
                Action:
                  - rekognition:DetectLabels
                Resource: '*'

  # Lambda Function for S3 Bucket Cleanup
  CleanupFunction:
    Type: AWS::Lambda::Function
    Properties:
      FunctionName: !Sub ${AWS::StackName}-CleanupFunction
      Runtime: python3.12
      Handler: index.lambda_handler
      Role: !GetAtt CleanupRole.Arn
      Code:
        ZipFile: |
          import json
          import boto3

          def lambda_handler(event, context):
              request_type = event.get('RequestType')
              if request_type == 'Delete':
                  s3 = boto3.client('s3')
                  bucket_name = event['ResourceProperties']['BucketName']
                  try:
                      response = s3.list_objects_v2(Bucket=bucket_name)
                      if 'Contents' in response:
                          for item in response['Contents']:
                              s3.delete_object(Bucket=bucket_name, Key=item['Key'])
                      return {'Status': 'SUCCESS'}
                  except Exception as e:
                      return {'Status': 'FAILED', 'Reason': str(e)}
              return {'Status': 'SUCCESS'}

  # Cleanup Lambda Role
  CleanupRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Sub ${AWS::StackName}-CleanupRole
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
            Action: sts:AssumeRole
      Policies:
        - PolicyName: S3CleanupPolicy
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - s3:ListBucket
                  - s3:DeleteObject
                Resource:
                  - !Sub arn:${AWS::Partition}:s3:::${S3Bucket}
                  - !Sub arn:${AWS::Partition}:s3:::${S3Bucket}/*

  # Custom Resource for S3 Cleanup
  S3CleanupResource:
    Type: Custom::S3Cleanup
    Properties:
      ServiceToken: !GetAtt CleanupFunction.Arn
      BucketName: !Ref S3Bucket

  # IAM Role for EventBridge to trigger Step Functions
  EventBridgeRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Sub ${AWS::StackName}-EventBridgeRole
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: events.amazonaws.com
            Action: sts:AssumeRole
      Policies:
        - PolicyName: StepFunctionsExecutionPolicy
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action: states:StartExecution
                Resource: !GetAtt StepFunctionsStateMachine.Arn

  # Step Functions State Machine
  StepFunctionsStateMachine:
    Type: AWS::StepFunctions::StateMachine
    Properties:
      StateMachineName: !Sub ${AWS::StackName}-ImageRecognitionWorkflow
      RoleArn: !GetAtt EventBridgeRole.Arn
      DefinitionString:
        !Sub |
          {
            "StartAt": "ValidateImage",
            "States": {
              "ValidateImage": {
                "Type": "Task",
                "Resource": "arn:aws:states:::lambda:invoke",
                "Parameters": {
                  "FunctionName": "${ValidateImageFunction.Arn}",
                  "Payload": {
                    "s3Bucket.$": "$.detail.requestParameters.bucketName",
                    "s3Key.$": "$.detail.requestParameters.key",
                    "allowedExtensions.$": "${ImageExtensions}"
                  }
                },
                "ResultSelector": {
                  "s3Bucket.$": "$.Payload.s3Bucket",
                  "s3Key.$": "$.Payload.s3Key"
                },
                "Next": "RekognitionDetectLabels"
              },
              "RekognitionDetectLabels": {
                "Type": "Task",
                "Resource": "arn:aws:states:::lambda:invoke",
                "Parameters": {
                  "FunctionName": "${RekognitionFunction.Arn}",
                  "Payload": {
                    "s3Bucket.$": "$.s3Bucket",
                    "s3Key.$": "$.s3Key",
                    "labels.$": "${RekognitionLabels}"
                  }
                },
                "ResultSelector": {
                  "labelsDetected.$": "$.Payload.labelsDetected"
                },
                "Next": "CheckResults"
              },
              "CheckResults": {
                "Type": "Choice",
                "Choices": [
                  {
                    "Variable": "$.labelsDetected",
                    "BooleanEquals": true,
                    "Next": "SendAlert"
                  }
                ],
                "Default": "Cleanup"
              },
              "SendAlert": {
                "Type": "Task",
                "Resource": "arn:aws:states:::sns:publish",
                "Parameters": {
                  "TopicArn": "${SNSTopic}",
                  "Message": "Human face detected in image: ${s3Bucket}/${s3Key}"
                },
                "Next": "Cleanup"
              },
              "Cleanup": {
                "Type": "Pass",
                "End": true
              }
            }
          }

  # EventBridge Rule for S3 Object Creation
  EventBridgeRule:
    Type: AWS::Events::Rule
    Properties:
      Name: !Sub ${AWS::StackName}-S3UploadRule
      EventPattern:
        source:
          - aws.s3
        detail-type:
          - AWS API Call via CloudTrail
        detail:
          eventSource:
            - s3.amazonaws.com
          eventName:
            - PutObject
          requestParameters:
            bucketName:
              - !Ref S3Bucket
      Targets:
        - Arn: !GetAtt StepFunctionsStateMachine.Arn
          Id: StepFunctionsTarget
          RoleArn: !GetAtt EventBridgeRole.Arn

Outputs:
  S3BucketName:
    Description: S3 Bucket Name for Image Uploads
    Value: !Ref S3Bucket
  StepFunctionsStateMachineArn:
    Description: Step Functions State Machine ARN
    Value: !GetAtt StepFunctionsStateMachine.Arn
  SNSTopicArn:
    Description: SNS Topic ARN for Alerts
    Value: !Ref SNSTopic