template/trinity-large-preview:free-tdd/row_141_update_5_template_20260316_002541.yaml
AWSTemplateFormatVersion: '2010-09-09'
Description: Automated Image Recognition Pipeline with Step Functions, S3, and Rekognition

Parameters:
  S3BucketName:
    Type: String
    Default: image-recognition-pipeline-bucket
    Description: Name of the S3 bucket for image uploads
  LambdaFunctionName:
    Type: String
    Default: S3UploadTriggerLambda
    Description: Name of the Lambda function for S3 upload trigger
  CleanupLambdaFunctionName:
    Type: String
    Default: S3BucketCleanupLambda
    Description: Name of the Lambda function for bucket cleanup
  StepFunctionsStateMachineName:
    Type: String
    Default: ImageRecognitionStateMachine
    Description: Name of the Step Functions state machine
  SNSTopicName:
    Type: String
    Default: ImageRecognitionAlerts
    Description: Name of the SNS topic for alerts
  EventBridgeRuleName:
    Type: String
    Default: S3UploadEventRule
    Description: Name of the EventBridge rule
  EventBridgeRoleName:
    Type: String
    Default: EventBridgeStepFunctionsRole
    Description: Name of the EventBridge IAM role
  StepFunctionsRoleName:
    Type: String
    Default: StepFunctionsExecutionRole
    Description: Name of the Step Functions IAM role

Resources:
  ImageRecognitionBucket:
    Type: AWS::S3::Bucket
    Properties:
      BucketName: !Ref S3BucketName
      NotificationConfiguration:
        LambdaConfigurations:
          - Event: s3:ObjectCreated:*
            Function: !GetAtt S3UploadTriggerLambda.Arn

  S3UploadTriggerLambda:
    Type: AWS::Lambda::Function
    Properties:
      FunctionName: !Ref LambdaFunctionName
      Runtime: python3.12
      Handler: index.handler
      Role: !GetAtt LambdaExecutionRole.Arn
      Code:
        ZipFile: |
          import json
          import boto3
          import os

          def handler(event, context):
              s3 = boto3.client('s3')
              stepfunctions = boto3.client('stepfunctions')
              bucket = event['Records'][0]['s3']['bucket']['name']
              key = event['Records'][0]['s3']['object']['key']

              stateMachineArn = os.environ['STATEMACHINE_ARN']
              input = {
                  "bucket": bucket,
                  "key": key
              }

              response = stepfunctions.start_execution(
                  stateMachineArn=stateMachineArn,
                  input=json.dumps(input)
              )

              return {
                  'statusCode': 200,
                  'body': json.dumps('Step Functions execution started!')
              }

  LambdaExecutionRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: LambdaExecutionRole
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
            Action: sts:AssumeRole
      ManagedPolicyArns:
        - arn:aws:iam::aws:policy/service-role/AWSLambdaBasicExecutionRole
      Policies:
        - PolicyName: S3StepFunctionsAccess
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - s3:GetObject
                  - s3:ListBucket
                  - s3:DeleteObject
                Resource:
                  - !Sub 'arn:aws:s3:::${S3BucketName}/*'
                  - !Sub 'arn:aws:s3:::${S3BucketName}'
              - Effect: Allow
                Action: states:StartExecution
                Resource: !GetAtt StepFunctionsStateMachine.Arn

  StepFunctionsStateMachine:
    Type: AWS::StepFunctions::StateMachine
    Properties:
      StateMachineName: !Ref StepFunctionsStateMachineName
      RoleArn: !GetAtt StepFunctionsRole.Arn
      DefinitionString: |
        {
          "StartAt": "ValidateImage",
          "States": {
            "ValidateImage": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "arn:aws:lambda:FUNCTION_REGION:ACCOUNT_ID:function:ValidateImageLambda",
                "Payload": {
                  "bucket.$": "$.bucket",
                  "key.$": "$.key"
                }
              },
              "Next": "DetectLabels"
            },
            "DetectLabels": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "arn:aws:lambda:FUNCTION_REGION:ACCOUNT_ID:function:DetectLabelsLambda",
                "Payload": {
                  "bucket.$": "$.bucket",
                  "key.$": "$.key"
                }
              },
              "Next": "CheckForHuman"
            },
            "CheckForHuman": {
              "Type": "Choice",
              "Choices": [
                {
                  "Variable": "$.Labels",
                  "StringEquals": "Human",
                  "Next": "SendAlert"
                },
                {
                  "Variable": "$.Labels",
                  "StringEquals": "Person",
                  "Next": "SendAlert"
                }
              ],
              "Default": "End"
            },
            "SendAlert": {
              "Type": "Task",
              "Resource": "arn:aws:states:::sns:publish",
              "Parameters": {
                "TopicArn": "arn:aws:sns:REGION:ACCOUNT_ID:ImageRecognitionAlerts",
                "Message": "Human detected in image: ${$.key}"
              },
              "End": true
            },
            "End": {
              "Type": "Pass",
              "End": true
            }
          }
        }

  StepFunctionsRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Ref StepFunctionsRoleName
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: states.amazonaws.com
            Action: sts:AssumeRole
      ManagedPolicyArns:
        - arn:aws:iam::aws:policy/AWSStepFunctionsFullAccess
      Policies:
        - PolicyName: StepFunctionsExecutionPolicy
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - s3:GetObject
                  - lambda:InvokeFunction
                  - sns:Publish
                Resource: '*'

  SNSTopic:
    Type: AWS::SNS::Topic
    Properties:
      TopicName: !Ref SNSTopicName

  SNSTopicSubscription:
    Type: AWS::SNS::Subscription
    Properties:
      TopicArn: !Ref SNSTopic
      Protocol: sms
      Endpoint: +14071113333

  EventBridgeRule:
    Type: AWS::Events::Rule
    Properties:
      Name: !Ref EventBridgeRuleName
      EventPattern:
        source:
          - aws.s3
        detail-type:
          - 'AWS API Call via CloudTrail'
        detail:
          eventSource:
            - s3.amazonaws.com
          eventName:
            - 'CompleteMultipartUpload'
            - 'PutObject'
          requestParameters:
            bucketName:
              - !Ref S3BucketName
      State: ENABLED
      Targets:
        - Arn: !Ref StepFunctionsStateMachine
          Id: StepFunctionsTarget

  EventBridgeRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Ref EventBridgeRoleName
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: events.amazonaws.com
            Action: sts:AssumeRole
      ManagedPolicyArns:
        - arn:aws:iam::aws:policy/service-role/AmazonEventBridgeFullAccess
      Policies:
        - PolicyName: EventBridgeStepFunctionsAccess
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action: states:StartExecution
                Resource: !GetAtt StepFunctionsStateMachine.Arn

  S3BucketCleanupLambda:
    Type: AWS::Lambda::Function
    Properties:
      FunctionName: !Ref CleanupLambdaFunctionName
      Runtime: python3.12
      Handler: index.handler
      Role: !GetAtt LambdaExecutionRole.Arn
      Code:
        ZipFile: |
          import boto3
          import json

          def handler(event, context):
              s3 = boto3.client('s3')
              bucket = event['ResourceProperties']['BucketName']

              try:
                  response = s3.list_objects_v2(Bucket=bucket)
                  if 'Contents' in response:
                      for obj in response['Contents']:
                          s3.delete_object(Bucket=bucket, Key=obj['Key'])
                  return {
                      'PhysicalResourceId': bucket,
                      'Data': {'BucketEmptied': True}
                  }
              except Exception as e:
                  raise RuntimeError(f"Failed to empty bucket: {str(e)}")

  S3CleanupCustomResource:
    Type: Custom::S3Cleanup
    Properties:
      ServiceToken: !GetAtt S3BucketCleanupLambda.Arn
      BucketName: !Ref S3BucketName

Outputs:
  ImageRecognitionBucket:
    Description: S3 bucket for image uploads
    Value: !Ref S3BucketName
  StepFunctionsStateMachine:
    Description: ARN of the Step Functions state machine
    Value: !Ref StepFunctionsStateMachine
  SNSTopic:
    Description: ARN of the SNS topic
    Value: !Ref SNSTopic