template/trinity-large-preview:free-tdd/row_140_update_2_template_20260316_001455.yaml
AWSTemplateFormatVersion: '2010-09-09'
Resources:
  CalculatorStateMachine:
    Type: AWS::StepFunctions::StateMachine
    Properties:
      StateMachineName: Calculator-StateMachine
      DefinitionString: |
        {
          "StartAt": "ChoiceState",
          "States": {
            "ChoiceState": {
              "Type": "Choice",
              "Choices": [
                {
                  "Variable": "$.operator",
                  "StringEquals": "add",
                  "Next": "Add"
                },
                {
                  "Variable": "$.operator",
                  "StringEquals": "subtract",
                  "Next": "Subtract"
                },
                {
                  "Variable": "$.operator",
                  "StringEquals": "multiply",
                  "Next": "Multiply"
                },
                {
                  "Variable": "$.operator",
                  "StringEquals": "divide",
                  "Next": "Divide"
                }
              ],
              "Default": "FailState"
            },
            "Add": {
              "Type": "Task",
              "Resource": "arn:aws:lambda:us-east-1:123456789012:function:Calculator",
              "End": true
            },
            "Subtract": {
              "Type": "Task",
              "Resource": "arn:aws:lambda:us-east-1:123456789012:function:Calculator",
              "End": true
            },
            "Multiply": {
              "Type": "Task",
              "Resource": "arn:aws:lambda:us-east-1:123456789012:function:Calculator",
              "End": true
            },
            "Divide": {
              "Type": "Task",
              "Resource": "arn:aws:lambda:us-east-1:123456789012:function:Calculator",
              "End": true
            },
            "FailState": {
              "Type": "Fail",
              "Cause": "Unsupported operator",
              "Error": "UnsupportedOperator"
            }
          }
        }
      RoleArn: "arn:aws:iam::123456789012:role/service-role/StepFunctionsRole"

  CalculatorFunction:
    Type: AWS::Lambda::Function
    Properties:
      FunctionName: Calculator
      Handler: index.handler
      Runtime: nodejs24.x
      Timeout: 10
      MemorySize: 128
      Environment:
        Variables:
          LOG_RETENTION_DAYS: "3"
      Role: "arn:aws:iam::123456789012:role/service-role/LambdaRole"
      VpcConfig:
        SubnetIds:
          - "subnet-12345678"
        SecurityGroupIds:
          - "sg-12345678"
      DeadLetterConfig:
        TargetArn: "arn:aws:sqs:us-east-1:123456789012:deadletter-queue"
      TracingConfig:
        Mode: Active
      Layers:
        - "arn:aws:lambda:us-east-1:123456789012:layer:my-layer:1"
      FileSystemConfigs:
        - Arn: "arn:aws:elasticfilesystem:us-east-1:123456789012:access-point/fsap-1234567890abcdef1"
          LocalMountPath: "/mnt/layer"
      ImageConfig:
        EntryPoint:
          - "node"
          - "index.js"
        Command:
          - "handler"
        WorkingDirectory: "/var/task"
      PackageType: "Image"
      Code:
        ImageUri: "123456789012.dkr.ecr.us-east-1.amazonaws.com/calculator:latest"

  CalculatorLogGroup:
    Type: AWS::Logs::LogGroup
    Properties:
      RetentionInDays: 3