template/trinity-large-preview:free-tdd/row_140_update_1_template_20260316_001800.yaml
AWSTemplateFormatVersion: '2010-09-09'
Resources:
  CalculatorStateMachine:
    Type: AWS::StepFunctions::StateMachine
    Properties:
      StateMachineName: Calculator-StateMachine
      DefinitionString: |
        {
          "StartAt": "ChoiceState",
          "States": {
            "ChoiceState": {
              "Type": "Choice",
              "Choices": [
                {
                  "Variable": "$.operator",
                  "StringEquals": "add",
                  "Next": "Add"
                },
                {
                  "Variable": "$.operator",
                  "StringEquals": "subtract",
                  "Next": "Subtract"
                },
                {
                  "Variable": "$.operator",
                  "StringEquals": "multiply",
                  "Next": "Multiply"
                },
                {
                  "Variable": "$.operator",
                  "StringEquals": "divide",
                  "Next": "Divide"
                }
              ],
              "Default": "FailState"
            },
            "Add": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "Calculator",
                "Payload": {
                  "operator.$": "$.operator",
                  "operands.$": "$.operands"
                }
              },
              "End": true
            },
            "Subtract": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "Calculator",
                "Payload": {
                  "operator.$": "$.operator",
                  "operands.$": "$.operands"
                }
              },
              "End": true
            },
            "Multiply": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "Calculator",
                "Payload": {
                  "operator.$": "$.operator",
                  "operands.$": "$.operands"
                }
              },
              "End": true
            },
            "Divide": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "Calculator",
                "Payload": {
                  "operator.$": "$.operator",
                  "operands.$": "$.operands"
                }
              },
              "End": true
            },
            "FailState": {
              "Type": "Fail",
              "Cause": "Unsupported operator",
              "Error": "UnsupportedOperator"
            }
          }
        }
      RoleArn: !GetAtt StepFunctionsRole.Arn

  CalculatorFunction:
    Type: AWS::Lambda::Function
    Properties:
      FunctionName: Calculator
      Handler: index.handler
      Runtime: python3.12
      Code:
        ZipFile: |
          import json
          def handler(event, context):
              operator = event.get('operator')
              operands = event.get('operands', [])
              if operator == 'add':
                  result = sum(operands)
              elif operator == 'subtract':
                  result = operands[0] - sum(operands[1:]) if len(operands) > 1 else operands[0]
              elif operator == 'multiply':
                  result = 1
                  for num in operands:
                      result *= num
              elif operator == 'divide':
                  if 0 in operands[1:]:
                      return {"error": "Division by zero"}
                  result = operands[0]
                  for num in operands[1:]:
                      result /= num
              else:
                  return {"error": "Unsupported operator"}
              return {"result": result}
      Role: !GetAtt LambdaExecutionRole.Arn
      Timeout: 30

  CalculatorLogGroup:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName: !Sub "/aws/lambda/${CalculatorFunction}"
      RetentionInDays: 3

  StepFunctionsRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: StepFunctionsCalculatorRole
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: states.amazonaws.com
            Action: sts:AssumeRole
      ManagedPolicyArns:
        - arn:aws:iam::aws:policy/service-role/AWSLambdaRole

  LambdaExecutionRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: LambdaCalculatorRole
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
            Action: sts:AssumeRole
      ManagedPolicyArns:
        - arn:aws:iam::aws:policy/service-role/AWSLambdaBasicExecutionRole