template/iterative/deepseek/deepseek-reasoner/row_140_update_1_template_20250511_044058.yaml
AWSTemplateFormatVersion: '2010-09-09'
Resources:
  LambdaExecutionRole:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service:
                - lambda.amazonaws.com
            Action:
              - sts:AssumeRole
      ManagedPolicyArns:
        - arn:aws:iam::aws:policy/service-role/AWSLambdaBasicExecutionRole

  CalculatorLambda:
    Type: AWS::Lambda::Function
    Properties:
      FunctionName: Calculator
      Runtime: python3.12
      Handler: index.lambda_handler
      Timeout: 3
      MemorySize: 128
      Role: !GetAtt LambdaExecutionRole.Arn
      Code:
        ZipFile: |
          def lambda_handler(event, context):
              operator = event['operator']
              operands = event['operands']
              
              if operator == 'add':
                  result = sum(operands)
              elif operator == 'subtract':
                  result = operands[0] - sum(operands[1:])
              elif operator == 'multiply':
                  result = 1
                  for num in operands:
                      result *= num
              elif operator == 'divide':
                  result = operands[0]
                  for num in operands[1:]:
                      result /= num
              else:
                  raise ValueError("Unsupported operator")
              
              return {'result': result}

  LambdaLogGroup:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName: /aws/lambda/Calculator
      RetentionInDays: 3

  StateMachineExecutionRole:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service:
                - states.amazonaws.com
            Action:
              - sts:AssumeRole
      Policies:
        - PolicyName: InvokeLambdaPolicy
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - lambda:InvokeFunction
                Resource: !GetAtt CalculatorLambda.Arn

  CalculatorStateMachine:
    Type: AWS::StepFunctions::StateMachine
    Properties:
      StateMachineName: Calculator-StateMachine
      RoleArn: !GetAtt StateMachineExecutionRole.Arn
      DefinitionString: !Sub |
        {
          "StartAt": "ChooseOperation",
          "States": {
            "ChooseOperation": {
              "Type": "Choice",
              "Choices": [
                {
                  "Variable": "$.operator",
                  "StringEquals": "add",
                  "Next": "AddNumbers"
                },
                {
                  "Variable": "$.operator",
                  "StringEquals": "subtract",
                  "Next": "SubtractNumbers"
                },
                {
                  "Variable": "$.operator",
                  "StringEquals": "multiply",
                  "Next": "MultiplyNumbers"
                },
                {
                  "Variable": "$.operator",
                  "StringEquals": "divide",
                  "Next": "DivideNumbers"
                }
              ],
              "Default": "UnsupportedOperator"
            },
            "AddNumbers": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "${CalculatorLambda.Arn}",
                "Payload": {
                  "operator": "add",
                  "operands.$": "$.operands"
                }
              },
              "Next": "CalculationSuccess"
            },
            "SubtractNumbers": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "${CalculatorLambda.Arn}",
                "Payload": {
                  "operator": "subtract",
                  "operands.$": "$.operands"
                }
              },
              "Next": "CalculationSuccess"
            },
            "MultiplyNumbers": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "${CalculatorLambda.Arn}",
                "Payload": {
                  "operator": "multiply",
                  "operands.$": "$.operands"
                }
              },
              "Next": "CalculationSuccess"
            },
            "DivideNumbers": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "${CalculatorLambda.Arn}",
                "Payload": {
                  "operator": "divide",
                  "operands.$": "$.operands"
                }
              },
              "Next": "CalculationSuccess"
            },
            "CalculationSuccess": {
              "Type": "Succeed"
            },
            "UnsupportedOperator": {
              "Type": "Fail",
              "Cause": "Unsupported arithmetic operator",
              "Error": "InvalidOperator"
            }
          }
        }
Outputs:
  StateMachineARN:
    Value: !Ref CalculatorStateMachine
    Description: ARN of the Step Functions State Machine
  LambdaFunctionARN:
    Value: !GetAtt CalculatorLambda.Arn
    Description: ARN of the Calculator Lambda Function