template/trinity-large-preview:free-baseline/row_141_update_1_template_20260313_065343.yaml
AWSTemplateFormatVersion: '2010-09-09'
Description: Automated Image Recognition Pipeline with Step Functions, S3, Rekognition, and SMS Alerts

Resources:
  # S3 Bucket for image uploads
  ImageUploadBucket:
    Type: AWS::S3::Bucket
    Properties:
      BucketName: !Sub image-recognition-${AWS::AccountId}-${AWS::Region}
      NotificationConfiguration:
        LambdaConfigurations:
          - Event: s3:ObjectCreated:*
            Filter:
              S3Key:
                Rules:
                  - Name: suffix
                    Value: .jpg
                  - Name: suffix
                    Value: .jpeg
                  - Name: suffix
                    Value: .png
            Function: !GetAtt S3EventLambda.Arn

  # IAM Role for Step Functions State Machine
  StepFunctionsRole:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: states.amazonaws.com
            Action: sts:AssumeRole
      ManagedPolicyArns:
        - arn:aws:iam::aws:policy/AmazonS3ReadOnlyAccess
        - arn:aws:iam::aws:policy/AmazonRekognitionReadOnlyAccess
        - arn:aws:iam::aws:policy/AmazonSNSFullAccess
      Policies:
        - PolicyName: StepFunctionsCustomPolicy
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - s3:GetObject
                  - s3:ListBucket
                Resource:
                  - !GetAtt ImageUploadBucket.Arn
                  - !Sub ${ImageUploadBucket.Arn}/*
              - Effect: Allow
                Action:
                  - rekognition:DetectLabels
                Resource: '*'

  # Step Functions State Machine
  ImageRecognitionStateMachine:
    Type: AWS::StepFunctions::StateMachine
    Properties:
      StateMachineName: ImageRecognitionStateMachine
      DefinitionString: !Sub |
        {
          "StartAt": "ValidateImage",
          "States": {
            "ValidateImage": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "${Lambda::ValidateImageArn}",
                "Payload": {
                  "s3Bucket": "${ImageUploadBucket}",
                  "s3Key": "${s3Key}"
                }
              },
              "ResultSelector": {
                "s3Key.$": "$.Payload.s3Key"
              },
              "Next": "DetectFaces"
            },
            "DetectFaces": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "${Lambda::RekognitionArn}",
                "Payload": {
                  "s3Bucket": "${ImageUploadBucket}",
                  "s3Key": "${s3Key}"
                }
              },
              "ResultSelector": {
                "labels.$": "$.Payload.labels"
              },
              "Next": "CheckForHuman"
            },
            "CheckForHuman": {
              "Type": "Choice",
              "Choices": [
                {
                  "Variable": "$.labels",
                  "StringEquals": "Human",
                  "Next": "SendAlert"
                },
                {
                  "Variable": "$.labels",
                  "StringEquals": "Person",
                  "Next": "SendAlert"
                }
              ],
              "Default": "End"
            },
            "SendAlert": {
              "Type": "Task",
              "Resource": "arn:aws:states:::sns:publish",
              "Parameters": {
                "TopicArn": "${SNS::TopicArn}",
                "Message": "Human face detected in image: ${s3Key}"
              },
              "End": true
            },
            "End": {
              "Type": "Pass",
              "End": true
            }
          }
        }
      RoleArn: !GetAtt StepFunctionsRole.Arn
      TracingConfiguration:
        Enabled: true

  # SNS Topic for SMS alerts
  AlertTopic:
    Type: AWS::SNS::Topic
    Properties:
      DisplayName: ImageRecognitionAlerts
      Subscription:
        - Protocol: sms
          Endpoint: +14071113333

  # Lambda function for image validation
  ValidateImageLambda:
    Type: AWS::Lambda::Function
    Properties:
      Handler: index.lambda_handler
      Runtime: python3.12
      Code:
        ZipFile: |
          import json
          import os

          def lambda_handler(event, context):
              s3_bucket = event['s3Bucket']
              s3_key = event['s3Key']
              allowed_extensions = ['.jpg', '.jpeg', '.png']

              if not any(s3_key.lower().endswith(ext) for ext in allowed_extensions):
                  raise ValueError(f"Invalid file extension: {s3_key}")

              return {
                  'statusCode': 200,
                  's3Key': s3_key
              }
      Role: !GetAtt LambdaExecutionRole.Arn

  # Lambda function for Rekognition
  RekognitionLambda:
    Type: AWS::Lambda::Function
    Properties:
      Handler: index.lambda_handler
      Runtime: python3.12
      Code:
        ZipFile: |
          import json
          import boto3

          def lambda_handler(event, context):
              s3_bucket = event['s3Bucket']
              s3_key = event['s3Key']

              rekognition = boto3.client('rekognition')
              response = rekognition.detect_labels(
                  Image={
                      'S3Object': {
                          'Bucket': s3_bucket,
                          'Name': s3_key
                      }
                  },
                  MaxLabels=10
              )

              labels = [label['Name'] for label in response['Labels']]
              return {
                  'statusCode': 200,
                  'labels': labels
              }
      Role: !GetAtt LambdaExecutionRole.Arn

  # Lambda execution role
  LambdaExecutionRole:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
            Action: sts:AssumeRole
      ManagedPolicyArns:
        - arn:aws:iam::aws:policy/service-role/AWSLambdaBasicExecutionRole
      Policies:
        - PolicyName: LambdaS3RekognitionPolicy
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - s3:GetObject
                  - s3:ListBucket
                Resource:
                  - !GetAtt ImageUploadBucket.Arn
                  - !Sub ${ImageUploadBucket.Arn}/*
              - Effect: Allow
                Action:
                  - rekognition:DetectLabels
                Resource: '*'

  # Custom resource Lambda function to empty S3 bucket
  EmptyS3BucketLambda:
    Type: AWS::Lambda::Function
    Properties:
      Handler: index.lambda_handler
      Runtime: python3.12
      Code:
        ZipFile: |
          import json
          import boto3
          import cfnresponse

          def lambda_handler(event, context):
              s3 = boto3.client('s3')
              bucket_name = event['ResourceProperties']['BucketName']

              if event['RequestType'] == 'Delete':
                  try:
                      bucket = s3.list_objects_v2(Bucket=bucket_name)
                      if 'Contents' in bucket:
                          for item in bucket['Contents']:
                              s3.delete_object(Bucket=bucket_name, Key=item['Key'])
                      cfnresponse.send(event, context, cfnresponse.SUCCESS, {})
                  except Exception as e:
                      cfnresponse.send(event, context, cfnresponse.FAILED, {})
              else:
                  cfnresponse.send(event, context, cfnresponse.SUCCESS, {})

      Role: !GetAtt LambdaExecutionRole.Arn

  # Custom resource to empty S3 bucket before deletion
  EmptyS3Bucket:
    Type: Custom::EmptyS3Bucket
    Properties:
      ServiceToken: !GetAtt EmptyS3BucketLambda.Arn
      BucketName: !Ref ImageUploadBucket

Outputs:
  ImageUploadBucketName:
    Description: Name of the S3 bucket for image uploads
    Value: !Ref ImageUploadBucket
  ImageRecognitionStateMachineArn:
    Description: ARN of the Step Functions state machine
    Value: !Ref ImageRecognitionStateMachine