template/trinity-large-preview:free-baseline/row_140_update_1_template_20260313_065200.yaml
AWSTemplateFormatVersion: '2010-09-09'
Description: Serverless calculator workflow using Step Functions and Lambda

Resources:
  CalculatorFunction:
    Type: AWS::Lambda::Function
    Properties:
      Handler: index.handler
      Role: !GetAtt CalculatorFunctionRole.Arn
      Code:
        ZipFile: |
          import json
          import math

          def handler(event, context):
              try:
                  operator = event.get('operator')
                  operands = event.get('operands', [])

                  if operator == 'add':
                      result = sum(operands)
                  elif operator == 'subtract':
                      result = operands[0] - sum(operands[1:]) if len(operands) > 1 else operands[0]
                  elif operator == 'multiply':
                      result = math.prod(operands)
                  elif operator == 'divide':
                      if 0 in operands[1:]:
                          return {'error': 'Division by zero'}
                      result = operands[0] / operands[1] if len(operands) > 1 else operands[0]
                  else:
                      return {'error': 'Unsupported operator'}

                  return {'result': result}
              except Exception as e:
                  return {'error': str(e)}
      Runtime: python3.12
      Timeout: 10
      MemorySize: 128

  CalculatorFunctionRole:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
            Action: sts:AssumeRole
      ManagedPolicyArns:
        - arn:aws:iam::aws:policy/service-role/AWSLambdaBasicExecutionRole

  CalculatorLogGroup:
    Type: AWS::Logs::LogGroup
    Properties:
      RetentionInDays: 3

  CalculatorStateMachine:
    Type: AWS::StepFunctions::StateMachine
    Properties:
      DefinitionString: |
        {
          "StartAt": "ChoiceState",
          "States": {
            "ChoiceState": {
              "Type": "Choice",
              "Choices": [
                {
                  "Variable": "$.operator",
                  "StringEquals": "add",
                  "Next": "Add"
                },
                {
                  "Variable": "$.operator",
                  "StringEquals": "subtract",
                  "Next": "Subtract"
                },
                {
                  "Variable": "$.operator",
                  "StringEquals": "multiply",
                  "Next": "Multiply"
                },
                {
                  "Variable": "$.operator",
                  "StringEquals": "divide",
                  "Next": "Divide"
                }
              ],
              "Default": "FailState"
            },
            "Add": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "CalculatorFunction",
                "Payload": {
                  "operator": "add",
                  "operands.$": "$.operands"
                }
              },
              "End": true
            },
            "Subtract": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "CalculatorFunction",
                "Payload": {
                  "operator": "subtract",
                  "operands.$": "$.operands"
                }
              },
              "End": true
            },
            "Multiply": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "CalculatorFunction",
                "Payload": {
                  "operator": "multiply",
                  "operands.$": "$.operands"
                }
              },
              "End": true
            },
            "Divide": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "CalculatorFunction",
                "Payload": {
                  "operator": "divide",
                  "operands.$": "$.operands"
                }
              },
              "End": true
            },
            "FailState": {
              "Type": "Fail",
              "Cause": "Unsupported operator",
              "Error": "UnsupportedOperator"
            }
          }
        }
      RoleArn: !GetAtt StateMachineRole.Arn

  StateMachineRole:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: states.amazonaws.com
            Action: sts:AssumeRole
      ManagedPolicyArns:
        - arn:aws:iam::aws:policy/AWSStepFunctionsFullAccess