template/trinity-large-preview:free-baseline/row_146_update_2_template_20260309_115744.yaml
AWSTemplateFormatVersion: '2010-09-09'
Description: Automated Image Analysis Pipeline with S3, Lambda, Step Functions, and Rekognition

Parameters:
  PhoneNumber:
    Type: String
    Description: Phone number to receive SMS alerts (E.164 format)
    Default: "+1234567890"
    AllowedPattern: "^\+[1-9]\d{1,14}$"

Resources:
  S3Bucket:
    Type: AWS::S3::Bucket
    Properties:
      BucketName: !Sub "image-analysis-${AWS::AccountId}-${AWS::Region}"
      NotificationConfiguration:
        LambdaConfigurations:
          - Event: s3:ObjectCreated:*
            Filter:
              S3Key:
                Rules:
                  - Name: prefix
                    Value: uploads/
            Function: !GetAtt LambdaImageProcessor.Arn

  LambdaImageProcessorRole:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
            Action: sts:AssumeRole
      ManagedPolicyArns:
        - arn:aws:iam::aws:policy/service-role/AWSLambdaBasicExecutionRole
      Policies:
        - PolicyName: RekognitionAccess
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - rekognition:DetectLabels
                Resource: "*"
        - PolicyName: StepFunctionsAccess
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - states:StartExecution
                Resource: !GetAtt StepFunctionsStateMachine.Arn

  LambdaImageProcessor:
    Type: AWS::Lambda::Function
    Properties:
      FunctionName: ImageProcessorFunction
      Handler: index.lambda_handler
      Runtime: python3.12
      Role: !GetAtt LambdaImageProcessorRole.Arn
      Code:
        ZipFile: |
          import json
          import boto3
          import os
          from urllib.parse import unquote

          def lambda_handler(event, context):
              s3_client = boto3.client('s3')
              step_client = boto3.client('stepfunctions')

              for record in event['Records']:
                  bucket = record['s3']['bucket']['name']
                  key = unquote(record['s3']['object']['key'])

                  state_machine_arn = os.environ['STATE_MACHINE_ARN']
                  input_data = {
                      'bucket': bucket,
                      'key': key
                  }

                  response = step_client.start_execution(
                      stateMachineArn=state_machine_arn,
                      input=json.dumps(input_data)
                  )

              return {
                  'statusCode': 200,
                  'body': json.dumps('Processing started')
              }

  LambdaSMSNotifierRole:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
            Action: sts:AssumeRole
      ManagedPolicyArns:
        - arn:aws:iam::aws:policy/service-role/AWSLambdaBasicExecutionRole
      Policies:
        - PolicyName: SNSAccess
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - sns:Publish
                Resource: !Ref SNSTopic

  LambdaSMSNotifier:
    Type: AWS::Lambda::Function
    Properties:
      FunctionName: SMSNotifierFunction
      Handler: index.lambda_handler
      Runtime: python3.12
      Role: !GetAtt LambdaSMSNotifierRole.Arn
      Environment:
        Variables:
          SNS_TOPIC_ARN: !Ref SNSTopic
          PHONE_NUMBER: !Ref PhoneNumber
      Code:
        ZipFile: |
          import json
          import boto3
          import os

          def lambda_handler(event, context):
              sns_client = boto3.client('sns')
              phone_number = os.environ['PHONE_NUMBER']
              message = event.get('message', 'Face detected in image')

              response = sns_client.publish(
                  PhoneNumber=phone_number,
                  Message=message
              )

              return {
                  'statusCode': 200,
                  'body': json.dumps('SMS sent')
              }

  StepFunctionsStateMachine:
    Type: AWS::StepFunctions::StateMachine
    Properties:
      StateMachineName: ImageAnalysisStateMachine
      DefinitionString: |
        {
          "StartAt": "DetectFaces",
          "States": {
            "DetectFaces": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "arn:aws:lambda:${AWS::Region}:${AWS::AccountId}:function:FaceDetectionFunction",
                "Payload": {
                  "bucket": "$$.State.Input.bucket",
                  "key": "$$.State.Input.key"
                }
              },
              "ResultSelector": {
                "faceCount.$": "$.Payload.faceCount"
              },
              "Next": "CheckFaces"
            },
            "CheckFaces": {
              "Type": "Choice",
              "Choices": [
                {
                  "Variable": "$.faceCount",
                  "NumericGreaterThan": 0,
                  "Next": "SendNotification"
                }
              ],
              "Default": "End"
            },
            "SendNotification": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "arn:aws:lambda:${AWS::Region}:${AWS::AccountId}:function:SMSNotifierFunction",
                "Payload": {
                  "message": "Human face detected in image"
                }
              },
              "End": true
            },
            "End": {
              "Type": "Pass",
              "End": true
            }
          }
        }
      RoleArn: !GetAtt StepFunctionsRole.Arn

  StepFunctionsRole:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: states.amazonaws.com
            Action: sts:AssumeRole
      ManagedPolicyArns:
        - arn:aws:iam::aws:policy/service-role/AWSLambdaRole
      Policies:
        - PolicyName: LambdaInvoke
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - lambda:InvokeFunction
                Resource:
                  - !GetAtt LambdaSMSNotifier.Arn
                  - !Sub "arn:aws:lambda:${AWS::Region}:${AWS::AccountId}:function:FaceDetectionFunction"

  FaceDetectionFunction:
    Type: AWS::Lambda::Function
    Properties:
      FunctionName: FaceDetectionFunction
      Handler: index.lambda_handler
      Runtime: python3.12
      Role: !GetAtt LambdaImageProcessorRole.Arn
      Code:
        ZipFile: |
          import json
          import boto3
          from urllib.parse import unquote

          def lambda_handler(event, context):
              s3_client = boto3.client('s3')
              rekognition_client = boto3.client('rekognition')

              bucket = event['bucket']
              key = unquote(event['key'])

              try:
                  image = s3_client.get_object(Bucket=bucket, Key=key)
                  response = rekognition_client.detect_labels(
                      Image={
                          'S3Object': {
                              'Bucket': bucket,
                              'Name': key
                          }
                      },
                      MaxLabels=10,
                      MinConfidence=75
                  )

                  face_count = 0
                  for label in response['Labels']:
                      if label['Name'].lower() == 'person' or label['Name'].lower() == 'face':
                          face_count += 1

                  return {
                      'faceCount': face_count
                  }
              except Exception as e:
                  return {
                      'faceCount': 0,
                      'error': str(e)
                  }

  SNSTopic:
    Type: AWS::SNS::Topic
    Properties:
      TopicName: ImageAnalysisAlerts

  SNSTopicPolicy:
    Type: AWS::SNS::TopicPolicy
    Properties:
      Topics:
        - !Ref SNSTopic
      PolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              AWS: "*"
            Action:
              - SNS:Publish
            Resource: !Ref SNSTopic

  LambdaInvokePermission:
    Type: AWS::Lambda::Permission
    Properties:
      Action: lambda:InvokeFunction
      FunctionName: !GetAtt LambdaImageProcessor.Arn
      Principal: s3.amazonaws.com
      SourceAccount: !Ref AWS::AccountId
      SourceArn: !Sub "arn:aws:s3:::${S3Bucket}"

  LambdaSMSNotifierPermission:
    Type: AWS::Lambda::Permission
    Properties:
      Action: lambda:InvokeFunction
      FunctionName: !GetAtt LambdaSMSNotifier.Arn
      Principal: states.amazonaws.com
      SourceAccount: !Ref AWS::AccountId
      SourceArn: !GetAtt StepFunctionsStateMachine.Arn

Outputs:
  S3BucketName:
    Description: Name of the S3 bucket for image uploads
    Value: !Ref S3Bucket
  StateMachineArn:
    Description: ARN of the Step Functions state machine
    Value: !Ref StepFunctionsStateMachine