template/trinity-large-preview:free-cot/row_140_update_1_template_20260314_065855.yaml
AWSTemplateFormatVersion: '2010-09-09'
Description: Serverless Calculator Workflow using Step Functions and Lambda

Resources:
  CalculatorStateMachine:
    Type: AWS::StepFunctions::StateMachine
    Properties:
      StateMachineName: Calculator-StateMachine
      DefinitionString: !Sub |
        {
          "StartAt": "Calculate",
          "States": {
            "Calculate": {
              "Type": "Choice",
              "Choices": [
                {
                  "Variable": "$.operator",
                  "StringEquals": "add",
                  "Next": "Add"
                },
                {
                  "Variable": "$.operator",
                  "StringEquals": "subtract",
                  "Next": "Subtract"
                },
                {
                  "Variable": "$.operator",
                  "StringEquals": "multiply",
                  "Next": "Multiply"
                },
                {
                  "Variable": "$.operator",
                  "StringEquals": "divide",
                  "Next": "Divide"
                }
              ],
              "Default": "Failure"
            },
            "Add": {
              "Type": "Task",
              "Resource": "${CalculatorLambda.Arn}",
              "ResultPath": "$.result",
              "End": true
            },
            "Subtract": {
              "Type": "Task",
              "Resource": "${CalculatorLambda.Arn}",
              "ResultPath": "$.result",
              "End": true
            },
            "Multiply": {
              "Type": "Task",
              "Resource": "${CalculatorLambda.Arn}",
              "ResultPath": "$.result",
              "End": true
            },
            "Divide": {
              "Type": "Task",
              "Resource": "${CalculatorLambda.Arn}",
              "ResultPath": "$.result",
              "End": true
            },
            "Failure": {
              "Type": "Fail",
              "Cause": "Unsupported Operator",
              "Error": "UnsupportedOperator"
            }
          }
        }
      RoleArn: !GetAtt StepFunctionsRole.Arn

  CalculatorLambda:
    Type: AWS::Lambda::Function
    Properties:
      FunctionName: Calculator
      Handler: index.handler
      Runtime: python3.12
      Code:
        ZipFile: |
          import json
          import operator

          def handler(event, context):
              try:
                  op = event.get('operator')
                  operands = event.get('operands', [])

                  operations = {
                      'add': lambda x, y: x + y,
                      'subtract': lambda x, y: x - y,
                      'multiply': lambda x, y: x * y,
                      'divide': lambda x, y: x / y if y != 0 else 'Division by zero error'
                  }

                  if op not in operations:
                      raise ValueError(f"Unsupported operator: {op}")

                  if len(operands) < 2:
                      raise ValueError("At least two operands are required")

                  result = operations[op](operands[0], operands[1])
                  return {
                      'statusCode': 200,
                      'body': json.dumps({'result': result})
                  }
              except Exception as e:
                  return {
                      'statusCode': 500,
                      'body': json.dumps({'error': str(e)})
                  }
      Timeout: 10
      MemorySize: 128
      Role: !GetAtt LambdaExecutionRole.Arn
      Environment:
        Variables:
          LOG_LEVEL: INFO

  CalculatorLogGroup:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName: !Sub "/aws/lambda/${CalculatorLambda}"
      RetentionInDays: 3

  StepFunctionsRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: StepFunctionsCalculatorRole
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: states.amazonaws.com
            Action: sts:AssumeRole
      ManagedPolicyArns:
        - arn:aws:iam::aws:policy/service-role/AWSLambdaRole

  LambdaExecutionRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: LambdaCalculatorRole
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
            Action: sts:AssumeRole
      ManagedPolicyArns:
        - arn:aws:iam::aws:policy/service-role/AWSLambdaBasicExecutionRole

Outputs:
  StateMachineArn:
    Description: Step Functions State Machine ARN
    Value: !Ref CalculatorStateMachine
  LambdaFunctionArn:
    Description: Lambda Function ARN
    Value: !GetAtt CalculatorLambda.Arn