template/trinity-large-preview:free-cot/row_146_update_3_template_20260314_073059.yaml
AWSTemplateFormatVersion: '2010-09-09'
Description: Automated Image Analysis Pipeline with S3, Lambda, Step Functions, and Rekognition

Parameters:
  S3BucketName:
    Type: String
    Default: "image-analysis-pipeline-unique-id"
    Description: "S3 bucket name for image uploads"
  
  PhoneNumber:
    Type: String
    Default: "+1234567890"
    Description: "Phone number for SMS alerts (E.164 format)"

Resources:
  # IAM Roles
  S3TriggerLambdaRole:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
            Action: sts:AssumeRole
      ManagedPolicyArns:
        - arn:aws:iam::aws:policy/service-role/AWSLambdaBasicExecutionRole
      Policies:
        - PolicyName: S3AccessPolicy
          PolicyDocument:
            Version: "2012-10-17"
            Statement:
              - Effect: Allow
                Action:
                  - s3:GetObject
                  - s3:ListBucket
                Resource:
                  - !Sub "arn:aws:s3:::${S3BucketName}"
                  - !Sub "arn:aws:s3:::${S3BucketName}/*"
        - PolicyName: StepFunctionsAccessPolicy
          PolicyDocument:
            Version: "2012-10-17"
            Statement:
              - Effect: Allow
                Action: states:StartExecution
                Resource: !GetAtt StepFunctionsStateMachine.Arn

  StepFunctionsRole:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: Allow
            Principal:
              Service: states.amazonaws.com
            Action: sts:AssumeRole
      ManagedPolicyArns:
        - arn:aws:iam::aws:policy/service-role/AWSLambdaRole
      Policies:
        - PolicyName: LambdaInvokePolicy
          PolicyDocument:
            Version: "2012-10-17"
            Statement:
              - Effect: Allow
                Action: lambda:InvokeFunction
                Resource:
                  - !GetAtt ImageAnalysisLambda.Arn
                  - !GetAtt NotificationLambda.Arn

  RekognitionLambdaRole:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
            Action: sts:AssumeRole
      ManagedPolicyArns:
        - arn:aws:iam::aws:policy/service-role/AWSLambdaBasicExecutionRole
      Policies:
        - PolicyName: RekognitionAccessPolicy
          PolicyDocument:
            Version: "2012-10-17"
            Statement:
              - Effect: Allow
                Action: rekognition:DetectLabels
                Resource: "*"
        - PolicyName: S3ReadAccessPolicy
          PolicyDocument:
            Version: "2012-10-17"
            Statement:
              - Effect: Allow
                Action: s3:GetObject
                Resource: !Sub "arn:aws:s3:::${S3BucketName}/*"

  NotificationLambdaRole:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
            Action: sts:AssumeRole
      ManagedPolicyArns:
        - arn:aws:iam::aws:policy/service-role/AWSLambdaBasicExecutionRole
      Policies:
        - PolicyName: SNSPublishPolicy
          PolicyDocument:
            Version: "2012-10-17"
            Statement:
              - Effect: Allow
                Action: sns:Publish
                Resource: !Ref SNSTopic

  # S3 Bucket
  ImageAnalysisBucket:
    Type: AWS::S3::Bucket
    Properties:
      BucketName: !Ref S3BucketName
      VersioningConfiguration:
        Status: Enabled
      PublicAccessBlockConfiguration:
        BlockPublicAcls: true
        BlockPublicPolicy: true
        IgnorePublicAcls: true
        RestrictPublicBuckets: true

  # Step Functions State Machine
  StepFunctionsStateMachine:
    Type: AWS::StepFunctions::StateMachine
    Properties:
      StateMachineName: ImageAnalysisStateMachine
      DefinitionString: !Sub |
        {
          "StartAt": "ImageAnalysis",
          "States": {
            "ImageAnalysis": {
              "Type": "Task",
              "Resource": "${ImageAnalysisLambda.Arn}",
              "Next": "CheckHumanDetection"
            },
            "CheckHumanDetection": {
              "Type": "Choice",
              "Choices": [
                {
                  "Variable": "$.humanDetected",
                  "BooleanEquals": true,
                  "Next": "SendNotification"
                }
              ],
              "Default": "End"
            },
            "SendNotification": {
              "Type": "Task",
              "Resource": "${NotificationLambda.Arn}",
              "End": true
            },
            "End": {
              "Type": "Pass",
              "End": true
            }
          }
        }
      RoleArn: !GetAtt StepFunctionsRole.Arn

  # Lambda Functions
  S3TriggerLambda:
    Type: AWS::Lambda::Function
    Properties:
      FunctionName: S3TriggerLambda
      Handler: index.lambda_handler
      Runtime: python3.12
      Role: !GetAtt S3TriggerLambdaRole.Arn
      Code:
        ZipFile: |
          import json
          import boto3
          import os

          def lambda_handler(event, context):
              try:
                  s3_client = boto3.client('s3')
                  stepfunctions_client = boto3.client('stepfunctions')

                  bucket = event['Records'][0]['s3']['bucket']['name']
                  key = event['Records'][0]['s3']['object']['key']

                  state_machine_arn = os.environ['STATE_MACHINE_ARN']
                  input_data = {
                      'bucket': bucket,
                      'key': key
                  }

                  response = stepfunctions_client.start_execution(
                      stateMachineArn=state_machine_arn,
                      input=json.dumps(input_data)
                  )

                  return {
                      'statusCode': 200,
                      'body': json.dumps('Step Functions execution started successfully')
                  }
              except Exception as e:
                  print(f"Error: {str(e)}")
                  raise e
      Environment:
        Variables:
          STATE_MACHINE_ARN: !Ref StepFunctionsStateMachine
      Timeout: 30
      MemorySize: 128
      Tags:
        - Key: Purpose
          Value: S3Trigger

  ImageAnalysisLambda:
    Type: AWS::Lambda::Function
    Properties:
      FunctionName: ImageAnalysisLambda
      Handler: index.lambda_handler
      Runtime: python3.12
      Role: !GetAtt RekognitionLambdaRole.Arn
      Code:
        ZipFile: |
          import json
          import boto3
          import os

          def lambda_handler(event, context):
              try:
                  rekognition_client = boto3.client('rekognition')
                  s3_client = boto3.client('s3')

                  bucket = event['bucket']
                  key = event['key']

                  response = rekognition_client.detect_labels(
                      Image={
                          'S3Object': {
                              'Bucket': bucket,
                              'Name': key
                          }
                      },
                      MaxLabels=10,
                      MinConfidence=75
                  )

                  human_detected = any(label['Name'] == 'Human' for label in response['Labels'])

                  return {
                      'statusCode': 200,
                      'body': json.dumps({
                          'humanDetected': human_detected,
                          'bucket': bucket,
                          'key': key
                      })
                  }
              except Exception as e:
                  print(f"Error: {str(e)}")
                  raise e
      Timeout: 30
      MemorySize: 256
      Tags:
        - Key: Purpose
          Value: ImageAnalysis

  NotificationLambda:
    Type: AWS::Lambda::Function
    Properties:
      FunctionName: NotificationLambda
      Handler: index.lambda_handler
      Runtime: python3.12
      Role: !GetAtt NotificationLambdaRole.Arn
      Code:
        ZipFile: |
          import json
          import boto3
          import os

          def lambda_handler(event, context):
              try:
                  sns_client = boto3.client('sns')
                  phone_number = os.environ['PHONE_NUMBER']

                  message = f"Human detected in image: s3://{event['bucket']}/{event['key']}"

                  response = sns_client.publish(
                      PhoneNumber=phone_number,
                      Message=message
                  )

                  return {
                      'statusCode': 200,
                      'body': json.dumps('SMS notification sent successfully')
                  }
              except Exception as e:
                  print(f"Error: {str(e)}")
                  raise e
      Environment:
        Variables:
          PHONE_NUMBER: !Ref PhoneNumber
      Timeout: 10
      MemorySize: 128
      Tags:
        - Key: Purpose
          Value: Notification

  # SNS Topic
  SNSTopic:
    Type: AWS::SNS::Topic
    Properties:
      DisplayName: "ImageDetectionAlerts"

  # S3 Bucket Policy for Lambda Permissions
  S3BucketPolicy:
    Type: AWS::S3::BucketPolicy
    Properties:
      Bucket: !Ref ImageAnalysisBucket
      PolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
            Action: s3:GetObject
            Resource: !Sub "arn:aws:s3:::${S3BucketName}/*"
          - Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
            Action: s3:ListBucket
            Resource: !Sub "arn:aws:s3:::${S3BucketName}"

Outputs:
  S3BucketName:
    Description: S3 bucket for image uploads
    Value: !Ref ImageAnalysisBucket
  StepFunctionsStateMachineArn:
    Description: ARN of the Step Functions state machine
    Value: !Ref StepFunctionsStateMachine
  S3TriggerLambdaArn:
    Description: ARN of the S3 trigger Lambda function
    Value: !GetAtt S3TriggerLambda.Arn
  ImageAnalysisLambdaArn:
    Description: ARN of the image analysis Lambda function
    Value: !GetAtt ImageAnalysisLambda.Arn
  NotificationLambdaArn:
    Description: ARN of the notification Lambda function
    Value: !GetAtt NotificationLambda.Arn