template/trinity-large-preview:free-cot/row_146_update_4_template_20260310_120253.yaml
AWSTemplateFormatVersion: '2010-09-09'
Description: Automated Image Analysis Pipeline with S3, Lambda, Step Functions, and Rekognition

Parameters:
  S3BucketName:
    Type: String
    Default: image-analysis-pipeline
    Description: S3 bucket name for image uploads
  PhoneNumber:
    Type: String
    Default: +1234567890
    Description: Phone number for SMS alerts
  LambdaTimeout:
    Type: Number
    Default: 30
    Description: Lambda function timeout in seconds

Resources:
  # S3 Bucket for Image Uploads
  ImageBucket:
    Type: AWS::S3::Bucket
    Properties:
      BucketName: !Ref S3BucketName
      VersioningConfiguration:
        Status: Enabled
      PublicAccessBlockConfiguration:
        BlockPublicAcls: true
        BlockPublicPolicy: true
        IgnorePublicAcls: true
        RestrictPublicBuckets: true

  # Lambda Execution Role
  LambdaExecutionRole:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
            Action: sts:AssumeRole
      ManagedPolicyArns:
        - arn:aws:iam::aws:policy/service-role/AWSLambdaBasicExecutionRole
      Policies:
        - PolicyName: RekognitionAccess
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action: rekognition:DetectFaces
                Resource: "*"
        - PolicyName: S3Access
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action: s3:GetObject
                Resource: !Sub "arn:aws:s3:::${ImageBucket}/*"
        - PolicyName: StepFunctionsAccess
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action: states:StartExecution
                Resource: !Sub "arn:aws:states:${AWS::Region}:${AWS::AccountId}:stateMachine:*"

  # Lambda Function for Image Processing
  ImageProcessingLambda:
    Type: AWS::Lambda::Function
    Properties:
      FunctionName: ImageProcessingLambda
      Handler: index.lambda_handler
      Runtime: python3.12
      Timeout: !Ref LambdaTimeout
      Role: !GetAtt LambdaExecutionRole.Arn
      Code:
        ZipFile: |
          import json
          import boto3
          import os

          def lambda_handler(event, context):
              s3_client = boto3.client('s3')
              step_client = boto3.client('stepfunctions')

              # Get the object from the event
              bucket = event['Records'][0]['s3']['bucket']['name']
              key = event['Records'][0]['s3']['object']['key']

              # Create input for Step Functions
              input_data = {
                  'bucket': bucket,
                  'key': key
              }

              # Start Step Functions execution
              response = step_client.start_execution(
                  stateMachineArn=os.environ['STATE_MACHINE_ARN'],
                  input=json.dumps(input_data)
              )

              return {
                  'statusCode': 200,
                  'body': json.dumps('Step Functions execution started')
              }

      Environment:
        Variables:
          STATE_MACHINE_ARN: !Ref StateMachine

  # Lambda Function for Rekognition Analysis
  RekognitionAnalysisLambda:
    Type: AWS::Lambda::Function
    Properties:
      FunctionName: RekognitionAnalysisLambda
      Handler: index.lambda_handler
      Runtime: python3.12
      Timeout: !Ref LambdaTimeout
      Role: !GetAtt LambdaExecutionRole.Arn
      Code:
        ZipFile: |
          import json
          import boto3

          def lambda_handler(event, context):
              rekognition_client = boto3.client('rekognition')
              s3_client = boto3.client('s3')

              bucket = event['bucket']
              key = event['key']

              # Call Rekognition to detect faces
              response = rekognition_client.detect_faces(
                  Image={
                      'S3Object': {
                          'Bucket': bucket,
                          'Name': key
                      }
                  },
                  Attributes=['ALL']
              )

              # Check if faces detected
              faces_detected = len(response['FaceDetails']) > 0

              return {
                  'bucket': bucket,
                  'key': key,
                  'faces_detected': faces_detected,
                  'face_details': response['FaceDetails']
              }

  # Lambda Function for SMS Notifications
  NotificationLambda:
    Type: AWS::Lambda::Function
    Properties:
      FunctionName: NotificationLambda
      Handler: index.lambda_handler
      Runtime: python3.12
      Timeout: !Ref LambdaTimeout
      Role: !GetAtt LambdaExecutionRole.Arn
      Code:
        ZipFile: |
          import json
          import boto3

          def lambda_handler(event, context):
              sns_client = boto3.client('sns')

              bucket = event['bucket']
              key = event['key']
              faces_detected = event['faces_detected']

              if faces_detected:
                  message = f"Human faces detected in image: s3://{bucket}/{key}"
                  sns_client.publish(
                      PhoneNumber=event['phone_number'],
                      Message=message
                  )

              return {
                  'statusCode': 200,
                  'body': json.dumps('Notification sent')
              }

  # SNS Topic for SMS Notifications
  NotificationTopic:
    Type: AWS::SNS::Topic
    Properties:
      DisplayName: ImageAnalysisNotifications

  # Step Functions State Machine
  StateMachine:
    Type: AWS::StepFunctions::StateMachine
    Properties:
      StateMachineName: ImageAnalysisStateMachine
      RoleArn: !GetAtt StateMachineRole.Arn
      DefinitionString: !Sub |
        {
          "StartAt": "RekognitionAnalysis",
          "States": {
            "RekognitionAnalysis": {
              "Type": "Task",
              "Resource": "${RekognitionAnalysisLambdaArn}",
              "ResultPath": "$.analysis_result",
              "Next": "CheckFacesDetected"
            },
            "CheckFacesDetected": {
              "Type": "Choice",
              "Choices": [
                {
                  "Variable": "$.analysis_result.faces_detected",
                  "BooleanEquals": true,
                  "Next": "SendNotification"
                }
              ],
              "Default": "EndState"
            },
            "SendNotification": {
              "Type": "Task",
              "Resource": "${NotificationLambdaArn}",
              "Parameters": {
                "bucket.$": "$.bucket",
                "key.$": "$.key",
                "faces_detected.$": "$.analysis_result.faces_detected",
                "phone_number": "${PhoneNumber}"
              },
              "End": true
            },
            "EndState": {
              "Type": "Pass",
              "End": true
            }
          }
        }
      DefinitionSubstitutions:
        RekognitionAnalysisLambdaArn: !GetAtt RekognitionAnalysisLambda.Arn
        NotificationLambdaArn: !GetAtt NotificationLambda.Arn
        PhoneNumber: !Ref PhoneNumber

  # Step Functions Execution Role
  StateMachineRole:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: states.amazonaws.com
            Action: sts:AssumeRole
      ManagedPolicyArns:
        - arn:aws:iam::aws:policy/service-role/AWSLambdaRole
      Policies:
        - PolicyName: LambdaInvokeAccess
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action: lambda:InvokeFunction
                Resource: !Sub "arn:aws:lambda:${AWS::Region}:${AWS::AccountId}:function:*"

  # Lambda Permission for S3 Event Notifications
  S3Permission:
    Type: AWS::Lambda::Permission
    Properties:
      Action: lambda:InvokeFunction
      FunctionName: !GetAtt ImageProcessingLambda.Arn
      Principal: s3.amazonaws.com
      SourceAccount: !Ref AWS::AccountId
      SourceArn: !Sub "arn:aws:s3:::${ImageBucket}"

  # S3 Event Notification Configuration
  S3EventNotification:
    Type: AWS::Lambda::EventInvokeConfig
    Properties:
      FunctionName: !Ref ImageProcessingLambda
      MaximumRetryAttempts: 0
      DestinationConfig:
        OnSuccess:
          Type: S3
          Location:
            Bucket: !Ref ImageBucket
            Key: 'lambda-success/'

  # S3 Bucket Notification Configuration
  ImageBucketNotification:
    Type: AWS::S3::BucketNotification
    Properties:
      Bucket: !Ref ImageBucket
      NotificationConfiguration:
        LambdaFunctionConfigurations:
          - Event: 's3:ObjectCreated:*'
            Function: !GetAtt ImageProcessingLambda.Arn

Outputs:
  ImageBucketName:
    Description: S3 Bucket Name for Image Uploads
    Value: !Ref ImageBucket
  StateMachineArn:
    Description: Step Functions State Machine ARN
    Value: !Ref StateMachine
  ImageProcessingLambdaArn:
    Description: Image Processing Lambda Function ARN
    Value: !GetAtt ImageProcessingLambda.Arn
  RekognitionAnalysisLambdaArn:
    Description: Rekognition Analysis Lambda Function ARN
    Value: !GetAtt RekognitionAnalysisLambda.Arn
  NotificationLambdaArn:
    Description: Notification Lambda Function ARN
    Value: !GetAtt NotificationLambda.Arn