template/iterative/gpt/o3-mini/row_146_update_2_template_20250531_081512.yaml
AWSTemplateFormatVersion: '2010-09-09'
Description: >
  CloudFormation template for an automated image analysis pipeline using S3, Lambda, Step Functions, Rekognition, and SNS.

Parameters:
  SMSPhoneNumber:
    Description: "The phone number to receive SMS alerts (in E.164 format, e.g., +11234567890)"
    Type: String

Resources:
  LambdaStartWorkflowRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Sub "LambdaStartWorkflowRole-${AWS::StackName}"
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
            Action: sts:AssumeRole
      Policies:
        - PolicyName: "StartStepFunctionsExecutionPolicy"
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - "states:StartExecution"
                Resource: "*"
              - Effect: Allow
                Action:
                  - "logs:CreateLogGroup"
                  - "logs:CreateLogStream"
                  - "logs:PutLogEvents"
                Resource: "arn:aws:logs:*:*:*"

  LambdaImageAnalysisRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Sub "LambdaImageAnalysisRole-${AWS::StackName}"
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
            Action: sts:AssumeRole
      Policies:
        - PolicyName: "RekognitionAndS3AccessPolicy"
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - "rekognition:DetectFaces"
                Resource: "*"
              - Effect: Allow
                Action:
                  - "s3:GetObject"
                Resource: !Sub "arn:aws:s3:::${ImageBucket}/*"
              - Effect: Allow
                Action:
                  - "logs:CreateLogGroup"
                  - "logs:CreateLogStream"
                  - "logs:PutLogEvents"
                Resource: "arn:aws:logs:*:*:*"

  LambdaSendSMSRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Sub "LambdaSendSMSRole-${AWS::StackName}"
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
            Action: sts:AssumeRole
      Policies:
        - PolicyName: "SNSPublishPolicy"
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - "sns:Publish"
                Resource: "*"
              - Effect: Allow
                Action:
                  - "logs:CreateLogGroup"
                  - "logs:CreateLogStream"
                  - "logs:PutLogEvents"
                Resource: "arn:aws:logs:*:*:*"

  StepFunctionsExecutionRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Sub "StepFunctionsExecutionRole-${AWS::StackName}"
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: states.amazonaws.com
            Action: sts:AssumeRole
      Policies:
        - PolicyName: "InvokeLambdaTasksPolicy"
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - "lambda:InvokeFunction"
                Resource:
                  - !GetAtt LambdaImageAnalysis.Arn
                  - !GetAtt LambdaSendSMS.Arn

  LambdaStartWorkflow:
    Type: AWS::Lambda::Function
    Properties:
      FunctionName: !Sub "LambdaStartWorkflow-${AWS::StackName}"
      Handler: index.lambda_handler
      Runtime: python3.8
      Role: !GetAtt LambdaStartWorkflowRole.Arn
      Timeout: 30
      Environment:
        Variables:
          STATE_MACHINE_ARN: !Ref StepFunctionsStateMachine
      Code:
        ZipFile: |
          import os
          import boto3
          import json
          def lambda_handler(event, context):
              state_machine_arn = os.environ.get('STATE_MACHINE_ARN')
              sf = boto3.client('stepfunctions')
              response = sf.start_execution(
                  stateMachineArn=state_machine_arn,
                  input=json.dumps(event)
              )
              return response

  LambdaImageAnalysis:
    Type: AWS::Lambda::Function
    Properties:
      FunctionName: !Sub "LambdaImageAnalysis-${AWS::StackName}"
      Handler: index.lambda_handler
      Runtime: python3.8
      Role: !GetAtt LambdaImageAnalysisRole.Arn
      Timeout: 60
      Code:
        ZipFile: |
          import boto3
          def lambda_handler(event, context):
              try:
                  record = event.get('Records', [])[0]
                  bucket = record['s3']['bucket']['name']
                  key = record['s3']['object']['key']
              except Exception:
                  bucket = event.get('bucket')
                  key = event.get('key')
              rekognition = boto3.client('rekognition')
              response = rekognition.detect_faces(
                  Image={'S3Object':{'Bucket': bucket, 'Name': key}},
                  Attributes=['ALL']
              )
              face_details = response.get('FaceDetails', [])
              human_detected = True if len(face_details) > 0 else False
              return {'HumanDetected': human_detected, 'bucket': bucket, 'key': key}

  LambdaSendSMS:
    Type: AWS::Lambda::Function
    Properties:
      FunctionName: !Sub "LambdaSendSMS-${AWS::StackName}"
      Handler: index.lambda_handler
      Runtime: python3.8
      Role: !GetAtt LambdaSendSMSRole.Arn
      Timeout: 30
      Environment:
        Variables:
          SMS_PHONE_NUMBER: !Ref SMSPhoneNumber
      Code:
        ZipFile: |
          import os
          import boto3
          def lambda_handler(event, context):
              sns = boto3.client('sns')
              phone_number = os.environ.get('SMS_PHONE_NUMBER')
              message = "ALERT: Human faces detected in the uploaded image."
              sns.publish(PhoneNumber=phone_number, Message=message)
              return {'Status': 'SMS Sent'}

  ImageBucket:
    Type: AWS::S3::Bucket
    Properties:
      BucketName: !Sub "image-analysis-bucket-${AWS::AccountId}-${AWS::Region}"
      NotificationConfiguration:
        LambdaConfigurations:
          - Event: "s3:ObjectCreated:*"
            Function: !GetAtt LambdaStartWorkflow.Arn
    DependsOn:
      - LambdaStartWorkflow
      - S3InvokeLambdaPermission

  S3InvokeLambdaPermission:
    Type: AWS::Lambda::Permission
    Properties:
      FunctionName: !GetAtt LambdaStartWorkflow.Arn
      Action: "lambda:InvokeFunction"
      Principal: "s3.amazonaws.com"
      SourceArn: !Sub "arn:aws:s3:::${ImageBucket}"

  StepFunctionsStateMachine:
    Type: AWS::StepFunctions::StateMachine
    Properties:
      StateMachineName: !Sub "ImageAnalysisStateMachine-${AWS::StackName}"
      RoleArn: !GetAtt StepFunctionsExecutionRole.Arn
      DefinitionString: !Sub 
        - |
          {
            "Comment": "State machine to process image analysis and send SMS alerts on human detection",
            "StartAt": "AnalyzeImage",
            "States": {
              "AnalyzeImage": {
                "Type": "Task",
                "Resource": "${LambdaImageAnalysisArn}",
                "Next": "CheckHuman"
              },
              "CheckHuman": {
                "Type": "Choice",
                "Choices": [
                  {
                    "Variable": "$.HumanDetected",
                    "BooleanEquals": true,
                    "Next": "SendAlert"
                  }
                ],
                "Default": "EndState"
              },
              "SendAlert": {
                "Type": "Task",
                "Resource": "${LambdaSendSMSArn}",
                "End": true
              },
              "EndState": {
                "Type": "Succeed"
              }
            }
          }
        - {
            LambdaImageAnalysisArn: !GetAtt LambdaImageAnalysis.Arn,
            LambdaSendSMSArn: !GetAtt LambdaSendSMS.Arn
          }

  SMSAlertTopic:
    Type: AWS::SNS::Topic
    Properties:
      TopicName: !Sub "SMSAlertTopic-${AWS::StackName}"

  SMSAlertSubscription:
    Type: AWS::SNS::Subscription
    Properties:
      Protocol: sms
      Endpoint: !Ref SMSPhoneNumber
      TopicArn: !Ref SMSAlertTopic

Outputs:
  S3BucketName:
    Description: "Name of the S3 bucket for image uploads"
    Value: !Ref ImageBucket
  StateMachineARN:
    Description: "ARN of the Step Functions state machine"
    Value: !Ref StepFunctionsStateMachine
  SNSTopicARN:
    Description: "ARN of the SNS Topic for SMS alerts"
    Value: !Ref SMSAlertTopic