template/iterative/gpt/o3-mini/row_140_update_5_template_20250429_094051.yaml
AWSTemplateFormatVersion: '2010-09-09'
Description: >
  Production-ready CloudFormation template for a serverless calculator workflow using AWS Step Functions and Lambda
  to perform arithmetic operations based on dynamic input.

Resources:
  CalculatorLambdaRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: CalculatorLambdaRole
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service:
                - lambda.amazonaws.com
            Action:
              - sts:AssumeRole
      Path: /
      Policies:
        - PolicyName: CalculatorLambdaPolicy
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - logs:CreateLogGroup
                  - logs:CreateLogStream
                  - logs:PutLogEvents
                Resource: arn:aws:logs:*:*:*
                
  CalculatorLambdaFunction:
    Type: AWS::Lambda::Function
    Properties:
      FunctionName: Calculator
      Handler: index.handler
      Role: !GetAtt CalculatorLambdaRole.Arn
      Runtime: python3.8
      Timeout: 10
      Code:
        ZipFile: |
          def handler(event, context):
              operator = event.get('operator')
              operands = event.get('operands', [])
              
              if not isinstance(operands, list) or len(operands) == 0:
                  raise Exception("Operands must be a non-empty list")
              
              if operator == 'add':
                  result = sum(operands)
              elif operator == 'subtract':
                  result = operands[0] - sum(operands[1:]) if len(operands) > 1 else operands[0]
              elif operator == 'multiply':
                  result = 1
                  for num in operands:
                      result *= num
              elif operator == 'divide':
                  if 0 in operands[1:]:
                      raise Exception("Division by zero encountered")
                  result = operands[0]
                  for num in operands[1:]:
                      result /= num
              else:
                  raise Exception("Unsupported operator")
              
              return {"result": result}

  CalculatorLambdaLogGroup:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName: "/aws/lambda/Calculator"
      RetentionInDays: 3

  CalculatorStateMachineRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: CalculatorStateMachineRole
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service:
                - states.amazonaws.com
            Action:
              - sts:AssumeRole
      Path: /
      Policies:
        - PolicyName: CalculatorStateMachinePolicy
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - lambda:InvokeFunction
                Resource: !GetAtt CalculatorLambdaFunction.Arn

  CalculatorStateMachine:
    Type: AWS::StepFunctions::StateMachine
    Properties:
      StateMachineName: Calculator-StateMachine
      RoleArn: !GetAtt CalculatorStateMachineRole.Arn
      DefinitionString: 
        !Sub
          - |
            {
              "Comment": "A State Machine to perform calculator operations",
              "StartAt": "ChoiceOperator",
              "States": {
                "ChoiceOperator": {
                  "Type": "Choice",
                  "Choices": [
                    {
                      "Variable": "$.operator",
                      "StringEquals": "add",
                      "Next": "InvokeCalculator"
                    },
                    {
                      "Variable": "$.operator",
                      "StringEquals": "subtract",
                      "Next": "InvokeCalculator"
                    },
                    {
                      "Variable": "$.operator",
                      "StringEquals": "multiply",
                      "Next": "InvokeCalculator"
                    },
                    {
                      "Variable": "$.operator",
                      "StringEquals": "divide",
                      "Next": "InvokeCalculator"
                    }
                  ],
                  "Default": "UnsupportedOperator"
                },
                "InvokeCalculator": {
                  "Type": "Task",
                  "Resource": "arn:aws:states:::lambda:invoke",
                  "Parameters": {
                    "FunctionName": "${LambdaArn}",
                    "Payload.$": "$"
                  },
                  "End": true
                },
                "UnsupportedOperator": {
                  "Type": "Fail",
                  "Error": "UnsupportedOperatorError",
                  "Cause": "The provided operator is not supported."
                }
              }
            }
          - LambdaArn: !GetAtt CalculatorLambdaFunction.Arn

Outputs:
  CalculatorLambdaFunctionArn:
    Description: "ARN of the Calculator Lambda function."
    Value: !GetAtt CalculatorLambdaFunction.Arn
  
  CalculatorStateMachineArn:
    Description: "ARN of the Calculator Step Functions State Machine."
    Value: !Ref CalculatorStateMachine