template/ablation_study/claude-3-5-sonnet-20241022/row_140_update_1_template_20250517_055313.yaml
AWSTemplateFormatVersion: '2010-09-09'
Description: 'Serverless Calculator using Step Functions and Lambda'

Resources:
  CalculatorLambdaRole:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
            Action: sts:AssumeRole
      ManagedPolicyArns:
        - arn:aws:iam::aws:policy/service-role/AWSLambdaBasicExecutionRole

  CalculatorFunction:
    Type: AWS::Lambda::Function
    Properties:
      Handler: index.lambda_handler
      Role: !GetAtt CalculatorLambdaRole.Arn
      Code:
        ZipFile: |
          def lambda_handler(event, context):
              operator = event['operator']
              operands = event['operands']
              
              if len(operands) != 2:
                  return {'error': 'Exactly two operands required'}
              
              a, b = operands
              
              if operator == 'add':
                  result = a + b
              elif operator == 'subtract':
                  result = a - b
              elif operator == 'multiply':
                  result = a * b
              elif operator == 'divide':
                  if b == 0:
                      raise ValueError('Division by zero')
                  result = a / b
              else:
                  raise ValueError('Invalid operator')
              
              return {'result': result}
      Runtime: python3.9
      Timeout: 10
      MemorySize: 128

  CalculatorLogGroup:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName: !Sub /aws/lambda/${CalculatorFunction}
      RetentionInDays: 3

  StatesExecutionRole:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: states.amazonaws.com
            Action: sts:AssumeRole
      Policies:
        - PolicyName: LambdaInvoke
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - lambda:InvokeFunction
                Resource: !GetAtt CalculatorFunction.Arn

  CalculatorStateMachine:
    Type: AWS::StepFunctions::StateMachine
    Properties:
      RoleArn: !GetAtt StatesExecutionRole.Arn
      DefinitionString: !Sub |
        {
          "Comment": "A calculator state machine",
          "StartAt": "ValidateOperator",
          "States": {
            "ValidateOperator": {
              "Type": "Choice",
              "Choices": [
                {
                  "Variable": "$.operator",
                  "StringEquals": "add",
                  "Next": "Calculate"
                },
                {
                  "Variable": "$.operator",
                  "StringEquals": "subtract",
                  "Next": "Calculate"
                },
                {
                  "Variable": "$.operator",
                  "StringEquals": "multiply",
                  "Next": "Calculate"
                },
                {
                  "Variable": "$.operator",
                  "StringEquals": "divide",
                  "Next": "Calculate"
                }
              ],
              "Default": "OperatorError"
            },
            "Calculate": {
              "Type": "Task",
              "Resource": "${CalculatorFunction.Arn}",
              "End": true,
              "Catch": [
                {
                  "ErrorEquals": ["ValueError"],
                  "Next": "CalculationError"
                }
              ]
            },
            "OperatorError": {
              "Type": "Fail",
              "Error": "UnsupportedOperator",
              "Cause": "Unsupported arithmetic operator"
            },
            "CalculationError": {
              "Type": "Fail",
              "Error": "CalculationError",
              "Cause": "Error during calculation"
            }
          }
        }

Outputs:
  StateMachineArn:
    Description: ARN of the Calculator State Machine
    Value: !Ref CalculatorStateMachine

  LambdaFunctionArn:
    Description: ARN of the Calculator Lambda Function
    Value: !GetAtt CalculatorFunction.Arn