template/ablation_study/claude-3-5-sonnet-20241022/row_141_update_2_template_20250517_055905.yaml
AWSTemplateFormatVersion: '2010-09-09'
Description: 'Automated image recognition pipeline using Step Functions, S3, and Rekognition'

Resources:
  ImageBucket:
    Type: 'AWS::S3::Bucket'
    DeletionPolicy: Delete
    Properties:
      VersioningConfiguration:
        Status: Enabled
      NotificationConfiguration:
        EventBridgeConfiguration:
          EventBridgeEnabled: true

  ImageTopic:
    Type: 'AWS::SNS::Topic'
    Properties:
      DisplayName: 'Face Detection Alerts'

  TopicSubscription:
    Type: 'AWS::SNS::Subscription'
    Properties:
      Protocol: sms
      Endpoint: '+14071113333'
      TopicArn: !Ref ImageTopic

  StatesExecutionRole:
    Type: 'AWS::IAM::Role'
    Properties:
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: states.amazonaws.com
            Action: 'sts:AssumeRole'
      ManagedPolicyArns:
        - 'arn:aws:iam::aws:policy/service-role/AWSStepFunctionsFullAccess'
      Policies:
        - PolicyName: StatesExecutionPolicy
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - 's3:GetObject'
                Resource:
                  - !Sub 'arn:aws:s3:::${ImageBucket}/*'
              - Effect: Allow
                Action:
                  - 'rekognition:DetectLabels'
                Resource: '*'
              - Effect: Allow
                Action:
                  - 'sns:Publish'
                Resource:
                  - !Ref ImageTopic

  EventBridgeRole:
    Type: 'AWS::IAM::Role'
    Properties:
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: events.amazonaws.com
            Action: 'sts:AssumeRole'
      Policies:
        - PolicyName: EventBridgeStatesPolicy
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action: 'states:StartExecution'
                Resource: !GetAtt ImageProcessingStateMachine.Arn

  ImageProcessingStateMachine:
    Type: 'AWS::StepFunctions::StateMachine'
    DependsOn: 
      - StatesExecutionRole
      - ImageBucket
      - ImageTopic
    Properties:
      RoleArn: !GetAtt StatesExecutionRole.Arn
      DefinitionString: !Sub |-
        {
          "Comment": "Image Processing State Machine",
          "StartAt": "ValidateImage",
          "States": {
            "ValidateImage": {
              "Type": "Choice",
              "Choices": [
                {
                  "Variable": "$.detail.object.key",
                  "StringMatches": "*.jpg",
                  "Next": "DetectLabels"
                },
                {
                  "Variable": "$.detail.object.key",
                  "StringMatches": "*.jpeg",
                  "Next": "DetectLabels"
                },
                {
                  "Variable": "$.detail.object.key",
                  "StringMatches": "*.png",
                  "Next": "DetectLabels"
                }
              ],
              "Default": "Failed"
            },
            "DetectLabels": {
              "Type": "Task",
              "Resource": "arn:aws:states:::rekognition:detectLabels",
              "Parameters": {
                "Image": {
                  "S3Object": {
                    "Bucket": "${ImageBucket}",
                    "Name.$": "$.detail.object.key"
                  }
                }
              },
              "Next": "CheckForHuman",
              "Catch": [
                {
                  "ErrorEquals": ["States.ALL"],
                  "Next": "Failed"
                }
              ]
            },
            "CheckForHuman": {
              "Type": "Choice",
              "Choices": [
                {
                  "Variable": "$.Labels[*].Name",
                  "StringEquals": "Human",
                  "Next": "SendAlert"
                },
                {
                  "Variable": "$.Labels[*].Name",
                  "StringEquals": "Person",
                  "Next": "SendAlert"
                }
              ],
              "Default": "Success"
            },
            "SendAlert": {
              "Type": "Task",
              "Resource": "arn:aws:states:::sns:publish",
              "Parameters": {
                "TopicArn": "${ImageTopic}",
                "Message.$": "States.Format('Human face detected in image: {}', $.detail.object.key)"
              },
              "End": true
            },
            "Success": {
              "Type": "Succeed"
            },
            "Failed": {
              "Type": "Fail"
            }
          }
        }

  ImageUploadRule:
    Type: 'AWS::Events::Rule'
    DependsOn: ImageProcessingStateMachine
    Properties:
      Description: 'Rule for capturing S3 image uploads'
      EventPattern: !Sub |-
        {
          "source": ["aws.s3"],
          "detail-type": ["Object Created"],
          "detail": {
            "bucket": {
              "name": ["${ImageBucket}"]
            }
          }
        }
      State: ENABLED
      Targets:
        - Arn: !GetAtt ImageProcessingStateMachine.Arn
          RoleArn: !GetAtt EventBridgeRole.Arn
          Id: ProcessImage

  CleanupFunction:
    Type: 'AWS::Lambda::Function'
    DependsOn: CleanupFunctionRole
    Properties:
      Handler: 'index.handler'
      Role: !GetAtt CleanupFunctionRole.Arn
      Code:
        ZipFile: |
          import boto3
          import cfnresponse
          def handler(event, context):
              try:
                  if event['RequestType'] == 'Delete':
                      s3 = boto3.resource('s3')
                      bucket = s3.Bucket(event['ResourceProperties']['BucketName'])
                      bucket.objects.all().delete()
                  cfnresponse.send(event, context, cfnresponse.SUCCESS, {})
              except Exception as e:
                  cfnresponse.send(event, context, cfnresponse.FAILED, {"Error": str(e)})
      Runtime: python3.9
      Timeout: 300
      MemorySize: 128

  CleanupFunctionRole:
    Type: 'AWS::IAM::Role'
    Properties:
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
            Action: 'sts:AssumeRole'
      ManagedPolicyArns:
        - 'arn:aws:iam::aws:policy/service-role/AWSLambdaBasicExecutionRole'
      Policies:
        - PolicyName: S3BucketCleanup
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - 's3:ListBucket'
                  - 's3:DeleteObject'
                Resource:
                  - !Sub 'arn:aws:s3:::${ImageBucket}'
                  - !Sub 'arn:aws:s3:::${ImageBucket}/*'

  BucketCleanupResource:
    Type: 'Custom::BucketCleanup'
    DependsOn: CleanupFunction
    Properties:
      ServiceToken: !GetAtt CleanupFunction.Arn
      BucketName: !Ref ImageBucket

Outputs:
  BucketName:
    Description: 'Name of the S3 bucket for image uploads'
    Value: !Ref ImageBucket

  StateMachineArn:
    Description: 'ARN of the Step Functions state machine'
    Value: !Ref ImageProcessingStateMachine

  TopicArn:
    Description: 'ARN of the SNS topic for alerts'
    Value: !Ref ImageTopic