template/claude-3-5-sonnet-20241022/row_140_update_1_template_20250419_115647.yaml
AWSTemplateFormatVersion: '2010-09-09'
Description: 'Serverless Calculator using Step Functions and Lambda'

Resources:
  CalculatorLambdaRole:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
            Action: sts:AssumeRole
      ManagedPolicyArns:
        - arn:aws:iam::aws:policy/service-role/AWSLambdaBasicExecutionRole

  StepFunctionsRole:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: states.amazonaws.com
            Action: sts:AssumeRole
      Policies:
        - PolicyName: InvokeLambda
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - lambda:InvokeFunction
                Resource: !GetAtt CalculatorFunction.Arn

  CalculatorFunction:
    Type: AWS::Lambda::Function
    Properties:
      Handler: index.handler
      Role: !GetAtt CalculatorLambdaRole.Arn
      Code:
        ZipFile: |
          def handler(event, context):
              operator = event.get('operator')
              operands = event.get('operands', [])
              
              if not operator or not operands or len(operands) < 2:
                  return {'error': 'Invalid input'}
              
              try:
                  if operator == '+':
                      result = sum(operands)
                  elif operator == '-':
                      result = operands[0] - sum(operands[1:])
                  elif operator == '*':
                      result = 1
                      for num in operands:
                          result *= num
                  elif operator == '/':
                      result = operands[0]
                      for num in operands[1:]:
                          if num == 0:
                              return {'error': 'Division by zero'}
                          result /= num
                  else:
                      return {'error': 'Unsupported operator'}
                  
                  return {'result': result}
              except Exception as e:
                  return {'error': str(e)}
      Runtime: python3.9
      Timeout: 10
      MemorySize: 128

  CalculatorLogGroup:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName: !Sub /aws/lambda/${CalculatorFunction}
      RetentionInDays: 3

  CalculatorStateMachine:
    Type: AWS::StepFunctions::StateMachine
    Properties:
      RoleArn: !GetAtt StepFunctionsRole.Arn
      DefinitionString: !Sub |
        {
          "Comment": "A calculator state machine",
          "StartAt": "ValidateInput",
          "States": {
            "ValidateInput": {
              "Type": "Choice",
              "Choices": [
                {
                  "Variable": "$.operator",
                  "StringEquals": "+",
                  "Next": "Calculate"
                },
                {
                  "Variable": "$.operator",
                  "StringEquals": "-",
                  "Next": "Calculate"
                },
                {
                  "Variable": "$.operator",
                  "StringEquals": "*",
                  "Next": "Calculate"
                },
                {
                  "Variable": "$.operator",
                  "StringEquals": "/",
                  "Next": "Calculate"
                }
              ],
              "Default": "FailState"
            },
            "Calculate": {
              "Type": "Task",
              "Resource": "${CalculatorFunction.Arn}",
              "End": true,
              "Catch": [
                {
                  "ErrorEquals": ["States.ALL"],
                  "Next": "FailState"
                }
              ]
            },
            "FailState": {
              "Type": "Fail",
              "Cause": "Invalid operation or calculation error"
            }
          }
        }

Outputs:
  StateMachineArn:
    Description: ARN of the Calculator State Machine
    Value: !Ref CalculatorStateMachine

  LambdaFunctionArn:
    Description: ARN of the Calculator Lambda Function
    Value: !GetAtt CalculatorFunction.Arn