template/claude-3-5-sonnet-20241022/row_141_update_1_template_20250419_115800.yaml
AWSTemplateFormatVersion: '2010-09-09'
Description: 'Automated image recognition pipeline using Step Functions, S3, and Rekognition'

Resources:
  ImageBucket:
    Type: 'AWS::S3::Bucket'
    Properties:
      VersioningConfiguration:
        Status: Enabled
      NotificationConfiguration:
        EventBridgeConfiguration:
          EventBridgeEnabled: true
    DeletionPolicy: Delete

  SNSTopic:
    Type: 'AWS::SNS::Topic'
    Properties:
      DisplayName: 'Face Detection Alerts'

  SNSTopicSubscription:
    Type: 'AWS::SNS::Subscription'
    Properties:
      TopicArn: !Ref SNSTopic
      Protocol: sms
      Endpoint: '+14071113333'

  StepFunctionsRole:
    Type: 'AWS::IAM::Role'
    Properties:
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: states.amazonaws.com
            Action: 'sts:AssumeRole'
      ManagedPolicyArns:
        - 'arn:aws:iam::aws:policy/service-role/AWSStepFunctionsFullAccess'
      Policies:
        - PolicyName: StepFunctionsCustomPolicy
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - 's3:GetObject'
                  - 'rekognition:DetectLabels'
                  - 'sns:Publish'
                Resource:
                  - !Sub '${ImageBucket.Arn}/*'
                  - !GetAtt SNSTopic.Arn
                  - '*'

  EventBridgeRole:
    Type: 'AWS::IAM::Role'
    Properties:
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: events.amazonaws.com
            Action: 'sts:AssumeRole'
      Policies:
        - PolicyName: EventBridgeStepFunctionsPolicy
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action: 'states:StartExecution'
                Resource: !Ref StateMachine

  StateMachine:
    Type: 'AWS::StepFunctions::StateMachine'
    Properties:
      RoleArn: !GetAtt StepFunctionsRole.Arn
      DefinitionString: !Sub |
        {
          "Comment": "Image recognition workflow",
          "StartAt": "ValidateImage",
          "States": {
            "ValidateImage": {
              "Type": "Choice",
              "Choices": [
                {
                  "Variable": "$.detail.object.key",
                  "StringMatches": "*.jpg",
                  "Next": "DetectLabels"
                },
                {
                  "Variable": "$.detail.object.key",
                  "StringMatches": "*.jpeg",
                  "Next": "DetectLabels"
                },
                {
                  "Variable": "$.detail.object.key",
                  "StringMatches": "*.png",
                  "Next": "DetectLabels"
                }
              ],
              "Default": "Failed"
            },
            "DetectLabels": {
              "Type": "Task",
              "Resource": "arn:aws:states:::rekognition:detectLabels",
              "Parameters": {
                "Image": {
                  "S3Object": {
                    "Bucket": "${ImageBucket}",
                    "Name.$": "$.detail.object.key"
                  }
                },
                "MaxLabels": 10,
                "MinConfidence": 90
              },
              "Next": "CheckForHuman"
            },
            "CheckForHuman": {
              "Type": "Choice",
              "Choices": [
                {
                  "Variable": "$.Labels[*].Name",
                  "StringEquals": "Human",
                  "Next": "SendAlert"
                },
                {
                  "Variable": "$.Labels[*].Name",
                  "StringEquals": "Person",
                  "Next": "SendAlert"
                }
              ],
              "Default": "Success"
            },
            "SendAlert": {
              "Type": "Task",
              "Resource": "arn:aws:states:::sns:publish",
              "Parameters": {
                "TopicArn": "${SNSTopic}",
                "Message": "Human face detected in image: $.detail.object.key"
              },
              "End": true
            },
            "Success": {
              "Type": "Succeed"
            },
            "Failed": {
              "Type": "Fail"
            }
          }
        }

  EventRule:
    Type: 'AWS::Events::Rule'
    Properties:
      Description: 'Rule to trigger Step Functions on S3 image upload'
      EventPattern:
        source:
          - aws.s3
        detail-type:
          - 'Object Created'
        detail:
          bucket:
            name:
              - !Ref ImageBucket
      State: ENABLED
      Targets:
        - Arn: !Ref StateMachine
          Id: 'ProcessImage'
          RoleArn: !GetAtt EventBridgeRole.Arn

  CleanupBucketFunction:
    Type: 'AWS::Lambda::Function'
    Properties:
      Handler: 'index.handler'
      Role: !GetAtt CleanupFunctionRole.Arn
      Code:
        ZipFile: |
          import boto3
          import cfnresponse
          def handler(event, context):
              try:
                  if event['RequestType'] == 'Delete':
                      s3 = boto3.resource('s3')
                      bucket = s3.Bucket(event['ResourceProperties']['BucketName'])
                      bucket.objects.all().delete()
                  cfnresponse.send(event, context, cfnresponse.SUCCESS, {})
              except Exception as e:
                  cfnresponse.send(event, context, cfnresponse.FAILED, {"Error": str(e)})
      Runtime: python3.9
      Timeout: 300

  CleanupFunctionRole:
    Type: 'AWS::IAM::Role'
    Properties:
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
            Action: 'sts:AssumeRole'
      ManagedPolicyArns:
        - 'arn:aws:iam::aws:policy/service-role/AWSLambdaBasicExecutionRole'
      Policies:
        - PolicyName: S3BucketCleanup
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - 's3:ListBucket'
                  - 's3:DeleteObject'
                Resource:
                  - !GetAtt ImageBucket.Arn
                  - !Sub '${ImageBucket.Arn}/*'

  BucketCleanupCustomResource:
    Type: 'Custom::BucketCleanup'
    Properties:
      ServiceToken: !GetAtt CleanupBucketFunction.Arn
      BucketName: !Ref ImageBucket

Outputs:
  BucketName:
    Description: 'Name of the S3 bucket for uploading images'
    Value: !Ref ImageBucket

  StateMachineArn:
    Description: 'ARN of the Step Functions state machine'
    Value: !Ref StateMachine

  SNSTopicArn:
    Description: 'ARN of the SNS topic for alerts'
    Value: !Ref SNSTopic