template/gpt-4o/row_141_update_11_template_20250428_123847.yaml
AWSTemplateFormatVersion: '2010-09-09'
Resources:
  ImageUploadBucket:
    Type: AWS::S3::Bucket
    Properties:
      NotificationConfiguration:
        EventBridgeConfiguration:
          EventBridgeEnabled: true

  AlertSNSTopic:
    Type: AWS::SNS::Topic

  ImageProcessingStateMachineRole:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: states.amazonaws.com
            Action: sts:AssumeRole
      Policies:
        - PolicyName: ImageProcessingPolicy
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - s3:GetObject
                Resource: !Sub arn:aws:s3:::${ImageUploadBucket}/*
              - Effect: Allow
                Action:
                  - rekognition:DetectLabels
                Resource: '*'
              - Effect: Allow
                Action:
                  - sns:Publish
                Resource: !Ref AlertSNSTopic

  EventBridgeToStepFunctionsRole:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: events.amazonaws.com
            Action: sts:AssumeRole
      Policies:
        - PolicyName: EventBridgeInvokeStepFunctions
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action: states:StartExecution
                Resource: !Ref ImageProcessingStateMachine

  ImageProcessingStateMachine:
    Type: AWS::StepFunctions::StateMachine
    Properties:
      RoleArn: !GetAtt ImageProcessingStateMachineRole.Arn
      DefinitionString: !Sub |
        {
          "Comment": "A simple AWS Step Functions state machine that processes images.",
          "StartAt": "ValidateImage",
          "States": {
            "ValidateImage": {
              "Type": "Choice",
              "Choices": [
                {
                  "Variable": "$.fileExtension",
                  "StringEquals": ".jpg",
                  "Next": "DetectFaces"
                },
                {
                  "Variable": "$.fileExtension",
                  "StringEquals": ".png",
                  "Next": "DetectFaces"
                }
              ],
              "Default": "InvalidFile"
            },
            "DetectFaces": {
              "Type": "Task",
              "Resource": "arn:aws:states:::aws-sdk:rekognition:detectLabels",
              "Parameters": {
                "Image": {
                  "S3Object": {
                    "Bucket": "${ImageUploadBucket}",
                    "Name.$": "$.key"
                  }
                },
                "MaxLabels": 10,
                "MinConfidence": 75
              },
              "Next": "CheckForHumans"
            },
            "CheckForHumans": {
              "Type": "Choice",
              "Choices": [
                {
                  "Variable": "$.Labels[0].Name",
                  "StringEquals": "Human",
                  "Next": "SendAlert"
                },
                {
                  "Variable": "$.Labels[0].Name",
                  "StringEquals": "Person",
                  "Next": "SendAlert"
                }
              ],
              "Default": "EndState"
            },
            "SendAlert": {
              "Type": "Task",
              "Resource": "arn:aws:states:::sns:publish",
              "Parameters": {
                "TopicArn": "${AlertSNSTopic}",
                "Message": "Human detected in image!",
                "PhoneNumber": "+14071113333"
              },
              "End": true
            },
            "InvalidFile": {
              "Type": "Fail",
              "Error": "InvalidFileType",
              "Cause": "The file is not a valid image type."
            },
            "EndState": {
              "Type": "Succeed"
            }
          }
        }

  S3BucketCleanupFunction:
    Type: AWS::Lambda::Function
    Properties:
      Handler: index.handler
      Role: !GetAtt LambdaExecutionRole.Arn
      Code:
        ZipFile: |
          import boto3
          import os

          def handler(event, context):
              s3 = boto3.resource('s3')
              bucket = s3.Bucket(os.environ['BUCKET_NAME'])
              bucket.objects.all().delete()
      Runtime: python3.12
      Environment:
        Variables:
          BUCKET_NAME: !Ref ImageUploadBucket

  LambdaExecutionRole:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
            Action: sts:AssumeRole
      Policies:
        - PolicyName: S3BucketCleanupPolicy
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - s3:ListBucket
                  - s3:DeleteObject
                Resource:
                  - !Sub arn:aws:s3:::${ImageUploadBucket}
                  - !Sub arn:aws:s3:::${ImageUploadBucket}/*

Outputs:
  S3BucketName:
    Description: "Name of the S3 bucket for image uploads"
    Value: !Ref ImageUploadBucket

  StateMachineARN:
    Description: "ARN of the Step Functions state machine"
    Value: !Ref ImageProcessingStateMachine

  SNSTopicARN:
    Description: "ARN of the SNS topic for alerts"
    Value: !Ref AlertSNSTopic